<?php
    include('pagination.phtml');
    $pageLink = 'brand?p=' ;

    if( $brandsAdd )
        echo '<script>alert("'.$brandName.' 品牌新增成功")</script>';

    if( $brandsUpdate )
        echo '<script>alert("'.$bidName.' 品牌修改成功")</script>';
    
?>


<script>
//圖片上傳預覽
var loadFile = function(event,output) {                                                                                       
    var output = document.getElementById(output);
    output.src = URL.createObjectURL(event.target.files[0]);
};

function saveCheck(){

    if( $("#brandName").val().length < 2 || $("#brandName").val().length > 15 )
        alert(" 品牌名稱字數為 2~15 字 ");
    else if( $("#imgM").val() == '' )
        alert( " 請選擇品牌圖片 ")
    else
        $("#brandadd").submit();


}

function updateCheck(i){
    if( $("#bidName"+i).val().length < 2 || $("#bidName"+i).val().length > 15 )
        alert(" 品牌名稱字數為 2~15 字 ");
    else
        $("#brand" + i).submit();

}

</script>


<form name="brandadd" id="brandadd" enctype="multipart/form-data" action="" method="POST">
<p>
<table border=1>
    <tr>
        <td bgcolor="#003cbd" style="color:#FFFFFF;">品牌名稱</td><td><input type="text" name="brandName" id="brandName" ></td>
    </tr>
    <tr>
        <td bgcolor="#003cbd" style="color:#FFFFFF;">品牌圖片</td><td><input type="file" name="imgM" id="imgM" onchange="loadFile(event,'output1')" /> </td>
    </tr>
    <tr>
        <td bgcolor="#003cbd" style="color:#FFFFFF;">圖片預覽</td><td><img id="output1"  width=36 height=36 alt="預覽圖"/></td> 
    </tr>
    <tr>
        <td colspan=2 style="text-align:center;"><input type="button" name="save" value=" 新增品牌 " onclick="saveCheck()" ></td>
    </tr>
</table>
</form>

<p> </p>
<p> </p>
<p> </p>

<table border=1>
<tr>
    <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">品牌圖片</td>
    <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">品牌名稱</td>
    <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">修改</td>
</tr>

<?php for($i=0;$i<$brand['args']['num'];$i++){ ?>
<form name="brand<?php echo $i ?>" id="brand<?php echo $i ?>" action="" method="POST" enctype="multipart/form-data" >
<input type="hidden" name="bid" value="<?php echo $brand['d'][$i]['brandUid'] ?> ">
<tr>
    <td><img id="pic<?php echo $i ?>"  src="<?php echo CZ::model('images')->imagePath_getter($brand['d'][$i]['imageUid'],'_b' ) ?>" width=36 height=36 alt="預覽圖"  ></td>
    
    <td><input type="text" name="bidName"  id="bidName<?php echo $i ?>" value="<?php echo $brand['d'][$i]['brandName'];?>" >   </td>
    <td>
        <input type="file" name="imgM2" id="imgM2" onchange="loadFile(event,'pic<?php echo $i ?>')" />
        <br>
        <input type="button" name="modify" value="修改" onclick="updateCheck(<?php echo $i?>)"> 
    </td>    
</tr>
</form>
<?php    
         }   
    pagination($p,$brandCount['d'][0]['count(*)'],$pageLink);
?>

