
<p><p>
<table border=1>
    <tr>
        <td>項目</td>
        <td>執行</td>
        <td>說明</td>
    </tr>
    <tr>
        <td>商品下架</td>
        <td></td>
        <td>說明</td>
    </tr>
    <tr>
        <td>即將到期點數通知</td>
        <td></td>
        <td>說明</td>
    </tr>
    
    <tr>
        <td>會員興趣pro等級與頭銜更新</td>
        <td><input type="button" value="執行" onclick="window.open('/cron/users_userLevel_update');"></td>
        <td>可重覆執行</td>
    </tr>
    <tr>
        <td>會員點數校正</td>
        <td><input type="button" value="執行" onclick="window.open('/cron/users_points_update');"></td>
        <td>可重覆執行<p>修正users.userPoint 與 點數帳戶明細不一致問題</td>
    </tr>
    <tr>
        <td>會員基本資料填寫完成給點數</td>
        <td><input type="button" value="執行" onclick="window.open('/cron/users_details_check');"></td>
        <td>可重覆執行</td>
    </tr>        
</table>
        
