<script language="JavaScript">
    $(document).ready(function(){ 
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
    });


function checklogistics(){

//alert( 
    if( $("#logistics").find(":selected").val() == '4' )
        $("#otherlogistics").show();
    else
        $("#otherlogistics").hide();
}

</script>

<div class="co12-12">                                                



<form name="" id="" action="" method="post">

<p>
    <table style="border:1px"  width="50%" border=1 >
    <?php if($orderUpdate){ ?>
       <tr>
            <td colspan="2" bgcolor="#0b6100" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> 訂單修改成功 
            </td>
        </tr>
    <?php  } ?>
    <?php if(!$orderUpdate && !empty($oid2)   ){ ?>
       <tr>
            <td colspan="2" bgcolor="#610023" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> 訂單修改失敗 ！！ 
            </td>
        </tr>
    <?php  } ?>
        <tr>
            <td colspan="2" bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">訂單資訊</td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">訂單編號</td>
            <td><?php echo $order['goodsorderId'] ?> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">商品編號</td>
            <td> <?php echo $order['goodsUid'] ?> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">供應商</td>
            <td> <?php echo $suppliers['d'][0]['supplierName'] ?> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">品牌名稱</td>
            <td> <?php echo $brands['d'][0]['brandName'] ?> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">商品名稱</td>
            <td><?php echo $order['goodsName'] ?></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">商品形式</td>
            <td> <?php  echo ($order['goodsType']) ? '郵寄商品'  : '電子票劵' ;  ?>
            </td>
        </tr>
       <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">興趣分類</td>
            <td>
                <?php 
                    $allInterest=CZ::model('Interests')->all_getter();
                    $goodsInterest=explode(';',$order['goodsInterests']);
                    for($i=0;$i<count($goodsInterest);$i++)
                        echo $allInterest['d'][$goodsInterest[$i]].' , ';
                ?>
            </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">兌換時間</td>
            <td><?php echo $order['goodsorderTime'] ?> 
            </td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">訂購資訊</td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">會員帳號</td>
            <td><?php echo $order['userUid'] ?> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">會員名稱</td>
            <td><?php echo $xuser['basic']['userRealname'] ?></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">收件人</td>
            <td><?php echo $order['goodsorderReciverName'] ?></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">收件電話</td>
            <td><?php echo $order['goodsorderReciverTel'] ?></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">收件地址</td>
            <td><?php echo $order['goodsorderReciverAddress'] ?></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">備註</td>
            <td><?php echo $order['goodsorderNote'] ?></td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">出貨資訊
            <input type="hidden" name="oid" value="<?php echo $order['goodsorderId'] ?>">
            </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">出貨狀態</td>
            <td> 
                    <select name="status" id="status">
                        <option value="0" <?php echo ($order['goodsorderStatus'] == '0') ? 'selected="selected"' : '' ?> >使用者下單</option>
                        <option value="1" <?php echo ($order['goodsorderStatus'] == '1') ? 'selected' : '' ?> >客服人員確認</option>
                        <option value="2" <?php echo ($order['goodsorderStatus'] == '2') ? 'selected' : '' ?> >確認已出貨</option>
                        <option value="3" <?php echo ($order['goodsorderStatus'] == '3') ? 'selected' : '' ?> >使用者已收貨</option>
                        <option value="9" <?php echo ($order['goodsorderStatus'] == '9' ) ? 'selected' : '' ?> >已完成</option>
                        <option value="10" <?php echo ($order['goodsorderStatus'] == '10' ) ? 'selected' : '' ?> >取消兌換</option>
                    </select>

             </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">出貨時間</td>
            <td><input type="text" name="sendgoodsdate" id="datepicker1" value="<?php echo $order['goodsorderTimeDelivery'] ?>" /> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">物流廠商</td>
            <td>

                    <select name="logistics" id="logistics" onchange="checklogistics()">
                        <option value="0" <?php echo ($order['goodsLogistics'] == '0') ? 'selected="selected"' : '' ?>>郵局</option>
                        <option value="1" <?php echo ($order['goodsLogistics'] == '1') ? 'selected="selected"' : '' ?>>黑貓宅急便</option>
                        <option value="2" <?php echo ($order['goodsLogistics'] == '2') ? 'selected="selected"' : '' ?> >宅配通</option>
                        <option value="3" <?php echo ($order['goodsLogistics'] == '3') ? 'selected="selected"' : '' ?>>新竹物流</option>
                        <option value="4" <?php echo ($order['goodsLogistics'] == '4') ? 'selected="selected"' : '' ?>>其他</option>
                    </select>


                    <input type="text" name="otherlogistics" id="otherlogistics" <?php echo ($order['goodsLogistics'] == 'other') ? '' : ' style="display:none;"' ?> value="<?php echo $order['goodsOtherLogistics'] ?>" >

            </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">物流編號</td>
            <td><input type="text" name="logisticsId" value="<?php echo $order['goodsLogisticsId'] ?>"></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">備註</td>
            <td>
            <textarea name="goodsorderNote" cols=50  rows=5 ><?php echo $order['goodsorderNote'] ?>
            </textarea>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <p> <input type="submit" value="   送出  " />
                    <input type="button" value="   取消  " />
            </td>
        </tr>
    </table>
</form>
<p><p><p>


