
<?php

$brandOption='';
$suppliersOption='';


for($i=0;$i<$brand['args']['num'];$i++)
    $brandOption .= '<option value="'.$brand['d'][$i]['brandUid'].'">'.$brand['d'][$i]['brandName'].'</option>';

for($i=0;$i<$suppliers['args']['num'];$i++)
    $suppliersOption .= '<option value="'.$suppliers['d'][$i]['supplierUid'].'">'.$suppliers['d'][$i]['supplierName'].'</option>';


?>
 <script src="//cdn.ckeditor.com/4.5.5/full/ckeditor.js"></script>

<script language="JavaScript">
    $(document).ready(function(){ 
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
        $("#datepicker3").datepicker();
    });


//圖片上傳預覽
var loadFile = function(event,output) {
    var output = document.getElementById(output);
    output.src = URL.createObjectURL(event.target.files[0]);
};

function check()
{
    var checkboxNum = $("#goodsnew :checkbox:checked").length;

    if(goodsnew.goodsName.value == "") 
        alert("請輸入商品名稱");
    else if( $("#goodsName").val().length > 30 || $("#goodsName").val().length < 2 )
        alert(" 商品名稱為 2~30 個字");
    else if( $("#goodsCost").val() < 1 || isNaN($("#goodsCost").val())     )
        alert( "成本價需大於0");
    else if( $("#goodsPriceMarket").val() < 1  || isNaN($("#goodsPriceMarket").val()) )
        alert( "原價需大於0");
    else if($("#goodsNumStorage").val() < 1 || isNaN($("#goodsNumStorage").val())   )
        alert("商品數量需大於0");
    else if($("#goodsPricePoint").val() < 1 || isNaN($("#goodsPricePoint").val()) )
        alert("兌換點數需大於0");      
    else if(goodsnew.imgM.value == "")
        alert("請選擇商品圖片");          
    else if(goodsnew.goodsIntro.value == "")
        alert("請輸入商品內容");      
    else if( $("#goodsNote").val() == "")
        alert("請輸入注意事項"); 
    else if( checkboxNum > 3 || checkboxNum == 0  )
        alert("請選擇 1~3 個商品興趣屬性 ");    
    else if(goodsnew.supplierUid.value == 0)
        alert("請選擇供應商");
    else if( $("#brandUid").val() == 0)
        alert("請選擇品牌名稱");
    else  
        goodsnew.submit();        
}

function imgUpload(formname,divname){

   var formData = new FormData($("#"+formname)[0]); 

   $.ajax({
     url: '/admin/imgUpload_ajax',
     type: 'POST',
     data: formData,
     async: false,
     cache: false,
     contentType: false,
     enctype: 'multipart/form-data',
     processData: false,
     success: function (message) {
        document.getElementById(divname).innerHTML=message;
     },
     error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById(divname).innerHTML=errorThrown;
     }

   });

}



</script>

<style>
    .admin_goodsnew_td { background-color:#003cbd; color:#FFFFFF; text-align:center;}
</style>


<div class="co12-10 co12-xs-12">



<div id="msg"> </div>

<form enctype="multipart/form-data" id="goodsnew" name="goodsnew" action="" method="post">

<table style="border:1px;table-layout:fixed"  width="85%" border=1 >
    <?php if( array_key_exists('success',$goodsMsg)   ){ ?>
       <tr>
            <td width="10%"  bgcolor="#0b6100"></td>
            <td width="90%"  bgcolor="#0b6100" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> <?php echo $goodsMsg['success'] ?>  新增成功 
            </td>
        </tr>
    <?php  } ?>
    <?php if( array_key_exists('error',$goodsMsg)  ){ ?>
       <tr>
            <td width="10%"  bgcolor="#610023"></td>    
            <td width="90%"  bgcolor="#610023" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> <?php echo $goodsMsg['error'] ?> 新增失敗 ！！ 
            </td>
        </tr>
    <?php  } ?>



    <tr>
        <td class="admin_goodsnew_td" width='10%'>商品形式</td>
        <td width='90%'>
            <select name="goodsType" id="goodsType">
                <option value="0">郵寄商品</option>
                <option value="1">電子票劵</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*商品名稱</td>
        <td><input type="text" name="goodsName" id="goodsName" value="" /> </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*供應商</td> 
        <td>    
            <select name="supplierUid" id="supplierUid">
                <option value="0">無</option>
                <?php echo $suppliersOption ?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*品牌名稱 </td>
        <td>
            <select name="brandUid" id="brandUid">
                <option value="0">無</option>
                <?php echo $brandOption ?>
            </select>
        </td>
    </tr>
    <tr>                                                                                                                 
        <td class="admin_goodsnew_td">分店資料</td>
        <td><textarea name="goodsStore" rows="4" cols="50"></textarea></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*商品圖片</td>
        <td>
                <input type="file" class="input" name="imgM" id="imgM" onchange="loadFile(event,'output1')" /> 
                <p><p><p>
                <img id="output1" alt="預覽圖" width="354" height="199"  />
                建議圖檔大小 354x199
                <p><p><p>      
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*上架日期</td>
        <td><input type="text" name="goodsTimeStart" id="datepicker1" value="<?php echo date("Y-m-d")?>" /> </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*下架日期</td>
        <td>
            <label><input type="radio" name="TimeClose" id="TimeClose"  value="1" checked="true">
            <span class="radio"></span>不限  </label> 
            &nbsp;&nbsp; 
            <label><input type="radio" name="TimeClose" id="TimeClose"  value="1">
            <span class="radio"></span>指定時間</label> 
            <input type="text" name="goodsTimeClose" id="datepicker2" value="" /> 
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*有效期限</td>
        <td>
            <label><input type="radio" name="DateLimitClose" id="DateLimitClose"  value="1" checked="true">
            <span class="radio"></span>不限  </label> 
            &nbsp;&nbsp;
            <label><input type="radio" name="DateLimitClose" id="DateLimitClose"  value="1">
            <span class="radio"></span>指定時間</label> 
            <input type="text" name="goodsDateLimitClose" id="datepicker3" value="" /> 
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*成本價</td>
        <td><input type="text" name="goodsCost" id="goodsCost" value="" /></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*原價</td>
        <td><input type="text" name="goodsPriceMarket" id="goodsPriceMarket" value="" /></td>
    </tr>    
    <tr>
        <td class="admin_goodsnew_td">*兌換點數</td>
        <td><input type="text" name="goodsPricePoint" id="goodsPricePoint" value="" /></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*商品數量</td>
        <td><input type="text" name="goodsNumStorage" id="goodsNumStorage" />   </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*商品內容</td>
        <td><textarea class="ckeditor" name="goodsIntro" rows="6" cols="40"><div id="ajaxImg1"></div></textarea></td>
    </tr>    
    <tr>
        <td class="admin_goodsnew_td">*注意事項</td>
        <td><textarea class="ckeditor" name="goodsNote" rows="4" cols="40"></textarea></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*興趣屬性</td>
        <td><p>
                <table>
                    <?php
                        $i=0;
                        $total=count($interests['d']);
 
                        foreach ($interests['d'] as $key => $value) {
                            if( $i % 7  == 0 )
                                echo '<tr>';

                            echo    '<td><label>
                                    <input type="checkbox" name="goodsInterests['.$key.']" value="'.$key.'">
                                    <span class="checkbox"></span>'.$value.
                                    '&nbsp;&nbsp;</label></td>';
                            
                            if( $i % 7  == 6 )
                                echo '</tr>';
                         
                            $i++;    
                            
                        }

                    ?>
                </table><p>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">*狀態</td>
        <td>
            <label><input type="radio" name="goodsStatus" id="goodsStatus"  value="1" checked="true">
            <span class="radio"></span>啟用</label>
            <label><input type="radio" name="goodsStatus" id="goodsStatus"  value="0">
            <span class="radio"></span>停用</label>
        </td>
    </tr>
    <tr>
        <td colspan=2 align='center' >
            <input name="btn" id="btn" type="button" value="&nbsp;&nbsp;&nbsp;儲存&nbsp;&nbsp;&nbsp;"  onClick="check()" /> 
            <input name="cancel" id="cancel" type="button" value="&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;" onclick="window.location='/admin/goodslist'" > 

        </td>
    </tr>
</table>
</form>

<p><p>
好康內容圖片(1-5張)：                                                                                                               
<table style="border:1px;table-layout:fixed"  width="50%" border=1 >
    <tr>
        <td class="admin_goodsnew_td" width='20%'>商品內容圖片1</td>
        <td width='50%'>
            <form name="form1" id="form1" action="" method="POST" enctype="multipart/form-data"> 
                
                <input type="file" class="input" name="img1" id="img1" onchange="loadFile(event,'output2')" />
                <img id="output2"/>
                <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form1','ajaxImg1')">
                <div id="ajaxImg1"></div>
                <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>">
                </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片2 </td>
        <td>
            <form name="form2" id="form2" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img2" id="img2" onchange="loadFile(event,'output3')" />
            <img id="output3"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form2','ajaxImg2')">
            <div id="ajaxImg2"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片3 </td>
        <td>
            <form name="form3" id="form3" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img3" id="img3" onchange="loadFile(event,'output4')" />
            <img id="output4"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form3','ajaxImg3')">
            <div id="ajaxImg3"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
        </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片4 </td>
        <td>
            <form name="form4" id="form4" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img4" id="img4" onchange="loadFile(event,'output5')" />
            <img id="output5"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form4','ajaxImg4')">
            <div id="ajaxImg4"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片5 </td>
        <td>
            <form name="form5" id="form5" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img5" id="img5" onchange="loadFile(event,'output6')" />
            <img id="output6"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form5','ajaxImg5')">
            <div id="ajaxImg5"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
</table>    


</div>
