
<?php

$brandOption='';
$suppliersOption='';
$imgMasterPath='';
$img1='';
$img2='';
$img3='';
$img4='';
$img5='';

for($i=0;$i<$brandAll['args']['num'];$i++)
    $brandOption .= '<option value="'.$brandAll['d'][$i]['brandUid'].'">'.$brandAll['d'][$i]['brandName'].'</option>';

for($i=0;$i<$suppliersAll['args']['num'];$i++)
    $suppliersOption .= '<option value="'.$suppliersAll['d'][$i]['supplierUid'].'">'.$suppliersAll['d'][$i]['supplierName'].'</option>';


$imgMasterPath ='';

function imgdir($imageUid)
{
   $dir_1 = substr($imageUid,0,3).'/' ;
   $dir_2 = substr($imageUid,-3).'/' ;
   return "/images/".$dir_1.$dir_2.$imageUid ;
}    


if(!empty($goods['imageUidMaster']) )
  $imgMasterPath = CZ::model('images')->imagePath_getter($goods['imageUidMaster'],'_dd');
    
if(!empty($goods['imageUid1']) )
  $img1 = imgdir($goods['imageUid1']).'_w.png';    

if(!empty($goods['imageUid2']) )
  $img2 = imgdir($goods['imageUid2']).'_w.png';

if(!empty($goods['imageUid3']) )
  $img3 = imgdir($goods['imageUid3']).'_w.png'; 

if(!empty($goods['imageUid4']) )
  $img4 = imgdir($goods['imageUid4']).'_w.png';           

if(!empty($goods['imageUid5']) )
  $img5 = imgdir($goods['imageUid5']).'_w.png';  




?>
 <script src="//cdn.ckeditor.com/4.5.5/full/ckeditor.js"></script>

<script language="JavaScript">
    $(document).ready(function(){ 
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
        $("#datepicker3").datepicker();
    });


//圖片上傳預覽
var loadFile = function(event,output) {
    var output = document.getElementById(output);
    output.src = URL.createObjectURL(event.target.files[0]);
};

function check()
{
    var checkboxNum = $("#goodsnew :checkbox:checked").length;

    if(goodsnew.goodsName.value == "") 
        alert("請輸入商品名稱");
    else if(goodsnew.goodsNumStorage.value == "")
        alert("請輸入商品數量");
    else if(goodsnew.goodsPricePoint.value == "")
        alert("請輸入兌換點數");      
    else if(goodsnew.goodsIntro.value == "")
        alert("請輸入商品內容");      
    else if( checkboxNum > 3 || checkboxNum == 0  )
        alert("請選擇 1~3 個商品興趣屬性 ");    
    else if(goodsnew.supplierUid.value == "")
        alert("請選擇供應商");
    else  
        goodsnew.submit();        
}

function imgUpload(formname,divname){

   var formData = new FormData($("#"+formname)[0]); 

   $.ajax({
     url: '/admin/imgUpload_ajax',
     type: 'POST',
     data: formData,
     async: false,
     cache: false,
     contentType: false,
     enctype: 'multipart/form-data',
     processData: false,
     success: function (message) {
        document.getElementById(divname).innerHTML=message;
     },
     error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById(divname).innerHTML=errorThrown;
     }

   });

}



</script>

<style>
    .admin_goodsnew_td { background-color:#003cbd; color:#FFFFFF; text-align:center;}
</style>


<div class="co12-10 co12-xs-12">



<div id="msg"> </div>

<form enctype="multipart/form-data" id="goodsnew" name="goodsnew" action="" method="post">

<table style="border:1px;table-layout:fixed"  width="90%" border=1 >
    <?php if( array_key_exists('success',$goodsMsg)   ){ ?>
       <tr>
            <td width="10%"  bgcolor="#0b6100"></td>
            <td width="90%"  bgcolor="#0b6100" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> <?php echo $goodsMsg['success'] ?>  修改成功 
            </td>
        </tr>
    <?php  } ?>
    <?php if( array_key_exists('error',$goodsMsg)  ){ ?>
       <tr>
            <td width="10%"  bgcolor="#610023"></td>    
            <td width="90%"  bgcolor="#610023" style="color:#FFFFFF; text-align:center; font-size: 120%">
              <p> <?php echo $goodsMsg['error'] ?> 修改失敗 ！！ 
            </td>
        </tr>
    <?php  } ?>

    <tr>
        <td class="admin_goodsnew_td" width='10%'>商品編號</td>
        <td width='90%'>
            <?php echo $goods['goodsUid']  ?> 
            <input type="hidden" name="goodsUid" id="goodsUid" value="<?php echo $goods['goodsUid'];?>" />
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td" width='10%'>商品形式</td>
        <td width='90%'>
            <select name="goodsType" id="goodsType">
                <option value="0" <?php echo (!$goods['goodsType']) ? 'selected' : '' ?> >郵寄商品</option>
                <option value="1" <?php echo ($goods['goodsType']) ? 'selected' : '' ?> >電子票劵</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品名稱</td>
        <td><input type="text" name="goodsName" id="goodsName" value="<?php echo $goods['goodsName'];?>" /> </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">供應商</td> 
        <td>    
            <select name="supplierUid" id="supplierUid">
                <?php echo '<option value="'.$suppliers['d'][0]['supplierUid'].'">'.$suppliers['d'][0]['supplierName'].'</option>'  ?>
                <?php echo $suppliersOption ?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">品牌名稱 </td>
        <td>
            <select name="brandUid" id="brandUid">
                <?php echo '<option value="'.$brand['d'][0]['brandUid'].'">'.$brand['d'][0]['brandName'].'</option>' ?>
                <?php echo $brandOption ?>
            </select>
        </td>
    </tr>
    <tr>                                                                                                                 
        <td class="admin_goodsnew_td">分店資料</td>
        <td><textarea name="goodsStore" rows="4" cols="50"><?php echo $goods['goodsStore'] ?></textarea></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品圖片</td>
        <td>
                <?php echo $imgMasterPath  ?>
                <input type="file" class="input" name="imgM" id="imgM" onchange="loadFile(event,'output1')" /> 
                <p><p><p>
                <img id="output1" src="<?php echo $imgMasterPath?>" />
                <p><p><p>      
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">上架日期</td>
        <td><input type="text" name="goodsTimeStart" id="datepicker1" value="<?php echo $goods['goodsTimeStart'] ?>" /> </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">下架日期</td>
        <td>
            <label><input type="radio" name="TimeClose" id="TimeClose"  value="1" checked="true">
            <span class="radio"></span>不限  </label> 
            &nbsp;&nbsp; 
            <label><input type="radio" name="TimeClose" id="TimeClose"  value="1">
            <span class="radio"></span>指定時間</label> 
            <input type="text" name="goodsTimeClose" id="datepicker2" value="<?php echo $goods['goodsTimeClose'] ?>" /> 
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">有效期限</td>
        <td>
            <label><input type="radio" name="DateLimitClose" id="DateLimitClose"  value="1" checked="true">
            <span class="radio"></span>不限  </label> 
            &nbsp;&nbsp;
            <label><input type="radio" name="DateLimitClose" id="DateLimitClose"  value="1">
            <span class="radio"></span>指定時間</label> 
            <input type="text" name="goodsDateLimitClose" id="datepicker3" value="<?php echo $goods['goodsDateLimitClose'] ?>" /> 
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">成本價</td>
        <td><input type="text" name="goodsCost" id="goodsCost" value="<?php echo $goods['goodsCost'] ?>" /></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">原價</td>
        <td><input type="text" name="goodsPriceMarket" id="goodsPriceMarket" value="<?php echo $goods['goodsPriceMarket'] ?>" /></td>
    </tr>    
    <tr>
        <td class="admin_goodsnew_td">兌換點數</td>
        <td><input type="text" name="goodsPricePoint" id="goodsPricePoint" value="<?php echo $goods['goodsPricePoint'] ?>" /></td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品數量</td>
        <td><input type="text" name="goodsNumStorage" id="goodsNumStorage"  value="<?php echo $goods['goodsNumStorage'] ?>"/>   </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容</td>
        <td><textarea class="ckeditor" name="goodsIntro" rows="6" cols="40">
                <?php echo $goods['goodsIntro'] ?>
            </textarea>
        </td>
    </tr>    
    <tr>
        <td class="admin_goodsnew_td">注意事項</td>
        <td>
            <textarea class="ckeditor" name="goodsNote" rows="4" cols="40">
                <?php echo $goods['goodsNote'] ?> 
            </textarea>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">興趣屬性</td>
        <td><p>
                <table>
                    <?php
                        $i=0;
                        $saveInteresrs = explode(';',$goods['goodsInterests']);
                        $total=count($interests['d']);
 
                        foreach ($interests['d'] as $key => $value) {
                            $checked='';
                            for($j=0;$j<count($saveInteresrs);$j++){  
                                if( $saveInteresrs[$j] == $key)
                                $checked = 'checked';
                            }
   
                            if( $i % 7  == 0 )
                                echo '<tr>';

                            echo    '<td><label>
                                    <input type="checkbox" name="goodsInterests['.$key.']" value="'.$key.'" '.$checked.' >
                                    <span class="checkbox"></span>'.$value.
                                    '&nbsp;&nbsp;</label></td>';
                            
                            if( $i % 7  == 6 )
                                echo '</tr>';
                         
                            $i++;    
                            
                        }

                    ?>
                </table><p>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">狀態</td>
        <td>
            <label><input type="radio" name="goodsStatus" id="goodsStatus"  value="1" <?php echo ($goods['goodsStatus']) ? 'checked="true"' : '' ?> >
            <span class="radio"></span>啟用</label>
            <label><input type="radio" name="goodsStatus" id="goodsStatus"  value="0" <?php echo (!$goods['goodsStatus']) ? 'checked="true"' : '' ?>>
            <span class="radio"></span>停用</label>
        </td>
    </tr>
    <tr>
        <td colspan=2 align='center' >
            <input name="btn" id="btn" type="button" value="     修改商品     "  onClick="check()" /> 
            <input name="cancel" id="cancel" type="button" value="回到商品管理列表" onclick="window.location='/admin/goodslist'" >
        </td>
    </tr>
</table>
</form>

<p><p>
好康內容圖片(1-5張)：                                                                                                               
<table style="border:1px;table-layout:fixed"  width="50%" border=1 >
    <tr>
        <td class="admin_goodsnew_td" width='20%'>商品內容圖片1</td>
        <td width='50%'>
            <form name="form1" id="form1" action="" method="POST" enctype="multipart/form-data"> 
                
                <input type="file" class="input" name="img1" id="img1" onchange="loadFile(event,'output2')" />
                <img id="output2" src="<?php echo $img1?>" alt="預覽圖" width="500" heigh="400"/>
                <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form1','ajaxImg1')">
                <div id="ajaxImg1"></div>
                <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>">
                </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片2 </td>
        <td>
            <form name="form2" id="form2" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img2" id="img2" onchange="loadFile(event,'output3')" />
            <img id="output3" src="<?php echo $img2?>" alt="預覽圖" width="500" heigh="400"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form2','ajaxImg2')">
            <div id="ajaxImg2"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片3 </td>
        <td>
            <form name="form3" id="form3" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img3" id="img3" onchange="loadFile(event,'output4')" />
            <img id="output4" src="<?php echo $img3?>" alt="預覽圖" width="500" heigh="400"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form3','ajaxImg3')">
            <div id="ajaxImg3"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
        </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片4 </td>
        <td>
            <form name="form4" id="form4" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img4" id="img4" onchange="loadFile(event,'output5')" />
            <img id="output5" src="<?php echo $img4?>" alt="預覽圖" width="500" heigh="400"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form4','ajaxImg4')">
            <div id="ajaxImg4"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
    <tr>
        <td class="admin_goodsnew_td">商品內容圖片5 </td>
        <td>
            <form name="form5" id="form5" action="" method="POST" enctype="multipart/form-data"> 
            <input type="file" name="img5" id="img5" onchange="loadFile(event,'output6')" />
            <img id="output6" src="<?php echo $img5?>" alt="預覽圖" width="500" heigh="400"/>
            <input id="uploadfile" type="button" value="上傳圖片" onclick="imgUpload('form5','ajaxImg5')">
            <div id="ajaxImg5"></div>
            <input name="goodsUid" type="hidden" value="<?php echo $goodsUid ?>"> 
            </form>
        </td>
    </tr>
</table>    


</div>
