<?php
include('pagination.phtml');
$intersetStr='';
$orderLink = 'goodslist?gid='.$gid.'&keyword='.$keyword.'&status='.$status;
//'&stime='.$stime.'&etime='.$etime ;


//$pageLink = $orderLink.'&orderby='.$orderby.'&desc='.$desc.'&p=' ;

$pageLink = $orderLink.'&p=' ;


?>

<div class="co12-10 co12-xs-12">                                                

<form name="idQuery" id="idQuery"action="" method="get">

<table border=1>
    <tr>
        <td>商品形式</td>
        <td>
           <select name="goodsType" id="goodsType">    
               <option value="1" <?php echo ($goodsType==1) ? 'selected="selected"' : ''?> >郵寄商品</option>
               <option value="2" <?php echo ($goodsType==2) ? 'selected="selected"' : ''?> >電子票劵</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>商品名稱</td>
        <td>
            <input type="text" name="keyword" id="keyword" value="<?php  echo (!empty($keyword)) ? $keyword : '';?>" />
        </td>
    </tr>
    <tr>
        <td>品牌名稱</td>
        <td>  
            <input type="text" name="brands" id="brands" value="<?php  echo (!empty($brands)) ? $brands : '';?>" />
        </td>
    </tr>    
    <tr>
        <td>狀態</td>
        <td>
            <select name="status" id="status">                                                                                          <option value="2" <?php echo ($status==2) ? 'selected="selected"' : ''?> >上架</option>
                <option value="1" <?php echo ($status==1) ? 'selected="selected"' : ''?> >下架</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <input type="submit" value="查詢" />
            <input type="reset" value="重設">
        </td>
    </tr>
</table>
<p><p>
<!--
<li>  
上架時間
<select name="syear" id="syear">
<option></option>
<?php //echo $year ?>
</select> 
年
<select name="smon" id="smon">
<option></option>   
<?php //echo $mon ?>
</select>
月
<select name="sday" id="sday">
<option></option>   
<?php //echo $day ?>
</select>
日

~ 下架時間：                                                                 
<select name="eyear" id="eyear">
<option> </option>   
<?php //echo $year ?>
</select> 
年
<select name="emon" id="emon">
<option> </option>   
<?php //echo $mon ?>
</select> 
月
<select name="eday" id="eday">
<option> </option>   
<?php //echo $day ?>
</select> 
日
</li>



</li>

-->

<!-- <li>會員帳號ID：<input type="text" name="userid" id="userid" value="" /></li> -->

</form>

    <table border=1 >
        <tr>
            <td colspan=4> 
                共 <?php echo $goodsCount['d'][0]['count(*)'] ?> 筆資料 
            </td>
            <td colspan=8 style=text-align:right;"> 
                <input name="new" id="new" type="button" value="&nbsp;&nbsp;&nbsp;新增&nbsp;&nbsp;&nbsp;" onclick="window.location='/admin/goodsnew'" >
            </td>
        </tr>
        <tr bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">
        <td>
            <label><input type="checkbox"><span class="checkbox"></span></label>
        </td>
        <td>序號</td>
        <td>供應商名稱</td>
        <td>品牌名稱</td>    
        <td>商品名稱</td>
        <td>上架日期</td>
        <td>下架日期</td>
        <td>商品形式</td>
        <td>狀態</td>
        <td>已兌換數量</td>
        <td>剩餘數量</td>
        <td>功能</td>
<!-- 
        <a href="<?php //echo $orderLink ?>&orderby=goodsCost&desc=desc">▼</a> 
        <a href="<?php //echo $orderLink ?>&orderby=goodsCost&desc=asc">▲</a>
        </td> 
        <td>兌換點數 
            <a href="<?php //echo $orderLink ?>&orderby=goodsPricePoint&desc=desc">▼</a> 
            <a href="<?php //echo $orderLink ?>&orderby=goodsPricePoint&desc=asc">▲</a>  
        </td>
        <td>已兌換數 
            <a href="<?php //echo $orderLink ?>&orderby=goodsNumExchange&desc=desc">▼</a> 
            <a href="<?php //echo $orderLink ?>&orderby=goodsNumExchange&desc=asc">▲</a>  
        </td>
        <td>剩餘數量 
            <a href="<?php //echo $orderLink ?>&orderby=goodsNumStorage&desc=desc">▼</a> 
            <a href="<?php //echo $orderLink ?>&orderby=goodsNumStorage&desc=asc">▲</a>  
        </td>
        <td>商品狀態</td>
        <td>上架時間
        <a href="<?php //echo $orderLink ?>&orderby=goodsTimeStart&desc=desc">▼</a> 
        <a href="<?php //echo $orderLink ?>&orderby=goodsTimeStart&desc=asc">▲</a>
        </td>
  -->
        <?php if($goods['args']['num'] > 0) {   ?>
        </tr>
        <?php 
            $status = '';
            $interestStr ='';
            for($i=0;$i<$goods['args']['num'];$i++){  
        ?>   
        <tr style="text-align:center;">
            <td>
                <label><input type="checkbox"><span class="checkbox"></span></label>
            </td>
            <td><?php echo $this->rowNum * ($p -1) + ($i+1) ?></td>
            <td> <?php echo $goods['d'][$i]['supplierName']  ?></td>
            <td> <?php echo $goods['d'][$i]['brandName']  ?> </td>
            <td><?php echo $goods['d'][$i]['goodsName'] ?></td>
            <td><?php echo substr($goods['d'][$i]['goodsTimeStart'],0,10) ?></td> 
            <td><?php echo substr($goods['d'][$i]['goodsTimeClose'],0,10) ?></td>
            <td><?php echo (!$goods['d'][$i]['goodsType'])? '郵寄商品' : '電子票劵'  ?></td>
            <td><?php echo ($goods['d'][$i]['goodsStatus']) ? '已上架' : '已下架' ;  ?></td>
            <td><?php echo $goods['d'][$i]['goodsNumExchange'] ?></td>
            <td><?php echo $goods['d'][$i]['goodsNumStorage'] ?></td>
            <td>
                <input name="edit" id="edit" type="button" value="編輯" onclick="window.location='/admin/goodsmodify?gid=<?php echo $goods['d'][$i]['goodsUid'] ?>'" >
            </td>
            </tr>
            <?php  }  ?>
            </table>
            <?php

            pagination($p,$goodsCount['d'][0]['count(*)'],$pageLink);
}


if( !empty($userUid) &&  $goods['args']['num'] ==0)
echo '<li>查無會員 : '.$userUid.' 資料 </li>' ;  
?>

