<?php
include('pagination.phtml');

$pageLink = 'goodsorder?oid='.$oid.'&status='.$status.'&stime='.$stime.'&etime='.$etime.'&p=' ;
?>
<script language="JavaScript">
    $(document).ready(function(){ 
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
    });
</script>

<div class="co12-12">                                                

<!-- <p> 參一腳後台管理系統 > --> 


<form name="idQuery" id="idQuery"action="" method="get">

<p>
    <table style="border:1px"  width="50%" border=1 >
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">訂單編號</td>
            <td> <input type="text" name="oid" id="oid" value="<?php echo $oid  ?>" /> </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">品牌名稱</td>
            <td><input type="text" name="brands"  id="brands" value="<?php echo $brandName  ?>" /></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">商品名稱</td>
            <td><input type="text" name="goodsName" id="goodsName" value="<?php echo $goodsName  ?>" /></td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">商品形式</td>
            <td>
                    <select name="goodsType" id="goodsType">
                        <option value="">-- 請選擇 -- </option>　
                        <option value="">  </option>
                        <option value="1">郵寄商品</option>
                        <option value="2">電子票劵</option>
                    </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">兌換時間</td>
            <td> 
                        <input type="text" name="stime" id="datepicker1" value="<?php echo $stime ?>" /> ~ 
                        <input type="text" name="etime" id="datepicker2" value="<?php echo $etime ?>" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">出貨狀態</td>
            <td>
                    <select name="status" id="status">
                        <option value="">-- 請選擇 -- </option>　
                        <option value="">  </option>
                        <option value="1">使用者下單</option>
                        <option value="2">客服人員確認</option>
                        <option value="3">確認已出貨</option>
                        <option value="4">使用者已收貨</option>
                        <option value="10">已完成</option>
                        <option value="11">取消兌換</option>
                    </select>
             </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p> <input type="submit" value="   查詢  " />
                <input type="reset" value="重設">
            </td>
        </tr>
    </table>
</form>
<p><p><p>

    <table style="border:ipx" width="80%" border=1 >
       <tr>
            <td colspan="13" >
                共 <?php echo $goodsCount['d'][0]['count(*)'] ?> 筆資料 
                <input type="button" value=" 匯出 ">

             </td>                                                                                                      
        </tr>        
        <tr bgcolor="#003cbd" style="color:#FFFFFF; text-align:center;">
            <td><label><input type="checkbox"><span class="checkbox"></span></label></td>
            <td>序號</td>
            <td>訂單編號</td>
            <td>供應商</td>
            <td>品牌名稱</td>
            <td>商品名稱</td>
            <td>兌換日期</td>
            <td>商品形式</td>
            <td>收件人</td>
            <td>出貨狀態</td>
            <td>出貨日期</td>
            <td>備註</td>
            <td>管理</td>
        </tr>
      <?php 
    if($goods['args']['num'] > 0) {   
        for($i=0;$i<$goods['args']['num'];$i++){  

         switch($goods['d'][$i]['goodsorderStatus']){
            case 0 :
               $status = '使用者下單';
               break;
            case 1 :
               $status = '客服人員確認'; 
               break;
            case 2 :
               $status = '確認已出貨'; 
               break;
            case 3 :
               $status = '確認已出貨'; 
               break;
            case 9 :
               $status = '已完成'; 
               break;
            case 10 :
               $status = '取消兌換'; 
               break;      

         }   

        $goodsType = ($goods['d'][$i]['goodsType']) ? '電子票劵' : '郵寄商品' ;

         ?>   
            <tr>
                <td><label><input type="checkbox"><span class="checkbox"></span></label></td>
                <td><?php echo $this->rowNum * ($p -1) + ($i+1) ?></td>
                <td><?php echo $goods['d'][$i]['goodsorderId'] ?></td>
                <td><?php echo $goods['d'][$i]['supplierName'] ?></td>
                <td><?php echo $goods['d'][$i]['brandName'] ?></td>
                <td><?php echo $goods['d'][$i]['goodsName'] ?></td>
                <td><?php echo $goods['d'][$i]['goodsorderTime'] ?></td>
                <td><?php echo $goodsType  ?></td>
                <td><?php echo $goods['d'][$i]['goodsorderReciverName'] ?></td>
                <td><?php echo $status ?></td>
                <td><?php echo $goods['d'][$i]['goodsorderTimeDelivery'] ?></td>
                <td><?php echo $goods['d'][$i]['goodsorderNote'] ?></td>
                <td>
                    <input type="button" value="編輯" onclick="window.location='/admin/goodsordermodify?oid=<?php echo $goods['d'][$i]['goodsorderId']  ?>'">
                 </td>
            </tr>
            <?php  }  ?>
            <tr style="text-align:center;">
                <td colspan="13">
                    <?php pagination($p,$goodsCount['d'][0]['count(*)'],$pageLink,$this->rowNum); ?>
                </td>
            </tr>

            </table>
<?php } ?>

