<h3>超級管理者選單</h3>
<ul class="nostyle">
  <h4>會員管理</h4>
  <li><a href="/admin/users">會員基本及附加資料</a></li>
  <li><a href="/admin/userspoint">會員點數資料</a></li>
  <li><a href="/admin/usersgoods">會員兌換禮品歷史紀錄清單</a></li>
  <li><a href="/admin/">會員功能使用權限管理</a></li>
  <h4>內容管理</h4> 
  <li><a href="/admin/">動態列表</a></li>
  <li><a href="/admin/">活動管理</a></li>
  <li><a href="/admin/">點數管理</a></li>
  <h4>好康商品管理</h4>
  <li><a href="/admin/supply">供應商管理</a></li>
  <li><a href="/admin/brand">品牌管理</a></li>
  <li><a href="/admin/goodslist">商品管理</a></li>
  <li><a href="/admin/goodsorder">訂單管理</a></li>
  <li><a href="/admin/"></a></li>
  <li><a href="/admin/"></a></li>
  <h4>cron job</h4>
  <li><a href="/admin/cron">手動執行</a></li>    



