<?php

function pagination($page,$counts,$link,$rowNum=50 ){
/*
   $page   = 目前頁數
   $counts = 總筆數
   $link   = 連結 ex: 'user?uis=&p='
   $rowNum = 每頁幾筆資料
*/
   if( empty($page) )
      $page = 1 ;

   $queryPage = $page -1 ;
   $prePage = '' ;
   $nextPage= '' ;
     
   if($page > 1 )
      $prePage = $page -1 ; 
   else
      $prePage = '';   
      
   $totalPage = ceil($counts / $rowNum );

   if($page < $totalPage )
      $nextPage = $page +1 ;
   else
      $nextPage = '' ;     

   if( !empty($prePage) )                                                       
      echo '<a href="'.$link.$prePage.'">上一頁</a>';

   for($i=1;$i<$totalPage+1;$i++){
      if( $page == $i) 
         echo  '  [ <a href="'.$link.$i.'"> '.$i.' </a> ]' ; 
      else
         echo '<a href="'.$link.$i .'">  '.$i.'  </a>' ;
   }    

   if( !empty($nextPage) )
      echo '<a href="'.$link.$nextPage.'">下一頁</a>'; 

   echo '共 '.$counts.' 筆資料';
}

?>
