<?php                                                                           
    include('pagination.phtml');
    $pageLink = 'supply?p=' ;

    if( $supplyAdd )
        echo '<script>alert("'.$supplierName.' 供應商新增成功")</script>';

    if( $supplyUpdate )
        echo '<script>alert("'.$sidName.' 供應商修改成功")</script>';
?>


<script>

function saveCheck(){
    if( $("#supplierName").val().length < 2 || $("#supplierName").val().length > 15 )
        alert(" 供應商名稱字數為 2~15 字 ");
    else
        $("#supplyadd").submit();
}

function modifyCheck(i){ 
    var formName = 'supply' + i ;
    if( $("#sidName" + i).val().length < 2 || $("#sidName" + i).val().length > 15 )
        alert(" 供應商名稱字數為 2~15 字 ");
    else
        $("#"+formName).submit();  
}
</script>


<form name="supplyadd" id="supplyadd" action="" method="POST">
<p> 
<p>

<table border=1>
    <tr>
        <td bgcolor="#003cbd" style="color:#FFFFFF;">供應商名稱</td>
        <td><input type="text" name="supplierName" id="supplierName" ></td>
        <td><input type="button" name="save" value=" 新增供應商 " onclick="saveCheck()" > </td>
    </tr>
</table>
</form>

<p>
<p>
<p>

<table border=1>
<tr bgcolor="#003cbd" style="color:#FFFFFF;text-align:center;">
    <td>供應商名稱</td>
    <td>修改</td>
</tr>

<?php for($i=0;$i<$suppliers['args']['num'];$i++){ ?>
<form name="supply<?php echo $i ?>" id="supply<?php echo $i ?>" action="" method="POST">
<input type="hidden" name="sid" value="<?php echo $suppliers['d'][$i]['supplierUid'] ?>">
<tr>
    <td><input type="text" name="sidName" id="sidName<?php echo $i?>" value="<?php echo $suppliers['d'][$i]['supplierName'];?>" >   </td>
    <td><input type="button" name="modify" value="修改" onclick="modifyCheck(<?php echo $i ?>)"> </td>    
</tr>
</form>
<?php } ?>     
</table> 
<?php pagination($p,$suppliersCount['d'][0]['count(*)'],$pageLink); ?>           
