<div class="co12-10 co12-xs-12">                                                

<form name="idQuery" id="idQuery"action="" method="get">
<li>
會員帳號UID : <input type="text" name="u" id="u" value="" />
<input type="submit" value="查詢" />
</li>
<!-- <li>會員帳號ID：<input type="text" name="userid" id="userid" value="" /></li> -->

</form>

<?php 

  if($goods['args']['num'] > 0) { 
     echo '<a href="usersgood?u='.$userUid.'&p='.$prePage.'">上一頁</a>';  


   for($i=1;$i<$totalPage+1;$i++){
     if( $page == $i) 
         echo  '['.$i .']   ' ; 
     else
          echo $i.'   ' ;
   }    
       
 echo '<a href="usersgood?u='.$userUid.'&p='.$nextPage.'">下一頁</a>'; 


 echo $goodsCount['d'][0]['count(*)']   .' 筆資料共 '.$totalPage.'頁'

?>
<table>
<tr>
   <td>好康UUID</td><td>兌換時間</td><td>兌換者UUID</td><td>兌換時使用點數</td><td>狀態</td> <td> 兌換狀態最後更新時間</td>
</tr>
<?php for($i=0;$i<$goods['args']['num'];$i++){  ?>   
<tr>
  <td><?php echo $goods['d'][$i]['goodName'].'<br>'.$goods['d'][$i]['goodUid'] ?></td>
  <td><?php echo $goods['d'][$i]['goodorderTime'] ?></td>
  <td><?php echo $goods['d'][$i]['userUid'] ?></td>
  <td><?php echo $goods['d'][$i]['goodorderPoint'] ?></td>
  <td><?php echo $goods['d'][$i]['goodorderStatus'] ?></td>
  <td><?php echo $goods['d'][$i]['goodorderTimeLastUpdate'] ?></td>
</tr>
<?php  }  ?>

</table>


<?php 
   }

                                                                            
if( !empty($userUid) &&  $goods['args']['num'] ==0)
      echo '<li>查無會員 : '.$userUid.' 資料 </li>' ;  
?>

