<div class="co12-10 co12-xs-12">

<form name="idQuery" id="idQuery"action="" method="post">
<li>
會員帳號UID : <input type="text" name="userUid" id="userUid" value="" />
<input type="submit" value="查詢" />
</li>
<!-- <li>會員帳號ID：<input type="text" name="userid" id="userid" value="" /></li> -->

</form>


<?php  if($users['args']['num'] > 0) { ?>
<form name="" action="usersmodify" method="post">
<input type="hidden" name="userUid" value="<?php echo $users['d'][0]['userUid']  ?>">
<input type="hidden" name="userId" value="<?php echo $users['d'][0]['userId']  ?>">
<input type="hidden" name="userRealname" value="<?php echo $users['d'][0]['userRealname']  ?>">
<input type="hidden" name="userAliasname" value="<?php echo $users['d'][0]['userAliasname']  ?>">
<input type="hidden" name="userGender" value="<?php echo $users['d'][0]['userGender']  ?>">
<input type="hidden" name="userProfile" value="<?php echo $users['d'][0]['userProfile']  ?>">
<input type="hidden" name="userTimeRegist" value="<?php echo $users['d'][0]['userTimeRegist']  ?>">
<input type="hidden" name="userType" value="<?php echo $users['d'][0]['userType']  ?>">
<input type="hidden" name="userEnable" value="<?php echo $users['d'][0]['userEnable']  ?>">
<input type="hidden" name="userPoint" value="<?php echo $users['d'][0]['userPoint']  ?>">
<input type="hidden" name="userLevel" value="<?php echo $users['d'][0]['userLevel']  ?>">
<input type="hidden" name="userTimezone" value="<?php echo $users['d'][0]['userTimezone']  ?>">
<input type="hidden" name="langIdInterface" value="<?php echo $users['d'][0]['langIdInterface']  ?>">


<input type="hidden" name="uparameterNumFriends" value="<?php echo $users['d'][0]['uparameterNumFriends']  ?>">
<input type="hidden" name="uparameterNumFollows" value="<?php echo $users['d'][0]['uparameterNumFollows']  ?>">
<input type="hidden" name="uparameterNumFollowers" value="<?php echo $users['d'][0]['uparameterNumFollowers']  ?>">
<input type="hidden" name="uparameterNumPosts" value="<?php echo $users['d'][0]['uparameterNumPosts']  ?>">
<input type="hidden" name="uparameterNumEvents" value="<?php echo $users['d'][0]['uparameterNumEvents']  ?>">
<input type="hidden" name="uparameterNumFavors" value="<?php echo $users['d'][0]['uparameterNumFavors']  ?>">
<input type="hidden" name="uparameterNumLikes" value="<?php echo $users['d'][0]['uparameterNumLikes']  ?>">
<input type="hidden" name="uparameterNumDislikes" value="<?php echo $users['d'][0]['uparameterNumDislikes']  ?>">
<input type="hidden" name="uparameterNumShares" value="<?php echo $users['d'][0]['uparameterNumShares']  ?>">
<input type="hidden" name="uparameterNumJoins" value="<?php echo $users['d'][0]['uparameterNumJoins']  ?>">
<input type="hidden" name="uparameterNumAskFriends" value="<?php echo $users['d'][0]['uparameterNumAskFriends']  ?>">
<input type="hidden" name="uparameterNumNeedFriends" value="<?php echo $users['d'][0]['uparameterNumNeedFriends']  ?>">


<input type="hidden" name="interestId" value="<?php echo $users['d'][0]['interestId']  ?>">
<input type="hidden" name="userGrade" value="<?php echo $users['d'][0]['userGrade']  ?>">
<input type="hidden" name="userProLevel" value="<?php echo $users['d'][0]['userProLevel']  ?>">
<input type="hidden" name="uprolevelTimeLastUpdate" value="<?php echo $users['d'][0]['uprolevelTimeLastUpdate']  ?>">

<li>帳號UID : <?php echo $users['d'][0]['userUid']  ?> </li>
<input type="hidden" name="" value="<?php echo $users['d'][0]['userUid']  ?>">
<li>帳號ID :<?php echo $users['d'][0]['userId']  ?> </li>
<li>帳號名稱 ：<?php echo $users['d'][0]['userRealname']  ?> </li>
<li>帳號別名：<?php echo $users['d'][0]['userAliasname']  ?> </li>
<li>帳號性別：<?php echo $users['d'][0]['userGender']  ?> </li>
<li>大頭照檔名：<?php echo $users['d'][0]['userProfile']  ?> </li>
<li>註冊時間：<?php echo $users['d'][0]['userTimeRegist']  ?> </li>
<li>帳號類別：<?php echo $users['d'][0]['userType']  ?> </li>
<li>是否啟用：<?php echo $users['d'][0]['userEnable']  ?> </li>
<li>點數：<?php echo $users['d'][0]['userPoint']  ?> </li>
<li>使用者等級: <?php echo $users['d'][0]['userLevel']  ?> </li>
<li>所在時區：<?php echo $users['d'][0]['userTimezone']  ?> </li>
<li>使用者操作介面語系：<?php echo $users['d'][0]['langIdInterface']  ?> </li>

<br><br>

<li>好友數：<?php echo $users['d'][0]['uparameterNumFriends']  ?></li>
<li>同好數：<?php echo $users['d'][0]['uparameterNumFollows']  ?></li>
<li>追蹤者數：<?php echo $users['d'][0]['uparameterNumFollowers']  ?></li>
<li>發表數：<?php echo $users['d'][0]['uparameterNumPosts']  ?></li>
<li>活動發表數：<?php echo $users['d'][0]['uparameterNumEvents']  ?></li>
<li>收藏數：<?php echo $users['d'][0]['uparameterNumFavors']  ?></li>
<li>+1總次數(自己按的)：<?php echo $users['d'][0]['uparameterNumLikes']  ?></li>
<li>-1總次數(自己按的)：<?php echo $users['d'][0]['uparameterNumDislikes']  ?></li>
<li>分享次數：<?php echo $users['d'][0]['uparameterNumShares']  ?></li>
<li>自己參加過活動的次數：<?php echo $users['d'][0]['uparameterNumJoins']  ?></li>
<li>已送出好友邀請,尚未回覆數：<?php echo $users['d'][0]['uparameterNumAskFriends']  ?></li>
<li>別人送來的好友邀請,尚未回覆數：<?php echo $users['d'][0]['uparameterNumNeedFriends']  ?></li>


<br><br>


<li>興趣標籤代碼 : <?php echo $users['d'][0]['interestId'] ?></li>
<li>分(跟Pro等級有關) : <?php echo $users['d'][0]['userGrade'] ?></li>
<li>Pro等級 : <?php echo $users['d'][0]['userProLevel'] ?></li>
<li>上次異動userProLevel時間: <?php echo $users['d'][0]['uprolevelTimeLastUpdate'] ?></li>


<br><br>

<input type="submit" value="修改會員資料" />

<?php 
}  
if( !empty($userUid) &&  $users['args']['num'] ==0)
  echo '<li>查無會員 : '.$userUid.' 資料 </li>' ;  
?>



</div>
