<div class="co12-10 co12-xs-12">                                                

<form name="idQuery" id="idQuery"action="" method="post">
<li>
會員帳號UID : <input type="text" name="userUid" id="userUid" value="" />
<input type="submit" value="查詢" />
</li>
<!-- <li>會員帳號ID：<input type="text" name="userid" id="userid" value="" /></li> -->

</form>

<?php  if($users['args']['num'] > 0) { ?>
<form name="userspoint" action="userspointModify" method="post">
<input type="hidden" name="userUid" id="userUid" value="<?php echo $users['d'][0]['userUid']  ?>" />
<li>獲得點數紀錄UUID :<input type="text" name="upointUid" id="upointUid" value="<?php echo $users['d'][0]['upointUid']  ?>" /> </li>
<li>帳號UUID : <?php echo $users['d'][0]['userUid']  ?>" </li>
<li>獲得的點數 :<input type="text" name="userPointEarn" id="userPointEarn" value="<?php echo $users['d'][0]['userPointEarn']  ?>" /></li>
<li>已使用點數 :<input type="text" name="userPointUsed" id="userPointUsed" value="<?php echo $users['d'][0]['userPointUsed']  ?>" /></li>
<li>剩餘可使用點數 :<input type="text" name="userPoint" id="userPoint" value="<?php echo $users['d'][0]['userPoint']  ?>" /></li>
<li>使用期限(無期限則設為3999-12-31) :<input type="text" name="userPointTimeLimit" id="userPointTimeLimit" value="<?php echo $users['d'][0]['userPointTimeLimit']  ?>" /></li>
<li>獲得點的時間 :<input type="text" name="upointlogTimeEarn" id="upointlogTimeEarn" value="<?php echo $users['d'][0]['upointlogTimeEarn']  ?>" /></li>
<li>備註(使用詞彙對照索引) :<input type="text" name="upointlogNote" id="upointlogNote" value="<?php echo $users['d'][0]['upointlogNote']  ?>" /></li>

<input type="submit" value="修改點數資料" />

</form>

<?php 
}                                                                         
if( !empty($userUid) &&  $users['args']['num'] ==0)
      echo '<li>查無會員 : '.$userUid.' 資料 </li>' ;  
?>

