
<div class="co12-10 co12-xs-12">

<li>會員資料修改</li>
<div id="msg"> </div>

<form id= "usersput" name="usersput" action="usersput" method="post">
<input type="hidden" name="userUid" id="userUid" value="<?php echo $userUid  ?>" />
<input type="hidden" name="table" id="table" value="users" />

<li>帳號UID : <?php echo $userUid  ?> </li>
<li>帳號ID :   <input type="text" name="userId" id="userId" value="<?php echo $userId  ?>" /> </li>
<li>帳號名稱 ：<input type="text" name="userRealname" id="userRealname" value="<?php echo $userRealname  ?>" /> </li>
<li>帳號別名：<input type="text" name="userAliasname" id="userAliasname" value="<?php echo $userAliasname  ?>" /> </li>
<li>帳號性別：<input type="text" name="userGender" id="userGender" value="<?php echo $userGender  ?>" /> </li>
<li>大頭照檔名：<input type="text" name="userProfile" id="userProfile" value="<?php echo $userProfile  ?>" /> </li>
<li>註冊時間：<input type="text" name="userTimeRegist" id="userTimeRegist" value="<?php echo $userTimeRegist  ?>" /> </li>
<li>帳號類別：<input type="text" name="userType" id="userType" value="<?php echo $userType  ?>" /> </li>
<li>是否啟用：<input type="text" name="userEnable" id="userEnable" value="<?php echo $userEnable  ?>" /> </li>
<li>點數：<input type="text" name="userPoint" id="userPoint" value="<?php echo $userPoint  ?>" /> </li>
<li>使用者等級: <input type="text" name="userLevel" id="userLevel" value="<?php echo $userLevel  ?>" /> </li>
<li>所在時區：<input type="text" name="userTimezone" id="userTimezone" value="<?php echo $userTimezone  ?>" /> </li>
<li>使用者操作介面語系：<input type="text" name="langIdInterface" id="langIdInterface" value="<?php echo $langIdInterface  ?>" /> </li>
<input name="btn" id="btn" type="submit" value="更新會員資料" />

</form>
<br><br><br><br>

<form id="usersput2" name="usersput2" action="usersput" method="post">
<input type="hidden" name="userUid" id="userUid" value="<?php echo $userUid  ?>" />
<input type="hidden" name="table" id="table" value="uparameters" />                                                    
<li>好友數：<input type="text" name="uparameterNumFriends" value="<?php echo $uparameterNumFriends  ?>" /> </li>
<li>同好數：<input type="text" name="uparameterNumFollows" value="<?php echo $uparameterNumFollows?>"> </li>
<li>追蹤者數：<input type="text" name="uparameterNumFollowers" value="<?php echo $uparameterNumFollowers?>"> </li>
<li>發表數：<input type="text" name="uparameterNumPosts" value="<?php echo $uparameterNumPosts?>"> </li>
<li>活動發表數：<input type="text" name="uparameterNumEvents" value="<?php echo $uparameterNumEvents?>"> </li>
<li>收藏數：<input type="text" name="uparameterNumFavors" value="<?php echo $uparameterNumFavors?>"> </li>
<li>+1總次數(自己按的)：<input type="text" name="uparameterNumLikes" value="<?php echo $uparameterNumLikes?>" > </li>
<li>-1總次數(自己按的)：<input type="text" name="uparameterNumDislikes" value="<?php echo $uparameterNumDislikes?>"> </li>
<li>分享次數：<input type="text" name="uparameterNumShares" value="<?php echo $uparameterNumShares?>" > </li>
<li>自己參加過活動的次數：<input type="text" name="uparameterNumJoins" value="<?php echo $uparameterNumJoins ?>" > </li>
<li>已送出好友邀請,尚未回覆數：<input type="text" name="uparameterNumAskFriends" value="<?php echo $uparameterNumAskFriends  ?>" </li>
<li>別人送來的好友邀請,尚未回覆數：<input type="text" name="uparameterNumNeedFriends" value="<?php echo $uparameterNumNeedFriends  ?>" </li>

<input type="submit" value="更新好友等資料" />

</form>

<br><br>

<form id=="usersput3" name="usersput3" action="usersput" method="post">

<input type="hidden" name="userUid" id="userUid" value="<?php echo $userUid  ?>" />
<input type="hidden" name="table" id="table" value="uprolevels" />                

<li>興趣標籤代碼 : <input type="text" name="interestId" value="<?php echo $interestId  ?>"> </li>
<li>分(跟Pro等級有關) : <input type="text" name="userGrade" value="<?php echo $userGrade ?>" </li>
<li>Pro等級 : <input type="text" name="userProLevel" value="<?php echo $userProLevel  ?>"> </li>
<li>上次異動userProLevel時間: <input type="text" name="uprolevelTimeLastUpdate" value="<?php echo $uprolevelTimeLastUpdate ?>"> </li>
<input type="submit" value="更新興趣的prolevel資料" />
</form>

</div>
