<div class="co12-12">
	<div class="toolbar">
		<ul>
			<li><a href="/tools/refresh">重新掃描建檔</a></li>
		</ul>
	</div>


	<table class="table table-striped table-bordered table-hover">
	<caption></caption>
	<colgroup>
		<col class="" />
		<col class="" />
		<col class="" />
	</colgroup>
	<thead>
		<tr>
			<th>Id</th>
			<th>類型</th>
			<th>說明</th>
		</tr>
	</thead>
	<tbody>
<?php for($i=0;$i<$files['args']['num'];$i++){ ?>
		<tr>
			<td><a href="/tools/info/?func=<?php value($files['d'][$i]['funcId']); ?>"><?php html($files['d'][$i]['funcId']); ?></a></td>
			<td><?php html($files['d'][$i]['funcType']); ?></td>
			<td><?php html($files['d'][$i]['funcDescription']); ?></td>
		</tr>
<?php } ?>
	</tbody>
	</table>

</div>

