<div class="co12-12">
	<div class="toolbar">
		<ul>
			<li><a href="/tools/refresh">重新掃描建檔</a></li>
		</ul>
	</div>

	<h2><?php html($func['funcId']); ?></h2>
	<table class="table table-striped table-bordered table-hover">
	<caption>From Call</caption>
	<colgroup>
		<col class="" />
		<col class="" />
		<col class="" />
	</colgroup>
	<thead>
		<tr>
			<th>Id</th>
			<th>類型</th>
			<th>說明</th>
		</tr>
	</thead>
	<tbody>
<?php for($i=0;$i<$rels['args']['num'];$i++){ ?>
		<tr>
			<td><a href="/tools/info/?func=<?php value($rels['d'][$i]['funcId']); ?>"><?php html($rels['d'][$i]['funcId']); ?></a></td>
			<td><?php html($rels['d'][$i]['funcType']); ?></td>
			<td><?php html($rels['d'][$i]['funcDescription']); ?></td>
		</tr>
<?php } ?>
	</tbody>
	</table>

	<table class="table table-striped table-bordered table-hover">
	<caption>Calls</caption>
	<colgroup>
		<col class="" />
		<col class="" />
		<col class="" />
	</colgroup>
	<thead>
		<tr>
			<th>Id</th>
			<th>類型</th>
			<th>說明</th>
		</tr>
	</thead>
	<tbody>
<?php for($i=0;$i<$calls['args']['num'];$i++){ ?>
		<tr>
			<td><a href="/tools/info/?func=<?php value($calls['d'][$i]['funcId']); ?>"><?php html($calls['d'][$i]['funcId']); ?></a></td>
			<td><?php html($calls['d'][$i]['funcType']); ?></td>
			<td><?php html($calls['d'][$i]['funcDescription']); ?></td>
		</tr>
<?php } ?>
	</tbody>
	</table>


</div>

