<?php
if($state){
	if(empty($rdr)){
?>
<script type="text/javascript">
self.location.href='/';
</script>
<?php
	}
	else{
?>
<script type="text/javascript">
self.location.href='<?php echo $rdr; ?>';
</script>
<?php
	}
}
else if(!$state){
?>
<form method="post" id="loginForm">
	<input type="hidden" name="d" value="" />
</form>
<script type="text/javascript">
	function displayUser(user) {
	var frm=document.getElementById('loginForm');
	var s=new Array();
	for(x in user){
		s[s.length]=x+'='+user[x];
	}
	s=s.join('&');
	frm.d.value=s;
	frm.submit();
	}
	//var greetingText = document.createTextNode('Greetings, '+ user.name + '.');
	//	userName.appendChild(greetingText);
	//}
	var appID = '<?php echo _FB_APPID; ?>';
	/***
	if (window.location.hash.length == 0) {
		var path = 'https://www.facebook.com/dialog/oauth?';
		var queryParams = ['client_id=' + appID,
			'redirect_uri=' + window.location,
			'response_type=token'];
		var query = queryParams.join('&');
		var url = path + query;
		self.location.href=url;
////		window.open(url);
	}
	****/
	if (window.location.hash.length != 0) {
		var accessToken = window.location.hash.substring(1);
		var path = "https://graph.facebook.com/me?";
		var queryParams = [accessToken, 'callback=displayUser'];
		var query = queryParams.join('&');
		var url = path + query;
		// use jsonp to call the graph
		var script = document.createElement('script');
		script.src = url;
		document.body.appendChild(script);
	}
</script>
<?php
}
?>
