<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?></title>
</head>
<body>
	<div>已登入</div>
</body>
<script type="text/javascript">
	self.location.href='/';
</script>
</html>

