<script type="text/javascript" src="/js/flot/jquery.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
<!---<script type="text/javascript" src="/js/flot/jquery.flot.stack.js"></script> -->
<script type="text/javascript" src="/js/flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/flot/jshashtable-2.1.js"></script>
<script type="text/javascript" src="/js/flot/jquery.numberformatter-1.2.3.min.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.symbol.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.pie.js"></script>

<script type="text/javascript">
	

    function getposts(){
        $("#posts").submit();
    }



	$("#page-header .mywall").addClass("selected");

	// 興趣Pro等級 -> 看全部
	function see_all_stat(obj){
		if( $(obj).parent(".box-header").siblings(".box-content").children(".stat-interest-item").find(":hidden").length == 0 ){
			$(".stat-interest-item:gt(11)").hide();
			$(obj).html("看全部");
		}
		else{
			$(".stat-interest-item:gt(11)").show();
			$(obj).html("顯示部分");
		}
	}

	// 轉換日期 month 要 -1
	function get_date(year, month, day){
		return new Date(year, month, day).getTime();
	}

	$(document).ready(function(){
		var data = [
			[1, 33], [2, 25], [3, 20], [4, 32],
			[5, 31], [6, 43], [7, 35], [8, 30]
		];

		var rawData = [
			[get_date(2015,11,7), 0],
			[get_date(2015,11,8), 0],
			[get_date(2015,11,9), 0],
			[get_date(2015,11,10), 0],
			[get_date(2015,11,11), 0],
			[get_date(2015,11,12), 0],
			[get_date(2015,11,13), 0],
			[get_date(2015,11,14), 0]
		];

		var dataset = [
			{
				label: "新的追蹤",
				data: rawData
			}
		];

		var options = {
			series: {
				lines: { show: true }
			},
			xaxis: { mode: "time",
					 timeformat: "%m月%d日",
					 tickSize: [1, "day"], 
					 tickLength: 0,
					 axisLabel: "2015",
					 axisLabelUseCanvas: true,
					 axisLabelFontSizePixels: 12,
					 axisLabelFontFamily:'Verdana, Arial',
					 axisLabelPadding: 10
			},
			color: "#f7c80d"
		};

		$.plot($("#flot-placeholder"),dataset, options);



<?php
$pie_sample=array(
	array(
		'label'=>'活躍度',
		'data'=> $active,		// 填入 活躍度 數值
		'color'=>'#ff2a2f'
	),
	array(
		'label'=>'傳播力',
		'data'=>$follow,		// 填入 傳播力 數值
		'color'=>'#ffd300',
	),
	array(
		'label'=>'吸引力',
		'data'=>$fascinate,		// 填入 吸引力 數值
		'color'=>'#00b92f'
	),

);

?>
		var dataSet2 = <?php echo json_encode($pie_sample); ?>

		var options2 = {
				series: {
					pie: {
						show: true,
						label: {
							show: true,
							radius: 100,
							formatter: function(label, series){
								return '<div style="border:1px solid grey; font-size:8pt; text-align:center; padding:5px;color:white;">'+ label +':'+ Math.round(series.percent) + '%</div>';
							},
							background: {
								opacity: 0.8,
								color: "#000"
							}
						}
					}
				},
				legend: {
					show: false
				},
				grid: {
					hoverable: true
				}
			};

		$.plot($("#flot-placeholder2"), dataSet2, options2);


		var interest_str = "";
		for( var i = 0; i < i_item.length; i++ ){
			interest_str += "<option value='"+ i_item[i] +"'>"+ i_item_tw[i] +"</option>";
		}

		$( interest_str ).appendTo("#sel-interest");
	});
</script>

<div class="row-fluid stat">
	<!-- 我的影響力 -->
	<div class="co12-5">
		<div class="box box-margin-top">
			<div class="box-header">
				我的影響力
			</div>
			<div class="box-content row-fluid no-padding">
				<div id="flot-placeholder2"></div>
				<div class="my-affect-center">
					<span class="txt">影響力<br /><span id="my-affect"><?php echo $total ?></span><br />分</span>
				</div>
			<!--	<div class="last-week-affect">本週影響力比上週 <span class="red-txt"><i class="fa fa-arrow-circle-up"></i> 28,635</span> 萬分</div> -->
			</div>
		</div>
	</div>

	<!-- 興趣Pro等級 -->
	<div class="co12-7">
		<div class="box box-margin-top">
			<div class="box-header">
				興趣Pro等級<span class="pull-right" onclick="see_all_stat(this);">看全部</span>
			</div>
			<div class="box-content row-fluid">
			<?php for($i=0;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
				<div class="interest-item co12-3 co12-xs-6 stat-interest-item" <?php echo ($i<12)?'':'style="display:none;"'; ?> >
					<div class="interest-item-group">
						<div class="icon">
							<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
						</div>
						<div class="label">
							<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
							<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
						</div>
					</div>
				</div>
			<?php	} ?>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid stat">
	<!-- 期間 -->
	<div class="co12-5">
		<div class="box box-margin-top">
			<div class="box-header">
				<a href="/personal/stat?period=7"><span class="stat-period selected">7天</span></a>  
                <a href="/personal/stat?period=30"><span class="stat-period">30天</span></a>
                <a href="/personal/stat?period=365"><span class="stat-period">年度</span></a>

                <div class="pull-right">
                <?php
                    $perDay = '-'.$period.' day';                    
                    echo date("Y/m/d",strtotime($perDay) ).'-'.date("Y/m/d",strtotime('-1 day') ) 

                ?>
                </div>
			</div>
			<div class="box-content padding-more-bottom">
				<?php //_e($wscoials) ?>
				<h4>活躍度</h4>
				<table class="period-tbl">
					<tr>
						<td><strong>
                        <?php echo (array_key_exists(0,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 發文數</td>
						<td><strong>
                        <?php echo (array_key_exists(0,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                            </strong> 轉發數</td>
					</tr>
					<tr>
						<td><strong>
                        <?php echo (array_key_exists(1,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> +1數</td>

						<td><strong>
                        <?php echo (array_key_exists(2,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> -1數</td>
					</tr>
					<tr>
						<td><strong>
                        <?php echo (array_key_exists(0,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 留言數</td>
						
                        <td><strong>
                        <?php echo (array_key_exists(4,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 收藏數</td>
					</tr>
				</table>


				<h4 class="margin-top">吸引力</h4>
				<table class="period-tbl">
					<tr>
						<td><strong class="green-txt">
                        <?php echo (array_key_exists(0,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 被轉發數</td>

						<td><strong class="green-txt">
                        <?php echo (array_key_exists(0,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 被留言數</td>
					</tr>
					<tr>
						<td><strong class="green-txt">
                        <?php echo (array_key_exists(1,$wscoials['d'])) ? $wscoials['d'][1]['count(*)'] : 0 ?>
                        </strong> 被+1數</td>
						
                        <td><strong class="green-txt">
                        <?php echo (array_key_exists(2,$wscoials['d'])) ? $wscoials['d'][2]['count(*)'] : 0 ?>
                        </strong> 被-1數</td>
					</tr>
    
					<tr>
						<td><strong class="green-txt">
                        <?php echo (array_key_exists(4,$wscoials['d'])) ? $wscoials['d'][0]['count(*)'] : 0 ?>
                        </strong> 被收藏數</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- 傳播力 -->
	<div class="co12-7 ">
		<div class="box box-margin-top">
			<div class="box-header">傳播力</div>
			<div class="box-content">
				<div class="head">我的追蹤者比例</div>
				<div class="body row-fluid">
					<div class="co12-1">&nbsp;</div>

					<div class="co12-5">
						<div class="img-cover pull-left">
							<img src="/css/img/stat_boy.png" alt="男" />
						</div>
						<div class="bg-percent text-left">0%</div>
					</div>

					<div class="co12-5">
						<div class="img-cover pull-left">
							<img src="/css/img/stat_girl.png" alt="女" />
						</div>
						<div class="bg-percent text-left">0%</div>
					</div>

					<div class="co12-1">&nbsp;</div>
				</div>

<?php //_e($look) ?>
<?php //_e($lookbyDay) ?>
				<div class="foot">
					<div id="flot-placeholder"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 發表數據 -->
<form name="posts" id="posts" action="" method="">
<div class="row-fluid stat">
	<div class="co12-12">
		<div class="box box-margin-top box-padding-bottom">
			<div class="box-header">
				發表數據
			</div>
			<div class="box-content">
				<div class="head">
					<select id="sel-time" onChange="getposts()">
						<option>最近一週內</option>
						<option>最近一個月內</option>
						<option>最近3個月內</option>
						<option>最近半年內</option>
					</select>

					<select id="sel-interest" onChange="getposts()">
						<option disabled selected>選擇興趣類別</option>
					</select>
				</div>

				<table class="grid-tbl">
					<tr>
						<th class="public-time">發表時間</th>
						<th>標題</th>
						<th>類型</th>
						<th class="interest-tag">興趣標籤</th>
						<th class="actions-count">+1數 <i class="fa fa-sort-amount-asc"></i></th>
						<th class="actions-count">-1數 <i class="fa fa-arrows-v"></i></th>
						<th class="actions-count">評論數 <i class="fa fa-arrows-v"></i></th>
						<th class="actions-count">點擊數 <i class="fa fa-arrows-v"></i></th>
					</tr>
        <?php for($i=0;$i<$wallposts['args']['num'];$i++){ ?>
					<tr>
						<td><span class="date"><?php echo substr($wallposts['d'][$i]['wallpostTimeCreate'],0,10) ?></span><span class="time">14:00</span></td>
						<td><?php echo $wallposts['d'][$i]['wallpostBrief']  ?></td>
						<td class="text-center"><i class="fa fa-file-text"></i></td>
						<td class="interest-item">
                        <?php 
                            
                            $interest=explode(';',$wallposts['d'][$i]['wallpostInterests']) ;
                            for($j=0;$j<count($interest);$j++){
							    if( array_key_exists($j,$interest)) 
                                   echo '<div class="icon"><div class="icon-i27 icon-'.$interest[$j].'"></div></div>';
                            }
                            ?>
						</td>
						<td class="text-right"><?php num($wallposts['d'][$i]['wallpostNumLikes']) ?></td>
						<td class="text-right"><?php num($wallposts['d'][$i]['wallpostNumDislikes']) ?></td>
						<td class="text-right"><?php num($wallposts['d'][$i]['wallpostNumComments']) ?></td>
						<td class="text-right"><?php num($wallposts['d'][$i]['wallpostNumViews']) ?></td>
					</tr>
        <?php } ?>
				</table>
			</div>
		</div>
	</div>
</div>
</form>
