<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/todc-bootstrap.min.css">
        <title>InstantChat : An Implementation of PHP Websockets Library</title>
    </head>
    <body>
        
        <nav class="navbar navbar-toolbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-example-toolbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://www.techzonemind.com/php-websocket-library-two-way-real-time-communication/" class="navbar-brand dropdown-toggle" data-toggle="dropdown">PHP Websocket Library - Two way real time communication</a>
                </div>
                <div class="collapse navbar-collapse bs-example-toolbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">View Article</a></li>
                        <li class="active"><a href="#">Demo</a></li>
                        <li><a href="#">Ask A Question</a></li>
                    </ul>
                    <div class="navbar-right">
                        <a href="http://www.techzonemind.com/poojyam-realtime-multiplayer-game-using-websockets/" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Poojyam.in : Realtime Multiplayer Game Using Websockets &nbsp;&nbsp; >></a>
                    </div>
                </div>
            </div>
        </nav>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="page-header">
                        <h1>InstantChat<small>&nbsp;&nbsp;An Implementation of PHP Websockets Library</small></h1>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span id="chat-head">Instant Chat</span>
                            <span id="status" style="float:right">
                                <span class="label label-info">Info</span>
                            </span>
                        </div>
                        <div class="panel-body" style="min-height:250px">
                            <ul style="padding: 0px;list-style: none;max-height: 225px;overflow-x: hidden;overflow-y: auto;" id="chat_text_list">
                                <li>
                                    <span style="color: #DDD;width: 300px">10th Jan 10:00 &nbsp;:&nbsp;</span> This is the first test message
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="text" class="form-control" id="text_message" disabled="disabled">
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button"  id="chat_button" disabled="disabled">SEND CHAT REQUEST</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <nav class="navbar navbar-toolbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-toolbar-collapse-7">
                    <ul class="nav navbar-nav" style="width: 100%">
                        <li class="active"><a class="navbar-brand" href="http://www.techzonemind.com/" style="color: #DD4B39;background-color: white">TZM Labs</a></li>
                        <li><a href="http://www.techzonemind.com/category/articles/">Article</a></li>
                        <li><a href="http://www.techzonemind.com/category/hall-of-frame/">Hall Of frame</a></li>
                        <li><a href="http://www.techzonemind.com/category/libraries/">Libraries</a></li>
                        <li><a href="http://www.techzonemind.com/category/tutorials/">Tutorials</a></li>
                        <li><a href="http://www.techzonemind.com/category/tools/">Tools</a></li>
                        <li style="float: right"><a href="">Copyright 2014 TechZoneMind</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
    </body>
</html>
