<div class="row-fluid mailbox-private-page">
	<!-- 左側訊息列表 -->
	<div class="leftside-list">
		<div class="head">
			<div class="head-content">
				<div class="title">
					<span class="title-txt">訊息列表</span>
					<div class="pull-right"><button class="new-msg" id="chat-create"><i class="fa fa-plus"></i> 新訊息</button></div>
				</div>
				<div class="search-box">
					<input type="search" class="search" placeholder="搜尋" />
					<span class="pull-right"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>

		<div id="private-list" class="body">
			<ul class="nostyle">
			</ul>
		</div>
	</div>
	<!-- ./左側訊息列表 -->

	<!-- 列表內容 -->
	<div id="mailbox-new-chat" class="list-content mailbox-new-chat hidden">
		<div class="inside-mailbox">
			<button type="button" id="new-chat-close" class="pull-right">
				<span class="text"><span><span>&times;</span></span></span>
			</button>

			<div class="form-group">
				<input type="text" id="chatroom-create-name" placeholder="變更輸入聊天主題" />
			</div>

			<div id="choose-picker">
				<div class="list-txt">傳訊息給以下這些人：</div>
				<div class="item-list"></div>

				<div class="chat-btn-group">
					<button type="button" class="btn pull-right" id="chatroom-create" style="display: none;">
						<span class="txt">建立</span>
					</button>
				</div>

				<div class="filter-box">
					<input type="text" class="filter-input" />
					<button type="button" class="filter-button">
						<span class="text"><i class="fa fa-search"></i></span>
					</button>
					
				</div>
				<div class=""><span class="red-txt">點擊人物名稱加入聊天</span></div>

				<ul class="option-list nostyle">
	<?php for($i=0;$i<$friends['args']['num'];$i++){ ?>
					<li class="item" data-id="<?php html($friends['d'][$i]['userUid']); ?>">
						<div>
							<div class="profile-image-s">
								<img src="/user_profiles/profile_<?php echo $friends['d'][$i]['userUid']; ?>_s.png" /> 
							<!--	<img src="/images/9xt/4k4/9xtva3l9-44ggswo4-s0k08os4k4_g.png" /> -->
							</div>
							<div class="cp-filter-keyword cp-name user-name"><?php html($friends['d'][$i]['userRealname']); ?></div>
						</div>
					</li>
	<?php } ?>
				</ul>
			</div>
		</div>
	</div>
	<!-- ./列表內容 -->

	<div id="list_content" class="list-content">
		<div class="head"><span id="chatroom-title"><?php html($chat['title']); ?></span></div>
		<div class="body">
		</div>
		<input type="hidden" id="fetch-status" value="0" />
		<input type="hidden" id="fetch-oldesttime" value="0" />
		<input type="hidden" id="fetch-lasttime" value="0" />
		<input type="hidden" id="chatroom-uid" value="<?php echo $chat['chatroom_uid']; ?>" />
		<input type="hidden" id="xuser-uid" value="<?php echo $chat['xuser_uid']; ?>" />
		<div class="foot">
			<div id="chat-content" class="chat-content" contentEditable="true">
				輸入訊息...
			</div>
			<div class="chat-buttons">
				<!--
				<span><i class="fa fa-plus"></i>添加圖片</span>
				<span><i class="fa fa-plus"></i>添加影片網址</span>
				<span><i class="fa fa-plus"></i>添加檔案</span>	
				-->
				<span class="send pull-right" id="message-content-submit">發送</span>
			</div>
		</div>
	</div>
	<!-- ./列表內容 -->
</div>

<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_chatroom.js"></script>


