<script type="text/javascript">
$(document).ready(function(){
	$(".option-list .item").on("click", function(){
		$("#chatroom-create").show();
	});
});

</script>


<div class="row-fluid mailbox-private-page">
	<!-- 左側訊息列表 -->
	<div class="leftside-list">
		<div class="head">
			<div class="head-content">
				<div class="title">
					<span class="title-txt">訊息列表</span>
					<div class="pull-right"><button class="new-msg" id="chat-create"><i class="fa fa-plus"></i> 新訊息</button></div>
				</div>


				<div class="search-box">
					<input type="search" class="search" placeholder="搜尋" />
					<span class="pull-right"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>

		<div id="private-list" class="body">
			<ul class="nostyle">
<?php /** for($i=0;$i<$chatrooms['args']['num'];$i++){ ?>
				<li id="chatroom-<?php echo $chatrooms['d'][$i]['uid']; ?>">
					<a class="focusbar" href="/mailbox/private/<?php echo ME::user_uid(); ?>/<?php echo $chatrooms['d'][$i]['chatroomUid']; ?>">
						<div class="user-list">
							<img src="/user_profiles/profile_<?php echo $chatrooms['d'][$i]['userUid']; ?>_s.png" />
							<div class="list-info">
								<div class="user-name"><?php html($chatrooms['d'][$i]['chatroomName']); ?></div>
								<span class="last-call"></span>
							</div>
						</div>
					</a>
				</li>
<?php } **/ ?>
			</ul>
		</div>
	</div>
	<!-- ./左側訊息列表 -->

	<!-- 列表內容 -->
	<div id="mailbox-new-chat" class="list-content mailbox-new-chat hidden">
		<div class="inside-mailbox">
			<button type="button" id="new-chat-close" class="pull-right">
				<span class="text"><span><span>&times;</span></span></span>
			</button>

			<div class="form-group">
				<input type="text" id="chatroom-create-name" placeholder="變更輸入聊天主題" />
			</div>

			<div id="choose-picker">
				<div class="list-txt">傳訊息給以下這些人：</div>
				<div class="item-list"></div>

				<div class="chat-btn-group">
					<button type="button" class="btn pull-right" id="chatroom-create" style="display: none;">
						<span class="txt">建立</span>
					</button>
				</div>

				<div class="filter-box">
					<input type="text" class="filter-input" />
					<button type="button" class="filter-button">
						<span class="text"><i class="fa fa-search"></i></span>
					</button>
					
				</div>
				<div class=""><span class="red-txt">點擊人物名稱加入聊天</span></div>

				<ul class="option-list nostyle">
	<?php for($i=0;$i<$xusers['args']['num'];$i++){ ?>
					<li class="item" data-id="<?php html($xusers['d'][$i]['userUid']); ?>">
						<div>
							<div class="profile-image-s">
								<img src="/user_profiles/profile_<?php echo $xusers['d'][$i]['userUid']; ?>_s.png" /> 
							<!--	<img src="/images/9xt/4k4/9xtva3l9-44ggswo4-s0k08os4k4_g.png" /> -->
							</div>
							<div class="cp-filter-keyword cp-name user-name"><?php html($xusers['d'][$i]['userRealname']); ?></div>
						</div>
					</li>
	<?php } ?>
				</ul>
			</div>
		</div>
	</div>
	<!-- ./列表內容 -->

	<div id="list_content" class="list-content">
		<div class="head"><?php html($chatroom['chatroomName']); ?></div>
		<div class="body">
<?php 
$my_uid=ME::user_uid();
/** for($i=0;$i<$chatmessages['args']['num'];$i++){
?>
			<div class="chat-win <?php echo !strcmp($chatmessages['d'][$i]['userUid'],$my_uid)?'self':'others'; ?> message-id-<?php echo $chatmessages['d'][$i]['chatmessageUid']; ?>">
				<div class="chat-info">
					<img src="/user_profiles/profile_<?php echo $chatmessages['d'][$i]['userUid']; ?>_m.png">
					<div class="list-info">
						<span class="user-name"><?php html($chatmessages['d'][$i]['userRealname']); ?></span>
						<span class="last-call"></span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="chat-content">
					<?php html($chatmessages['d'][$i]['chatmessage']); ?>
				</div>
			</div>
<?php
} **/
?>
		</div>

		<input type="hidden" id="fetch-status" value="0" />
		<input type="hidden" id="fetch-oldesttime" value="<?php echo $chatmessages['args']['num']>0?($chatmessages['d'][($chatmessages['args']['num']-1)]['chatmessageTime']):0; ?>" />
		<input type="hidden" id="fetch-lasttime" value="<?php echo $chatmessages['args']['num']>0?($chatmessages['d'][0]['chatmessageTime']):0; ?>" />
		<input type="hidden" id="chatroom-uid" value="<?php echo $chatroom_uid; ?>" />
		<div class="foot">
			<div id="chat-content" class="chat-content" contentEditable="true">
				輸入訊息...
			</div>
			<div class="chat-buttons">
				<!--
				<span><i class="fa fa-plus"></i>添加圖片</span>
				<span><i class="fa fa-plus"></i>添加影片網址</span>
				<span><i class="fa fa-plus"></i>添加檔案</span>	
				-->
				<span class="send pull-right" id="new-message-content">發送</span>
			</div>
		</div>
	</div>
	<!-- ./列表內容 -->
</div>

<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_chatroom.js"></script>






<!--
<div class="mailbox row-fluid">
	<div class="mailbox-gropus gs12-5">
		<h4>訊息列表</h4>
		<button type="button" id="chat-create"><span class="icon-plus"></span>新訊息</button>

		<div class="row-fluid">
			<div class="co12-10 co12-offset-1">
				<input type="text" />
				<button type="button"><span class="icon-search"></span>搜尋</button>
			</div>
		</div>

		<div>
			<ul class="nav-options nav-options-border-left">
			</ul>
		</div>
		<div class="spacer"></div>
	</div>

	<div id="mailbox-talking" class="mailbox-talking gs12-7">
		<div class="message-list">
			<ul>
<?php
	for($i=0;$i<$chatmessages['args']['num'];$i++){
?>
				<li class="<?php echo !strcmp($chatmessages['d'][$i]['userUid'],ME::user_uid())?'is-self':'not-self'; ?> message-id-<?php echo $chatmessages['d'][$i]['chatmessageUid']; ?>">
					<a>
						<div><?php html($chatmessages['d'][$i]['userRealname']); ?></div>
					</a>
					<?php html($chatmessages['d'][$i]['chatmessage']); ?>
				</li>
<?php 
	}
?>
			</ul>
		</div>
	</div>


</div>
<script type="text/javascript">
$(document).ready(function(){
});
</script>
<style type="text/css">
.choosepicker-selected {
	background-color:#ccc;
	color:#aaa;
}
	
</style>
-->
