<h1>XSS Testing</h1>
<form method="post">
	<textarea name="str"><?php textarea($str); ?></textarea>
	<div>
		<button type="submit">Submit test</button>
	</div>
</form>
<h4>Output</h4>
<div><h5>value:</h5>
	<input type="text" value="<?php value($str); ?>" />
</div>
<div><h5>textarea:</h5>
	<textarea><?php textarea($str); ?></textarea>
</div>
<div><h5>html:</h5>
	<div><?php html($str); ?></div>
</div>
<div><h5>javascript: (click for alert)</h5>
	<button type="button" id="test">Test</button>
	<script type="text/javascript">
		$('#test').click(function(){
			alert("<?php js($str); ?>");
		});
	</script>
</div>
<div><h5>javascript write: (click for display)</h5>
<script type="text/javascript">
	document.write('<?php jsw($str); ?>');
</script>
<div><h5>attr:</h5>
	<div attr="<?php attr($str); ?>" id="test2-1"></div>
	<button type="button" id="test2">Test</button>
	<script type="text/javascript">
		$('#test2').click(function(){
			alert($('#test2-1').attr('attr'));
		});
	</script>
</div>

