<?php
$total = count($explore['d']);
   
for( $i=0; $i<$total; $i++ ){ 
//    echo ($i%2 == 0) ? '<div class="co12-12 box-margin-top">' : '' ;
    echo '<div class="box-margin-top explore-lists">';
?>
    <div class="wallpost wbox" data-uid="<?php value($explore['d'][$i]['userUid']); ?>" data-wuid="<?php value($explore['d'][$i]['wallpostUid']); ?>" ><!-- b -->

        <div class="box co12-6">
            <div class="box-head">
            <?php
                $defaultPhoto_m='/css/img/default_profile_pic_m.png';
                $defaultPhoto_s='/css/img/default_profile_pic_s.png';

                if( !empty($explore['d'][$i]['userProfile']) )
                    $userPhoto=CZ::model('images')->imagePath_getter($explore['d'][$i]['userProfile'],'_s') ;
                else
                    $userPhoto=$defaultPhoto_m;

                $interests=explode(';',$explore['d'][$i]['wallpostInterests']);

                if( !empty($explore['d'][$i]['imageUid']))
                    $wallpostsPic=CZ::model('images')->imagePath_getter($explore['d'][$i]['imageUid']);
                else
                    $wallpostsPic='/css/img/'.$interests[0].'.png';
            ?>
                <a href="/user/mywalls/<?php echo $explore['d'][$i]['userUid']  ?>">
                    <img src="<?php echo $userPhoto?>">
                </a>
                            
                <div class="info">
                    <a href="/user/mywalls/<?php echo $explore['d'][$i]['userUid']  ?>">
                        <div class="top"><?php echo $explore['d'][$i]['userRealname'] ?></div>
                    </a>

                    <div class="down"><span class="datetime"><?php echo $explore['d'][$i]['wallpostTimeCreate'] ?></span></div>
                </div>
                            
                <span class="fa fa-chevron-down pull-right ul-sw" onclick="ul_sw(this);"></span>
                            
                <div class="ul-bordered" style="display: none;">
                    <ul class="nostyle collect-report">
                        <?php if( true ){ // 他人的文章 ?>
                        <li><a href="javascript:void(0)" class="favor-this"><?php echo !empty($wallposts['uwallpost_track']['favor']) ? "已收藏" : "加入收藏";?></a></li>
                        <li><a href="#">檢舉</a></li>
                                    <?php }else{ // 自己的文章 ?>
                        <li><a href="#">刪除</a></li>
                        <li><a href="#" >修改</a></li>
                                    <?php } ?>
                    </ul>
                </div>
            </div>

            <div class="box-img">
                    <img class="comment-this" src="<?php echo $wallpostsPic ?>" />
                            
                <div class="interest-item">
                    <?php foreach($interests as $wallpostInterests){?>
                        <?php if($wallpostInterests!='0' && $wallpostInterests!=''){?>
                            <div class="icon"><span class="icon-i27 icon-<?php echo $wallpostInterests;?>"></span></div>
                        <?php }?>
                    <?php }?>
                </div>
            </div>

            <div class="box-body">
                    <h4 class="comment-this"><?php echo $explore['d'][$i]['wallpostTopic'] ?></h4>
                    <article class="comment-this ">
                        <?php echo mb_strimwidth( $explore['d'][$i]['wallpostBrief']  , 0, 250, "...", "UTF-8"); ?>
                    </article>
            </div>

            <div class="box-foot">
                <div class="info">
                    <div class="co12-3 like-counter">喜歡 <span class="num"><?php echo $explore['d'][$i]['wallpostNumLikes'] ?></span>個</div>
                    <div class="co12-3 dislike-counter">不喜歡 <span class="num"><?php echo $explore['d'][$i]['wallpostNumDislikes'] ?></span>個</div>
                    <div class="co12-3 text-right comment-counter">留言 <span class="num"><?php echo $explore['d'][$i]['wallpostNumComments'] ?></span>則
                    </div>
                    <div class="co12-3 text-right share-counter">分享 <span class="num"><?php echo $explore['d'][$i]['wallpostNumShares'] ?></span>次</div>
                </div>
        
                <?php //if(ME::is_login()){ ?>
                <div class="action-buttons">
                    <div class="co12-3"><span class="like-this <?php echo !empty($explore['d'][$i]['uwallpost_track']['like']) ? "did" : "";?>"></span></div>
                    <div class="co12-3"><span class="dislike-this <?php echo !empty($explore['d'][$i]['uwallpost_track']['dislike']) ? "did" : "";?>"></span></div>
                    <div class="co12-3"><span class="comment-this <?php echo !empty($explore['d'][$i]['uwallpost_track']['comment']) ? "did" : "";?>" ></span></div>
                    <div class="co12-3"><span class="fa fa-share-alt" onclick="share_sw(this);"></span></div>
                                
                    <!-- 分享 -->
                    <div class="share-bordered" style="display: none;">
                        <ul class="nostyle fb-wallpost">
                            <li><a href='javascript:void(0)' class='share-wall-this'>分享至興趣牆</a></li>
														<li><a href='javascript:void(0)' class='share-fb-this'>分享至臉書</a></li>
														<li><a href='http://www.countmin.com/mailbox/one/' target='_blank'>私訊分享給好友</a></li>
														<li ><a class='copy-link' data-clipboard-action='copy' data-clipboard-text='http://www.countmin.com/user/wallpost_comment?w=<?php echo $explore['d'][$i]['wallpostUid'] ?>' >複製此連結</a></li>
                        </ul>
                    </div>
                </div>
                <?php //} ?>
            </div>
        </div>
    </div> <!-- b -->
<?php 
//    echo ($i%2 == 1 || $i == $total - 1 ) ? '</div>' : '' ;
    echo '</div>';
} 
   // echo "<br />hello<br />";
?>

<?php
    if($explore['args']['num']==0)
        echo '<input type="hidden" id="nodata" value=1 >';
?>
