<script type="text/javascript">                                                 
var page=0;
var urlindex=-1;
var active_li=0;

$( document ).ready(function(){

    $.ajax({
        url: "/index/exploreajax"+location.search+"&page=0",
        success: function(html){
            if(html){
                $("#explore-container-hidden").append(html);

                var explore_item = $("#explore-container-hidden .explore-lists").get();

                $.each(explore_item, function(i, val){
                    if( i % 2 == 0 ){
                        var obj = $(val);
                        $("#explore-odd").append(obj);
                    }
                    else{
                        var obj = $(val);
                        $("#explore-even").append(obj);
                    }
                });

                $("#explore-container-hidden").empty();
            }
        }
    });
    page++;

    // 將 興趣標籤 變色
    urlindex = location.href.indexOf("interest");

    if( urlindex != -1 ){
        var interest      = location.href.substring( urlindex + 9 ).split("&");
        var selected_item = $(".interest-list").find(".slider2").children("li").find(".icon-"+ interest[0]).get();
        var activeli      = $(selected_item).closest("li").get();

        $(activeli).addClass("active");
    }
});

$(window).scroll(function(){

    if( !$("#nodata").val()   && ( $(window).scrollTop() == $(document).height() - $(window).height())){
        
        $.ajax({
            url: "/index/exploreajax"+location.search + "&page=" + page,
            success: function(html){
                if(html){
                    $("#explore-container-hidden").append(html);
                    page++;

                    var explore_item = $("#explore-container-hidden .explore-lists").get();

                    $.each(explore_item, function(i, val){
                        if( i % 2 == 0 ){
                            var obj = $(val);
                            $("#explore-odd").append(obj);
                        }
                        else{
                            var obj = $(val);
                            $("#explore-even").append(obj);
                        }
                    });

                    $("#explore-container-hidden").empty();
                }
                else
                    $('div#loadmoreajaxloader').html('<center>No more posts to show.</center>');
            }
        });
    }
});                                                              
</script>


<?php                                                                                                 
$link='&keyword='.$keyword.'&sort='.$sort.'&type='.$type.'';
?>

<form name="top" action="" method="GET" >  
    <input type="hidden" name="interest" value="<?php echo $wallpostInterests ?>"> 
    <input type="hidden" name="type" value="<?php echo $type ?>"> 
    <input type="hidden" name="keyword" value="<?php echo $keyword ?>">

    <div id="explore-navigation">
        <nav class="explore-nav">
            <ul>
                <?php if(ME::is_login()){ ?>
                <li class='<?php echo (($type == "recomm" || $type=="") && $sort != "hot" ) ? "selected" : ""; ?>'><a href="/index/explore?type=recomm">量身推薦</a></li>  
                <?php } ?>
                <li class='<?php echo ($type == "" && !ME::is_login() || $sort=="hot") ? "selected" : ""; ?>'><a href="/index/explore?sort=hot">最受歡迎</a></li>
                <li><a href="/index/exploremore?type=people">推薦達人</a></li>
                <li class='<?php echo ($type == "msg") ? "selected" : ""; ?>'><a href="/index/explore?type=msg">動態</a></li>
                <li class='<?php echo ($type == "event") ? "selected" : ""; ?>'><a href="/index/explore?type=event">活動</a></li>
            </ul>

            <select name="sort" onchange="$(top).submit()">
                <option value="time" <?php echo ($sort == 'time')?'selected="selected"':'' ?> >依照時間排序</option>
                <option value="hot" <?php echo ($sort == 'hot')?'selected="selected"':'' ?>>依照熱門排序</option>
                <option value="view" <?php echo ($sort == 'view')?'selected="selected"':'' ?>>依照瀏覽量排序</option>
            </select>
        </nav>
    </div>
</form>

<div class="explore-page row-fluid">
    <!-- 興趣分類 -->
    <div class="box">
        <div class="head">
            <span>興趣標籤</span>
        </div>
            
        <div class="interest-item interest-list">
            <div>
                <ul class="nostyle slider2">  
                    <?php for($i=0;$i<$internetTag['args']['num'];$i++){ ?>                                  
                    <li class="slide refresh-wallposts icon" rw-interest="<?php echo $internetTag['d'][$i]['interestId']; ?>">
                        <?php echo '<a href="/index/explore?&interest='.$internetTag['d'][$i]['interestId'].$link.'">' ?>
                            <div class="icon-i27 icon-<?php echo $internetTag['d'][$i]['interestId']; ?>">
                                <span class="txt"><?php html($internetTag['d'][$i]['interestName']); ?></span>
                            </div>
                        </a>   
                    </li>
                    <?php } ?>
                </ul>
            </div>

            <div class="interest-item-mask-left mask-arrow-sm">
                <div class="arrow"><i class="fa fa-caret-left"></i></div>
            </div>

            <div class="interest-item-mask-right mask-arrow-sm">
                <div class="arrow"><i class="fa fa-caret-right"></i></div>
            </div>
        </div> 
    </div>
    <!-- ./ 興趣分類 -->

    <!-- 下方頁面 -->
    <div class="row-fluid content-box">
        <div class="explore-item-group">
            <!-- 文章開始 ------>
            <div class="wallposts"> 
                <!--infinite scroll start -->
                <div id="postswrapper">
                    <div class="item"></div>
                    <div id="loadmoreajaxloader" style="display:none;">             
                        <center>
                            <img src="/css/img/loading.gif" />
                        </center>
                    </div>
                    <!--infinite scroll end -->
                    <div id="explore-container-hidden" class="row-fluid co12-12" style="display:none;"></div>

                    <div id="explore-container" class="row-fluid co12-12">
                        <div id="explore-odd" class="co12-6"></div>

                        <div id="explore-even" class="co12-6"></div>
                    </div>
                </div>
            </div> 
            <!-- 文章結束 ------>
        </div>

        <!-- 你可能感興趣的人, 熱門動態 -->
		<div class="explore-condition">
			<?php CZ::grid('index','interestpeople',$users); ?>

            <?php  
                if( is_array($hotWrite) && array_key_exists('wallpostUid',$hotWrite))
                    CZ::grid('index','hotwrite',$hotWrite); 
            ?>
        </div>
    </div>
</div>
    

