<?php 
    $sort = "time"; 
    $wallpostInterests = "";
    $link='';
?>

<script>
var page=0;
var urlindex=-1;
var active_li=0;

$(document).ready(function(){

    urlindex = location.href.indexOf("interest");

    if( urlindex != -1 ){
        var interest  = location.href.substring( urlindex + 9 ).split("&");
        var selected_item = $(".interest-list").find(".slider2").children("li").find(".icon-"+ interest[0]).get();
        var activeli = $(selected_item).closest("li").get();
        $(activeli).addClass("active");
    }

    $("#page-header .explore").addClass("selected");
});

</script>

<form name="top" action="" method="GET" >  
    <input type="hidden" name="interest" value="<?php echo $wallpostInterests ?>"> 
    <input type="hidden" name="type" value="<?php echo $type ?>"> 
    <input type="hidden" name="keyword" value="<?php echo $keyword ?>"> 

    <div id="explore-navigation">
        <nav class="explore-nav">
            <ul>
                <?php if(ME::is_login()){ ?>
                <li class='<?php echo (($type == "recomm" || $type=="") && $sort != "hot" ) ? "selected" : ""; ?>'><a href="/index/explore?type=recomm">量身推薦</a></li>  
                <?php } ?>
                <li class='<?php echo ($type == "" && !ME::is_login() || $sort=="hot") ? "selected" : ""; ?>'><a href="/index/explore?sort=hot">最受歡迎</a></li>
                <li class='<?php echo (($type == "people" )  ) ? "selected" : ""; ?>'>
                    <a href="/index/exploremore?type=people">推薦達人</a>
                </li>
                <li class='<?php echo ($type == "msg") ? "selected" : ""; ?>'><a href="/index/explore?type=msg">動態</a></li>
                <li class='<?php echo ($type == "event") ? "selected" : ""; ?>'><a href="/index/explore?type=event">活動</a></li>
            </ul>
        </nav>
    </div>
</form>

<div class="explore-page row-fluid explore-page-more">
    <!-- 興趣分類 -->
    <div class="box">
        <div class="head">
            <span>興趣標籤</span>
        </div>
        <div class="interest-item interest-list">
            <div>
                <ul class="nostyle slider2">  
                <?php for($i=0;$i<$internetTag['args']['num'];$i++){ ?>                                  
                    <li class="slide refresh-wallposts icon" rw-interest="<?php echo $internetTag['d'][$i]['interestId']; ?>">
                    <?php echo '<a href="/index/exploremore?type='.$type.'&keyword='.$keyword.'&interest='.$internetTag['d'][$i]['interestId'].$link.'">' ?>
                            <div class="icon-i27 icon-<?php echo $internetTag['d'][$i]['interestId']; ?>">
                                <span class="txt"><?php html($internetTag['d'][$i]['interestName']); ?></span>
                            </div>
                        </a>   
                    </li>
                <?php } ?>
                </ul>
            </div>

            <div class="interest-item-mask-left mask-arrow-sm">
                <div class="arrow"><i class="fa fa-caret-left"></i></div>
            </div>
            <div class="interest-item-mask-right mask-arrow-sm">
                <div class="arrow"><i class="fa fa-caret-right"></i></div>
            </div>
        </div> 
    </div>
    <!-- ./ 興趣分類 -->

    <!-- 下方頁面 -->
    <div class="row-fluid content-box">

<?php  for($i=0;$i<$users['args']['num'];$i++){  ?>

        <div class="co12-3 <?php echo ($i%4==3) ? 'margin-right-none': ''; ?>">
            <div class="exploremore-head">
                <a href="/user/mywalls/<?php echo $users['d'][$i]['userUid']  ?>" >     
                <img class="bg-img" src="<?php  echo CZ::model('images')->imagePath_getter($users['d'][$i]['userTopbanner'],'_ts') ?>" />
                </a>
                <div class="flag"><?php echo $upro[$i]['title'] ?>
                    <div class="triangle"></div>
                </div>


<?php  

        switch($users['d'][$i]['relation_status']['now']){
            case 'stranger':
                $action='follow';
                $str='追蹤';
                break;
            case 'interest':
                $action='follow';
                $str='追蹤';
                break;
            case 'follow':
                $action='not_follow';
                $str='取消追蹤';
                break;
            case 'inviting':
                $action='not_inviting';
                $str='取消邀請';
                break;
            case 'friend':
                $action='not_friend';
                $str='取消好友';
                break;           
            default:
                $action='follow';
                $str='追蹤';
                break;                
        }			
?>
               <div class="exploremore-traceBtn countmin_relation" data-uid="<?php echo $users['d'][$i]['userUid'];?>">
                    <div>
                    <div class="r-btn" data-action="<?php echo $action?>">
                        <i class="fa" ></i><?php echo $str ?>
                    </div>
                    </div>
                </div>

                <div class="img-box">
                    <a href="/user/mywalls/<?php echo $users['d'][$i]['userUid']  ?>" > 
                    <img src="<?php echo CZ::model('images')->imagePath_getter($users['d'][$i]['userProfile'],'_s') ?>">
                    </a>
                </div>
            </div>

            <div class="exploremore-body">
                <div class="exploremore-name"><?php echo $users['d'][$i]['userRealname'] ?></div>
                <div class="exploremore-interests interest-item">
                    <?php 
                        $tag=explode(";",$users['d'][$i]['userInterests']);                            
                        for($j=0;$j<count($upro[$i]['d']);$j++){  
                            foreach($tag as $value){
                                if( $upro[$i]['d'][$j]['interestId'] == $value ){
                    ?>
                    <div class="icon">
                        <div class="icon-i27 icon-<?php echo $upro[$i]['d'][$j]['interestId'] ?>"></div>
                        <div class="interest-count"><?php echo $upro[$i]['d'][$j]['userProLevel']?></div>
                    </div>
                    <?php 
                                } 
                            }
                        }
                    ?>
                </div>
            </div>

            <div class="exploremore-foot">
            <?php  //_e($wallposts);
                for($j=0;$j<count($wallposts[$i]['d']);$j++){ 
                    $interests=explode(';',$wallposts[$i]['d'][$j]['wallpostInterests']);
                    if( !empty($wallposts[$i]['d'][$j]['imageUid']))
                        $wallpostsPic=CZ::model('images')->imagePath_getter($wallposts[$i]['d'][$j]['imageUid']);
                    else
                        $wallpostsPic='/css/img/'.$interests[0].'.png';   
            ?>
                <div class="split-3 wallposts">
                    <div class="box row-fluid wbox" data-uid="<?php value($wallposts[$i]['d'][$j]['userUid']); ?>" data-wuid="<?php value($wallposts[$i]['d'][$j]['wallpostUid']); ?>"  data-wtime="<?php $dt = new DateTime($wallposts[$i]['d'][$j]['wallpostTimeCreate']); echo $dt->format('Y-m-d H:i:s'); ?>" data-wallpost-type="<?php echo $wallposts[$i]['d'][$j]['wallpostType']; ?>"> 
                        <img class="comment-this2" src="<?php echo $wallpostsPic ?>">
                    </div>
                </div>
            <?php } ?>
            </div>
        </div>

        <?php echo ($i%4==3) ? '<div class="page-clearfix"></div>': ''; ?>
<?php }  ?>

    </div>
</div>

