
<script>
    function check(){

        var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        if(!reg.test($("#email").val()))   
            alert("email 格式不正確");
        else{
            alert("信件已寄出");
            $("#forget").submit();
        }
    }
</script>
 <!--
<form name="forget" id="forget" method="post" action="">
    註冊email帳號<input type="text" name="email" id="email">
   <input type="button" value="發送信件" onclick="check()" > 
    <input type="text" name="email" id="email" placeholder="填寫註冊之 email帳號" />
    <button type="button" class="cancel" onclick="history.go(-1); return false;">取消</button>
    <button type="button" class="submit" onclick="check();">發送信件</button>
</form>
-->

<div class="forget-wrapper">
    <form name="forget" id="forget" method="post" action="">
        <div class="forget-container">
            <div class="head">
                忘記密碼
            </div>
            <div class="body">
                <div class="form-group">
                    <input type="text" name="email" id="email" placeholder="請填寫註冊之 email帳號" />
                </div>
            </div>
            <div class="foot">
                <button type="button" class="cancel" onclick="history.go(-1); return false;">取消</button>
                <button type="button" class="submit" onclick="check();">發送信件</button>
            </div>
        </div>
    </form>
</div>
