<?php
    $buynow ='立即兌換';
    $goodsType = ( $goods['goodsType'] == 0) ? '郵寄商品' : '虛擬卡號' ;


    if( $goods['goodsStatus'] == 0 || $goods['goodsNumStorage'] < 1 )
        $buynow = '已兌換完畢';

    if( $upointCheck )
        $buynow = '兌換點數不足';

    if( $goods['goodsDateLimitClose'] == '2100-12-31' )
        $goodsDateLimitClose = '無期限';
    else
        $goodsDateLimitClose = $goods['goodsDateLimitClose'];    

?>
<script>
$("#page-header .goods").addClass("selected");

function myFavorites( id ){
    if(  $("#heart").attr("class") == "fa fa-heart" )
        $("#heartshow").html('<i id="heart" class="fa fa-heart-o">');
    else
        $("#heartshow").html('<i id="heart" class="fa fa-heart">');

    $.ajax({
        url: "/index/addfavors",
        data: 'gid='+id+'&type=5',                                                                                             
        type:"POST",
        dataType:'text',
            
        success: function(message){
            document.getElementById("favorTotal").innerHTML=message;
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById("favorTotal").innerHTML=errorThrown;
        }
    });
}

function buy_submit(){
  goodsbuy.submit();

}
</script>

<div class="row-fluid  user-interests-wrapper">

  <!-- 左邊版型   -->
  <!--  帳戶狀況  -->
  <div class="user-interests-left left-sidebar box-top hidden-xs pull-left">
		<div class="box">
            <div class="row-fluid">
                <div class="co12-12 cname"><?php echo $xuser['basic']['userRealname'] ?></div>
                <div class="co12-12 accumulation-txt">您的帳戶累計點數</div>
            </div>

            <div class="row-fluid">
                <div class="co12-4"><span class="fa fa-dollar"></span></div>
                <div class="co12-8 text-right">可兌換點數
                    <span class="user-points"><?php echo $xuser['basic']['userPoint'] ?></span>
                </div>
            </div>

<?php if( date("m") >= 6 ){ ?>
            <div class="row-fluid expire">
                <div class="co12-4"><span class="fa fa-dollar gray"></span></div>
                <div class="co12-8 text-right"><?php echo $sixMon ?>到期
                    <span class="total-point"><?php echo $expirePoint ?></span>
                </div>
            </div>
<?php } ?>

            <div class="row-fluid border-top">
                <div class="text-center point-record-txt2"><a href="/user/points">看點數紀錄</a></div>
            </div>
        </div>

    <!-- 好康形式 -->
        <div class="box">
            <div class="row-fluid goods-type"> 
                <div class="co12-12"><span class="fa fa-gift"></span> 好康形式</div>
                <nav>
                    <ul>
                        <li><?php echo '<a href="/index/goods?goodsChoose=all"><span>全部好康</span></a>' ?></li>
                        <li><?php echo '<a href="/index/goods?goodsChoose=mail"><span>郵寄商品</span></a>' ?></li>
                        <li><?php echo '<a href="/index/goods?goodsChoose=pc"><span>電子票卷</span></a>' ?></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--   我的好康收藏  -->
        <div class="box">
            <div class="row-fluid">
                <a href="/index/goods?myfavors=1">
                    <div class="co12-9">
                        <span class="fa fa-heart"></span> 我的好康收藏
                    </div>
                </a>
                <div class="co12-3 text-right">
                    <div id="favorTotal"><?php echo $favorsCount['d']['0']['count(*)']; ?></div>  
                </div>
            </div>   
        </div>
  </div>


<!--    以下為中間版型          -->
  <div class="user-interests-right content-wrapper box-top pull-right">
    <form name="goodsbuy" action="/index/goodsbuy" method="POST">
      <input type="hidden" name="gid" value="<?php echo $goods['goodsUid'] ?>" >

      <div class="box goods-detail">
        <div class="breadcrumb"><a href="/index/goods">好康首頁</a> > <?php echo $goodsType ?>   >  <?php echo $goods['goodsName'] ?></div>

        <div class="box row-fluid">
          <div class="img-box">
             <img src="<?php echo CZ::model('images')->imagePath_getter($goods['imageUidMaster'],'_dd') ?>">
          </div>

          <div class="txt-box">
            <div class="proc-brand"><?php echo $brands['d'][0]['brandName'] ?> </div>
            <div class="proc-name"><?php echo $goods['goodsName'] ?> </div>
            <div class="proc-txt">原價 $ <span class="proc-price"><?php echo number_format($goods['goodsPriceMarket']) ?></span></div>
            <div class="proc-txt">有效期限：<span class="proc-validity-period">
                <?php echo $goodsDateLimitClose ?></span>
            </div>
            <div class="proc-txt">好康形式：<span class="proc-goods-type"><?php echo $goodsType ?></span></div>
            <div class="proc-txt-lg">兌換點數 <span class="proc-redeem-points">
                <?php echo number_format($goods['goodsPricePoint']) ?></span>點
            </div>
            <div class="proc-action-buttons">
              <div class="favorite" name="favorite" onclick="myFavorites( '<?php echo $goods['goodsUid']  ?>'   )">
                    <div id="heartshow"><i id="heart" class="<?php echo ($favorsCheck['count(*)']) ? 'fa fa-heart' : 'fa fa-heart-o' ?>"></i></div>
                </div>
              <div class="buy <?php echo ($upointCheck) ? "not-enough": ""; ?>" name="buy" <?php echo ($buynow == '立即兌換') ? 'onclick="buy_submit();"' : '' ?> >
                <?php echo $buynow ?>
              </div>
            </div>
          </div>
        </div>

        <!-- 商品說明事項開始 -->
        <div class="box-bordered">
          <div class="title">注意事項</div>
          <div class=""><?php echo $goods['goodsNote']  ?></div>
        </div>

        <div class="box-bordered">
          <div class="title">商品內容</div>
          <div class=""><?php echo $goods['goodsIntro'] ?></div>
        </div>
            
        <!-- 適用商家開始 -->
        <?php if(!empty($goods['goodsStore'])){ ?>
        <div class="box-bordered">
          <div class="title">適用商家</div>
          <div class=""><?php echo nl2br($goods['goodsStore'])  ?></div>
        </div>
        <?php } ?>
        <!-- -->
        <div class="box-bordered no-bordered">
          <div class="buttons">
            <div class="buy" <?php echo ($buynow == '立即兌換' ) ? 'onclick="buy_submit();"' : '' ?>>
                <?php echo $buynow ?>
            </div>
            <div class="share">分享</div>
          </div>
          
          <!--
          <input name="buy" type="submit" onclick="buy_submit();" value="立即兌換">                                                               
          <input type="button" name="" value="分享" onclick="" > 
          -->
        </div>

      </div>
    </form>
  </div>
</div>
