<?php
 $goodsType='';
 switch( $goods['goodsType']){
    case 0 :
      $goodsType='郵寄商品';
      break;
    case 1 :
      $goodsType='虛擬卡號';
      break;
 }
?>
<script type="text/javascript">
$("#page-header li.goods").addClass("selected");
</script>

<div class="row-fluid goods-order">
	<div class="user-interests box-top co12-12 hidden-xs">
    <form name="goodsbuy" id="goodsbuy" action="goodsorder" method="POST" >
      <div class="box box-margin-bottom">
        <div class="title">好康兌換流程</div>
        <div class="process">
          <nav>
            <ul id="process-step" class="nostyle">
              <li class="processed">Step 1 輸入收件人資料</li>
              <li class="processed">Step 2 確認訂購資料</li>
              <li class="processing"><?php echo (!$errPage) ? 'Step 3 訂購完成' : '兌換好康失敗' ?> </li>
            </ul>
          </nav>
        </div>

        <div class="order-info">
          <div>親愛的會員, <?php echo (!$errPage) ? '您的訂購資料如下:' : '由於'.$e->getMessage().',所以兌換未成功' ?></div>
        <?php if(!$errPage){ ?>
        <div class="box">
            訂單編號  
        <span class="order-num"> <?php echo $orderId ?> </span> 
        <span class="pull-right">訂購日期 ：<?php echo date("Y/m/d")?></span></div>
        <?php } ?>
        </div>

        <!-- 兌換明細 -->
        <?php if(!$errPage){ ?>
        <div class="order-step"><i class="fa fa-square"></i>兌換明細</div>
        <div class="order-tbl">
          <table border=1>
            <tr>
              <th>好康名稱</th><th>好康形式</th><th>點數</th><th>消費總點數</th>
            </tr>
            <tr>
              <td>
                <img src="<?php echo CZ::model('images')->imagePath_getter($goods['imageUidMaster'],'_do') ?>" />
                <span class="goods-name">
                    <?php echo $brands['d'][0]['brandName']  ?><br />
                    <?php echo $goods['goodsName']  ?>
                </span>
              </td>
              <td><?php echo $goodsType  ?></td>
              <td><span class="red-txt"><?php echo number_format($goods['goodsPricePoint'])  ?></span></td>
              <td><span class="red-txt"><?php echo number_format($goods['goodsPricePoint'])  ?></span></td>
            </tr>
          </table>
        </div>

        <!-- 購買人資料開始   -->
        <div class="order-step"><i class="fa fa-square"></i>購買人資料</div>
        <div class="order-tbl padding-lg">
          <table border=1>
            <tr>
              <th>訂購者姓名</th><th>註冊Email</th><th>連絡電話</th>
            </tr>
            <tr>
              <td><?php echo $users['basic']['userRealname'];  ?> </td> 
              <td><?php echo $users['userdetails']['userContactEmail']; ?></td> 
              <td>手機: <?php echo $users['userdetails']['userContactPhone'];  ?></td>                                       
            </tr>  
          </table> 
        </div>
        
        <!-- 收件人資料開始  -->
        <div class="order-step recipients"><i class="fa fa-square"></i>收件人資料</div>
        <div class="order-tbl no-border-tbl">
          <div class="tbl-wrapper">
            <div class="left-tbl">
              <div class="label-txt">姓名</div>
              <div class="label-txt">E-mail</div>
              <div class="label-txt">市內電話</div>
              <div class="label-txt">地址</div>
              <div class="label-txt">備註</div>
            </div>

            <!-- 右邊填寫表單 -->
            <div class="right-tbl">
              <div id="username2" class="label-txt"><?php echo $username ?></div>
              <div id="email2" class="label-txt"><?php echo $email ?></div>
              <div id="telephone-num" class="label-txt">
                <div class="co12-6">
                  <span id="tel2"><?php echo $tel ?></span>
                </div>
                <div class="co12-6">
                  手機 <span id="mobile2"><?php echo $mobile ?></span>
                </div>
              </div>
              <div id="address2" class="label-txt"><?php echo $address ?></div>
              <div id="notation2" class="label-txt"><?php echo $notation ?></div>
            </div>
          </div>
        </div>
        <?php } ?>
        <!--  確定取消開始   -->
        <div class="order-step">
          <div class="action-btns">
            <button type="button" name="confirm" id="confirm" class="confirm" onclick="window.location='/index/goods'">繼續選購</button>
            <button type="button" name="cancel" id="cancel" class="pull-right" onclick="window.location='/'">回興趣牆</button>
          </div>
        </div>
      </div>
      <!-- ./box -->
    </form>
  </div>
</div>        
