<meta charset="utf-8" />
        <!-- 商品列表開始 -->

        <div class="goods row-fluid">
            <?php  
                for($i=0;$i<$goods['args']['num'];$i++){  
                    switch( $goods['d'][$i]['goodsType']){
                        case 0 :
                            $goodsType='郵寄商品';
                            break;
                        case 1 :
                            $goodsType='電子票劵';
                            break;
                }
            ?>
            <div class="co12-4">
                <div class="box goods-item">
                    <div class="box-head">
                        <img src="<?php echo CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUid'],'_b') ?>">
                        <div class="head-txt"><?php echo mb_strimwidth($goods['d'][$i]['brandName'], 0, 22, "...", "UTF-8");  ?></div>
                        <span onclick="myFavorites(this,'<?php echo $goods['d'][$i]['goodsUid']  ?>')">
                        <div id="heartshow<?php echo $goods['d'][$i]['goodsUid']  ?>"><i id="heart<?php echo $goods['d'][$i]['goodsUid']  ?>" class=<?php echo ($goods['d'][$i]['addfavors']) ? '"fa fa-heart"' : '"fa fa-heart-o"' ?> ></i></div>

                        </span>
                    </div>

                    <div class="box-body">
                        <a href="/index/goodsdetail?gid=<?php echo $goods['d'][$i]['goodsUid']?>&point=<?php echo $expirePoint?>  ">
                          <img src="<?php echo CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUidMaster'],'_dl') ?>"> 
                            
                        </a>
                        <div class="fav-icons">
                        <?php
                            $goodsInterest = explode(";",$goods['d'][$i]['goodsInterests']);
                            for($j=0;$j<count($goodsInterest);$j++){
                                echo '<div class="icon"><div class="icon-i27 icon-'.$goodsInterest[$j].'"></div></div>';
                            }
                        ?>
                        </div>
                    </div>

                   <div class="box-foot">
                        <div class="proc-name"><?php echo mb_strimwidth($goods['d'][$i]['goodsName'], 0, 26, "...", "UTF-8");  ?></div>

                        <div class="proc-type">好康形式:<?php  echo $goodsType;  ?></div>
                        <div class="exchange">兌換點數: <span class="red-txt"><?php echo number_format($goods['d'][$i]['goodsPricePoint'])  ?> </span>點</div>
 
                        <div class="btn-actions">
            <?php 
                $showbutton=false;
                if( $xuser['basic']['userPoint'] > $goods['d'][$i]['goodsPricePoint'] )
                    $showbutton=true;
            ?>
                            <input <?php echo (!$showbutton) ? 'style="visibility:hidden"' : '' ?> name="order" class="btn" type="button" value="立即兌換" onclick="window.location='/index/goodsbuy?gid=<?php echo $goods['d'][$i]['goodsUid']  ?>'" >
                            <span class="fa fa-share-alt pull-right" onclick="share_sw_siblings(this);"></span>

                            <div class="share-bordered" style="display:none;">
                                <ul class="nostyle fb-wallpost">
                                    <li><a href="">分享至興趣牆</a></li>
                                    <li><a href="">分享至臉書</a></li>
                                </ul>
                            </div>   

                        </div>
                    </div>
                </div>
            </div>
            <?php  }   ?>   
            <!-- 商品列表結束 -->
<?php  
    if($goods['args']['num']==0)
        echo '<input type="hidden" id="nodata" value=1 >';
?>
