<script type="text/javascript">
var page=0;
var urlindex=-1;
var active_li=0;

$( document ).ready(function(){  
    $.ajax({
        url: "/index/goodsajax"+location.search+"&page=0",
        success: function(html){
            if(html)    $("#postswrapper").append(html);
        }
    });
    page++;

    urlindex = location.href.indexOf("interest");

    if( urlindex != -1 ){
        var interest  = location.href.substring( urlindex + 9 ).split("&");
        var selected_item = $(".interest-list").find(".slider1").children("li").find(".icon-"+ interest[0]).get();
        var activeli = $(selected_item).closest("li").get();
        $(activeli).addClass("active");
    }

    var sortindex = location.href.indexOf("sort");
    if( sortindex == -1 ){
        $("#hot").attr("checked", true);
    }
    else{
        var sort = location.href.substring( sortindex + 5 ).split("&");
        $("#"+ sort[0]).attr("checked", true);
    }
});

$(window).scroll(function(){

    if( !$("#nodata").val()   && ( $(window).scrollTop() == $(document).height() - $(window).height())){
        
        $.ajax({
            url: "/index/goodsajax"+location.search + "&page=" + page,
            success: function(html){
                if(html){
                    $("#postswrapper").append(html);
                    page++;
                }
                else
                    $('div#loadmoreajaxloader').html('<center>No more posts to show.</center>');
            }
        });
    }
});

</script>


<script>
function myFavorites( myself,id ){
    $this = $(myself);

    if(  $("#heart"+id).attr("class") == "fa fa-heart" )
        $("#heartshow"+id).html('<i id="heart' + id + '" class="fa fa-heart-o">');
    else
        $("#heartshow"+id).html('<i id="heart' + id + '" class="fa fa-heart">');

    $.ajax({
        url: "/index/addfavors",
        data: 'gid='+id+'&type=5',
        type:"POST",
        dataType:'text',

        success: function(message){
            document.getElementById("favorTotal").innerHTML=message; 
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById("favorTotal").innerHTML=errorThrown;
        }
    });
}

function buy_submit(){
  goodsbuy.submit();
}

function sort_submit(){
  goods_sort.submit();
}
</script>


<div class="row-fluid user-interests-wrapper">

    <!-- 左邊版型   -->
    <!--  帳戶狀況  -->
    <div class="left-sidebar user-interests-left box-top hidden-xs pull-left">
        <div class="box">
            <div class="row-fluid">
                <div class="co12-12 cname"><?php echo $xuser['basic']['userRealname'] ?></div>
                <div class="co12-12 accumulation-txt">您的帳戶累計點數</div>
            </div>

            <div class="row-fluid">
                <div class="co12-4"><span class="fa fa-dollar"></span></div>
                <div class="co12-8 text-right">可兌換點數
                    <span class="user-points"><?php echo number_format($xuser['basic']['userPoint']) ?></span>
                </div>
            </div>

<?php if( date("m") >= 6 ){ ?>
            <div class="row-fluid expire">
                <div class="co12-4"><span class="fa fa-dollar gray"></span></div>
                <div class="co12-8 text-right">
                    <?php echo $sixMon ?>到期
                    <span class="total-point">
                        <?php echo number_format($expirePoint) ?>
                    </span>
                </div>
            </div>
<?php } ?>
            <div class="row-fluid border-top">
                <div class="text-center point-record-txt2"><a href="/user/points">看點數紀錄</a></div>
            </div>
        </div>

        <!-- 好康形式 -->
        <div class="box">
            <div class="row-fluid goods-type"> 
                <div class="co12-12"><span class="fa fa-gift"></span> 好康形式</div>
                <nav>
                    <ul> 
                        <li <?php echo ( !array_key_exists('goodsChoose',$_GET) ||  ($_GET['goodsChoose'] == 'all' ) )  ? 'class="selected"' : '' ?>><?php echo '<a href="/index/goods?goodsChoose=all&interest='.$interest.'&sort='.$sort.'&key='.$key.'"><span>全部</span></a>' ?></li>
                        <li <?php echo ( array_key_exists('goodsChoose',$_GET) && $_GET['goodsChoose'] == 'mail') ? 'class="selected"' : '' ?>><?php echo '<a href="/index/goods?goodsChoose=mail&interest='.$interest.'&sort='.$sort.'&key='.$key.'"><span>郵寄商品</span></a>' ?></li>
                        <li <li <?php echo (array_key_exists('goodsChoose',$_GET) && $_GET['goodsChoose'] == 'pc') ? 'class="selected"' : '' ?>><?php echo '<a href="/index/goods?goodsChoose=pc&interest='.$interest.'&sort='.$sort.'&key='.$key.'"><span>電子票卷</span></a>' ?></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--   我的好康收藏  -->
        <div class="box">
            <div class="row-fluid">
                <a href="/index/goods?myfavors=1">
                    <div id="myfavourite" class="co12-9">
                        <span><i class="fa fa-heart"></i></span> 
                        我的好康收藏
                    </div>
                </a>

                <div class="co12-3 text-right">
                    <div id="favorTotal"><?php echo $favorsCount['d']['0']['count(*)']; ?></div>  
                </div>
            </div>   
        </div>
    </div>

    <!-- 以下為中間版型 -->
    <div class="content-wrapper user-interests-right box-top pull-right">
        <div class="box">
            <div class="goods-classification">好康興趣分類</div>
            <div class="interest-item interest-list">
                <div>
                    <ul class="nostyle slider1">
                    <?php for($i=0;$i<$tag['args']['num'];$i++){ ?>                                  
                        <li class="slide refresh-wallposts icon" rw-interest="<?php echo $tag['d'][$i]['interestId']; ?>">
                            <?php echo '<a href="/index/goods?goodsChoose='.$goodsChoose.'&interest='.$tag['d'][$i]['interestId'].'&sort='.$sort.'&key='.$key.'">' ?>
                                <div class="icon-i27 icon-<?php echo $tag['d'][$i]['interestId']; ?>">
                                    <span class="txt"><?php html($tag['d'][$i]['interestName']); ?></span>
                                </div>
                            </a>   
                        </li>
                    <?php } ?>
                    </ul>
                </div>

                <div class="interest-item-mask-left">
                    <div class="arrow"><i class="fa fa-caret-left"></i></div>
                </div>
                <div class="interest-item-mask-right">
                    <div class="arrow"><i class="fa fa-caret-right"></i></div>
                </div>
            </div>
            <div class="goods-classification-bottom"></div> 
        </div>

        <div class="wallpost page-margin-bottom">
            <form name="goods_sort" id="goods_sort" action="/index/goods" method="GET">
                <ul class="nostyle">
                    <li>
                    <input type="hidden" name="goodsChoose" value="<?php echo $goodsChoose; ?>">
                    <input type="hidden" name="interest" value="<?php echo $interest; ?>">
                排序
                    </li>

                    <li>
                        <div class="form-group">
                        <label>
                            <input type="radio" name="sort" onclick="sort_submit();" id="hot" value="hot" />
                            <span class="radio"></span>熱門推薦
                        </label>
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sort" onclick="sort_submit();" id="new" value="new" />
                            <span class="radio"></span>最新上架
                        </label>
                    </li>
                    <li>
                        <label>
                        <input type="radio" name="sort" onclick="sort_submit();" id="lpoint" value="lpoint" />
                        <span class="radio"></span> 點數低<span class="fa fa-long-arrow-right"></span>高
                        </label>       
                    </li>
                    <li>
                        <label>
                        <input type="radio" name="sort" onclick="sort_submit();" id="hpoint" value="hpoint" />
                        <span class="radio"></span> 點數高<span class="fa fa-long-arrow-right"></span>低
                        </label>
                    </li>
                </ul>

                <div class="btn-group">
                    <input type="text"  class="search" name="key" value="<?php echo $key; ?>" placeholder="搜尋好康" />
                    <button type="submit" class="submitBtn"><span class="fa fa-search"></span></button>
                </div>
            </form>
        </div>

        <!-- 商品列表開始 -->
        <div class="goods row-fluid">
            <!--infinite scroll start -->
            <div id="postswrapper">
                <div class="item"></div>
                <div id="loadmoreajaxloader" style="display:none;">
                <center>
                    <img src="/css/img/loading.gif" />
                </center>
            </div>
            <!--infinite scroll end -->
        </div>
        
        <!-- 商品列表結束 -->
        </div>

<?php if($goodsFree){ ?>
         <!-- 免費獲得好康開始 -->
        <div class="goods free row-fluid">
        
            <h4>免費獲得好康</h4>
            <?php  
                for($i=0;$i<count($goods['d']);$i++){  
                    switch( $goods['d'][$i]['goodsType']){
                        case 0 :
                            $goodsType='郵寄商品';
                            break;
                        case 1 :
                            $goodsType='電子票劵';
                            break;
                }
            ?>
            <div class="co12-4">
                <div class="box goods-item">
                    <div class="box-head">
                    <!--    <img src="<?php echo CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUid']) ?>"> -->
                        <img src="/user_profiles/profile_vjeiw-12930kdvl-23910-dskv_m.png" />   <!-- 暫用 -->
                        <div class="head-txt"><?php echo $goods['d'][$i]['brandName'];  ?></div>
                        <span onclick="myFavorites('<?php echo $goods['d'][$i]['goodsUid']  ?>')"><i class="fa fa-heart-o"></i></span></button>
                    </div>

                    <div class="box-body">
                        <a href="/index/goodsdetail?gid=<?php echo $goods['d'][$i]['goodsUid']?>&point=<?php echo $expirePoint?>  ">
                        <!--    <img src="<?php echo CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUidMaster']) ?>"> -->
                            <img src="/user_banners/topbanner_vjeiw-12930kdvl-23910-dskv.png" /> <!-- 暫用 -->
                        </a>
                        <div class="fav-icons">
                            <div class="icon"><div class="icon-i27 icon-3c"></div></div>
                            <div class="icon"><div class="icon-i27 icon-food"></div></div>
                            <div class="icon"><div class="icon-i27 icon-movie"></div></div>
                        </div>
                    </div>

                    <div class="box-foot">
                        <div class="proc-name"><?php echo mb_strimwidth($goods['d'][$i]['goodsName'], 0, 24, "...", "UTF-8");  ?></div>

                        <div class="proc-type">好康形式:<?php  echo $goodsType;  ?></div>
                        <div class="exchange">兌換點數: <span class="red-txt"><?php echo $goods['d'][$i]['goodsPricePoint'];  ?> </span>點</div>
 
                        <div class="btn-actions">
                            <input name="order" class="btn" type="button" value="立即兌換" onclick="window.location='/index/goodsbuy?gid=<?php echo $goods['d'][$i]['goodsUid']  ?>'" >
                        <!--    <input type="button" name="" class="btn" value="收藏" onclick="myFavorites( '<?php echo $goods['d'][$i]['goodsUid']  ?>'   )" > -->
                            <span class="fa fa-share-alt pull-right"></span>
                        </div>
                    </div>
                </div>
            </div>
            <?php  }   ?>    
            <!-- 商品列表結束 -->

            <div class="clearfix"></div>
            <!-- 免費獲得好康結束->
<?php } ?>
        </div>
    </div>
</div>
