<?php
    switch( $goods['goodsType']){
        case 0 :
            $goodsType='郵寄商品';
            break;
        case 1 :
            $goodsType='電子票劵';
            break;
        default:
            $goodsType='郵寄商品';
    }

    $name='';
    $email='';
    $tel='';
    $mobile='';
    $city='';
    $dist='';
    $address='';
    $note='';

    if($deliveryinfo['args']['num'] > 0){
        $name=$deliveryinfo['d'][0]['name'];
        $email=$deliveryinfo['d'][0]['email'];
        $tel=$deliveryinfo['d'][0]['tel'];
        $mobile=$deliveryinfo['d'][0]['mobile'];
        $city=$deliveryinfo['d'][0]['city'];
        $dist=$deliveryinfo['d'][0]['dist'];
        $address=$deliveryinfo['d'][0]['address'];
        $note=$deliveryinfo['d'][0]['note'];
    }

    if(!empty($dist)) 
        $distJs = '<option value=1 c=0 z=103>'.$dist.'</option>' ;
    else
        $distJs = '<option value="">請選擇</option>' ;
?>
<script>
    $("#page-header li.goods").addClass("selected");

    function checkinput(){
        if( $("#username").val().length < 2 ){
            alert("請填寫真實姓名");
            $("#username").focus();
            return false;
        }
        else if( !$("#mobile").val().match(/^09[0-9]{8}$/) ){
            alert("請填寫您的手機號碼");
            $("#mobile").focus();
            return false;
        }

        <?php if($goods['goodsType'] == 0 ){ ?>
        if( $("#city").val() == "" ){
            alert("請填寫您收件地址-縣市");
            $("#city").focus();
            return false;
        }
        else if( $("#dist").val() == "" ){ 
            alert("請填寫您收件地址-鄉鎮區");
            $("#dist").focus();
            return false;
        }
        else if( $("#address").val() == "" ){
            alert("請填寫您收件地址-街路巷弄");
            $("#address").focus();
            return false;
        }

    <?php } ?>

        return true;
    } 

    function step2(){

    if( !checkinput() )
        return false;

    $(".right-tbl .red-txt").show();
    $("#goodsbuy .form-group").hide();
    $(".right-tbl .label-txt").show();

    $("#username2").text($("#username").val());
    $("#email2").text( ($("#email").val()) ? $("#email").val() : "------" );
    $("#tel2").text( ($("#tel").val()) ? $("#tel").val() : "------" );
    $("#mobile2").text($("#mobile").val());
    $("#address2").html( $("#ZIP").val() +" "+ $("#city option:selected").html() +" "+ $("#dist option:selected").html() +" "+ $("#address").val() );

    $(':hidden[name="city2"]').val( $("#city option:selected").html()  );
    $(':hidden[name="dist2"]').val( $("#dist option:selected").html()  );
    $(':hidden[name="zip2"]').val( $("#ZIP").val() );

    $("#notation2").text( ($("#notation").val()) ? $("#notation").val() : "------" );

    $("#process-step li:first-child").removeClass("processing").addClass("processed");
    $("#process-step li:nth-child(2)").addClass("processing");

    var ps_height = 150 - $("#notation2").height();

    $(".left-tbl, .right-tbl, .tbl-wrapper, .no-border-tbl").css("height", ($(".left-tbl").height()-ps_height) +"px" ) ;
    $(".tbl-wrapper").css("padding-bottom", 0);


    $("#confirm").html( '確認' );
    $("#cancel").html( '修改' );

//    $("#cancel").attr("onclick", "restep1()");
    $("#cancel").attr("onclick", "step2_2_step1("+ ps_height +")");
    $("#confirm").attr("onclick" ,"submit()");

    window.location.href="#process-step";
    return false;
   }

   function step2_2_step1( ps_height ){
  //  $(".tbl-wrapper").css("padding-bottom", "20px");
    $(".left-tbl, .right-tbl, .tbl-wrapper, .no-border-tbl").css("height", ($(".left-tbl").height()+ps_height) +"px" ) ;
    
    restep1();
   }


   function restep1(){
      $(".right-tbl .label-txt").hide();
      $("#goodsbuy .form-group").show();
      $("#goodsbuy").find('.red-txt').show();

      $("#process-step li:first-child").removeClass("processed").addClass("processing");
      $("#process-step li:nth-child(2)").removeClass("processing");

      $("#confirm").val( '確認兌換' );
      $("#cancel").val( '取消' );

      $("#cancel").attr("onclick", "history.go(-1); return false;");
      $("#confirm").attr("onclick","step2();" );
   }     

  function submit(){
    $("#goods-order").submit;
  }

  // 設定 縣市, 鄉鎮
  function setCityArea() {
    $("#dist option").remove();
    $("#dist").append('<?php echo $distJs ?>').append($("#jAllArea option[c="+$("#city").val()+"]").clone());
   //if ($("#City").val() == nDefCity && nDefCity !== "") $("#Area option[value='"+nDefArea+"']").attr("selected",true);   
  }

  function setZip() {
    $("#ZIP").val($("#dist option:selected").attr("z"));
  }


  $(function() {
    //複製新Area並隱藏
    $("#dist").after('<select name="jAllArea" id="jAllArea"></select>');
    $("#jAllArea").hide().append($("#dist option").clone());
    
    $("#city").change(function() {
      setCityArea($(this).val());
      setZip();
    });

    $("#dist").change(function() {
      setZip();
    });
    
    setCityArea();
  });

function saveInfo(){ 

    if( !checkinput() )
        return false;                                                                            
    
    $("#zip").val( $("#dist option:selected").attr("zip") );

    var formData = new FormData($("#goodsbuy")[0]); 

   $.ajax({
     url: '/index/saveinfo',
     type: 'POST',
     data: formData,
     async: false,
     cache: false,
     contentType: false,
     enctype: 'multipart/form-data',
     processData: false,
     success: function (message) {
        document.getElementById('saveinfo').innerHTML=message;
     },
     error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById('saveinfo').innerHTML=errorThrown;
     }

   });

}


// 產出鄉鎮市區
function accountgetSection(){
    $.ajax({
        url: "/setting/city",
        data: "city=" + $("#city").val(),
        type:"POST",
        dataType:'text',
        success: function(message){
            document.getElementById("dist").innerHTML=message;
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById("dist").innerHTML=errorThrown;
        }
    });
}

</script>

<div class="row-fluid">
	<div class="user-interests box-top co12-12 hidden-xs">
    <form name="goodsbuy" id="goodsbuy" action="goodsorder" method="POST" >
      <input type="hidden" name="gid" value="<?php echo $goods['goodsUid'] ?>" >
      <div class="box box-margin-bottom">
        <div class="title">好康兌換流程</div>
        <div class="process">
          <nav>
            <ul id="process-step" class="nostyle">
              <li class="processing">Step 1 輸入收件人資料</li>
              <li>Step 2 確認訂購資料</li>
              <li>Step 3 訂購完成</li>
            </ul>
          </nav>
        </div>
    
        <!-- 兌換明細 -->
        <div class="order-step"><i class="fa fa-square"></i>兌換明細</div>
        <div class="order-tbl">
          <table border=1>
            <tr>
              <th>好康名稱</th><th>好康形式</th><th>點數</th>
            </tr>
            <tr>
              <td>
                <img src="<?php echo CZ::model('images')->imagePath_getter($goods['imageUidMaster'],'_do') ?>" />
                <span class="goods-name">
                    <?php echo $brands['d'][0]['brandName']  ?><br />
                    <?php echo $goods['goodsName']  ?>
                </span>
              </td>
              <td><?php echo $goodsType  ?></td>
              <td><span class="red-txt"><?php echo number_format($goods['goodsPricePoint'])  ?></span></td>
            </tr>
          </table>
        </div>   

        <!-- 購買人資料開始   -->          
        <div class="order-step"><i class="fa fa-square"></i>購買人資料</div>
        <div class="order-tbl padding-lg">
          <table border=1>
            <tr>
              <th>訂購者姓名</th><th>註冊Email</th><th>連絡電話</th>
            </tr>
            <tr>
              <td><?php echo $users['basic']['userRealname'];  ?> </td> 
              <td><?php echo $uaccs['uaccId']  ?></td> 
              <td>手機: <?php echo $users['userdetails']['userContactPhone'];  ?></td>                                       
            </tr>  
          </table> 
        </div>

        <!-- 收件人資料開始  -->
        <div class="order-step recipients">
          <i class="fa fa-square"></i>收件人資料  <small><i class="fa fa-asterisk"></i>為必填欄位</small>
<!--
          <select id="recipients-groups" class="pull-right">
            <option value="1">收件人群組01</option>
          </select>
-->
        </div>

        <div class="order-tbl no-border-tbl">
          <div class="tbl-wrapper">
            <div class="left-tbl">
              <div class="label-txt">姓名</div>
              <div class="label-txt">E-mail</div>
              <div class="label-txt">市內電話</div>
              <div class="label-txt">地址</div>
              <div class="label-txt">備註</div>
            </div>

            <!-- 右邊填寫表單 -->
            <div class="right-tbl">
              <div class="form-group">
                <input type="text" name="username" id="username" value="<?php echo $name ?>" placeholder="請填寫真實姓名" required /> <span class="fa fa-asterisk red-txt"></span>
              </div>
              <div id="username2" class="label-txt" style="display: none;"></div>

              <div class="form-group">
                <input type="text" name="email" id="email" value="<?php echo $uaccs['uaccId'] ?>" readonly>
              </div>
              <div id="email2" class="label-txt" style="display: none;"></div>

              <div class="form-group">
                <div class="co12-6">
                  <input type="text" name="tel" id="tel" value="<?php echo $tel ?>" placeholder="填寫您收件地址的常用電話" />
                </div>
                <div class="co12-6 mobile">
                  <span class="mobile-txt">手機</span>
                  <input type="text" name="mobile" id="mobile" value="<?php echo $mobile ?>" placeholder="填寫您收件地址的手機號碼" required > <span class="fa fa-asterisk red-txt"></span>
                </div>
              </div>
              <div class="label-txt" style="display: none;">
                <div class="co12-6">
                  <span id="tel2"></span>
                </div>
                <div class="co12-6">
                  手機 <span id="mobile2"></span>
                </div>
              </div>

              <div class="form-group">
                <input type="hidden" name="zip" id="zip"  >

                <select name="city" id="city" onchange="accountgetSection()">
                <?php 
                    if( !empty($showCity['regionUid']) )                                                                                         echo  '<option value="'.$showCity['regionUid'].'">'.$showCity['regionName'].'</option>';
                ?>
                            <option value="taipei-city">台北市</option>
                            <option value="new-taipei-city">新北市</option>
                            <option value="taoyuan-city">桃園市</option>
                            <option value="taichung-city">台中市</option>
                            <option value="tainan-city">台南市</option>
                            <option value="kaohsiung-city">高雄市</option>
                            <option value="hualien-county">花蓮縣</option>
                            <option value="yilan-county">宜蘭縣</option>
                            <option value="miaoli-county">苗栗縣</option>
                            <option value="nantou-county">南投縣</option>
                            <option value="pingtung-county">屏東縣</option>
                            <option value="keelung-city">基隆市</option>
                            <option value="yunlin-county">雲林縣</option>
                            <option value="hsinchu-city">新竹市</option>
                            <option value="hsinchu-county">新竹縣</option>
                            <option value="chiayi-city">嘉義市</option>
                            <option value="chiayi-county">嘉義縣</option>
                            <option value="changhua-county">彰化縣</option>
                            <option value="hualien-county">花蓮縣</option>
                            <option value="taitung-county">臺東縣</option>
                            <option value="penghu-county">澎湖縣</option>
                            <option value="kinmen-county">金門縣</option>
                            <option value="lienchiang-county">連江縣</option>
                            <option value="nanhai-islands">南海諸島</option>
                        </select>

                        <select name="dist" id="dist">
                        <?php
                            if(!empty($showCity['regionUid']) ){
                                echo '<option zip="'.$showDist['regionZipcode'].'" value="'.$showDist['regionUid'].'">'.$showDist['regionName'].'</option>';
                                for($i=0;$i<$showDistOption['args']['num'];$i++)
                                    echo '<option zip="'.$showDistOption['d'][$i]['regionZipcode'].'" value="'.$showDistOption['d'][$i]['regionUid'].'">'.$showDistOption['d'][$i]['regionName'].'</option>';
                            }
                            else{
                        ?>                            
                            <option zip="100" value="zhongzheng-dist">中正區</option>
                            <option zip="103" value="datong-dist">大同區</option>
                            <option zip="104" value="zhongshan-dist">中山區</option>
                            <option zip="105" value="songshan-dist">松山區</option>
                            <option zip="106" value="daan-dist">大安區</option>
                            <option zip="108" value="wanhua-dist">萬華區</option>
                            <option zip="110" value="xinyi-dist-tp">信義區</option>
                            <option zip="111" value="shilin-dist">士林區</option>
                            <option zip="112" value="beitou-dist">北投區</option>
                            <option zip="114" value="neihu-dist">內湖區</option>
                            <option zip="115" value="nangang-dist">南港區</option>
                            <option zip="116" value="wenshan-dist">文山區</option>
                        <?php } ?>
                        </select>


                <input name="ZIP" type="hidden" id="ZIP" size="5" />
                <input type="text" name="address" id="address" class="behide-input" value="<?php echo $address ?>" required > 
                <?php if($goods['goodsType'] == 0 ){ ?>
                    <span class="fa fa-asterisk red-txt"></span>
                <?php } ?>
              </div>
              <div id="address2" class="label-txt" style="display: none;"></div>

              <div class="form-group">
                <textarea name="notation" id="notation" class="notation" cols="30" rows="3" maxlength="128"><?php echo $note ?></textarea>
              </div>
              <div id="notation2" class="label-txt" style="display: none;"></div>

              <div class="form-group">
              <div id="saveinfo">  
                <button type="button" name="add-to-contacts" id="add-to-contacts" class="add-to-contacts" onclick="saveInfo()">
                  <span class="fa fa-plus"></span> 
                    新增至常用收件人資料
                </button>
              </div>  
              </div>
            </div>
          </div>
        </div>

        <!--  確定取消開始   -->
        <div class="order-step">
          <div class="action-btns">
            <button type="button" name="confirm" id="confirm" class="confirm" onclick="step2();">下一步</button><!--<input name="confirm" id="confirm" class="confirm" type="button" value="確認兌換" onclick=step2();> -->
            <button type="button" name="cancel" id="cancel" class="pull-right" onclick="history.go(-1); return false;">取消</button>
          <!--<input name="cancel" id="cancel" class="cancel" type="button" value="取消" onclick="history.go(-1); return false;" > -->
          </div>
        </div>
      </div>
      <!-- ./box -->
    </form>
  </div>
</div>
