<script type="text/javascript">
// for 27 interest item
var i_item    = new Array('movie', 'brand', 'trip', 'mkup', 'music', 'invest', 'trend', 'pet', 'learn', 'artist', 'fate', '3c', 'sci', 'acg', 'bg', 'pub', 'pi', 'food', 'parent', 'life', 'soul', 'mood', 'photo', 'car', 'health','art', 'sport');
var i_item_tw = new Array('電影戲劇', '品牌服務', '休閒旅遊', '美容彩妝', '音樂', '投資理財', '流行時尚', '寵物', '教育學習', '名人動態', '命理星座', '3c數位', '自然科普', '遊戲動漫', '感情話題', '公眾議題', '公益', '美食', '親子互動', '居家生活', '心靈勵志', '心情抒發', '攝影', '車友天地', '醫療保健', '文學藝術', '運動');
</script>

<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
var notification_msg_position = function(){
	var $notification 		  = $("#notification");
	var notification_position = $notification.position();
	var $notificationMsg 	  = $("#notification-msg");

	if(notification_position){
		$notificationMsg.css({
			"top": ( notification_position.top + $notification.height() ) +"px",
			"left": ( notification_position.left - $notificationMsg.width() + $notification.width() ) +"px"
		});
	}
}

$(document).ready(function(){
	notification_msg_position();

	$(window).resize(function(){
		notification_msg_position();
	});
});
</script>

<div class="logo hidden-xs hidden-screen-sm" id="logo">
	<a href="/" title="參一腳"><span><?php HTML(CZ::config_get('site.title.zh-tw')); ?></span></a>
</div>

<div class="main-search-box hidden-xs hidden-screen-sm">
    <form name="search" method="get" action="/index/explore">
		<span class="input">
			<input name="keyword" type="text" placeholder="搜尋參一腳" />
            <select id="searchType" name="searchType">
                <option value="member">會員</option>
                <option value="goods">好康</option>
                <option value="posts">動態</option>
            </select>
		</span>

		<span class="button">
			<button type="submit"><span>Search</span></button>
		</span>
    </form>
</div>

<nav class="header-nav">
	<ul class="nostyle">
	<?php if(ME::is_login()){ ?>
        <li class="home <?php echo (CZ::controller()=="user" && CZ::command()=="wallposts") ? "selected" : "";?>">
        	<a href="/" title="興趣牆"><span class="text">興趣牆</span></a>
        </li>
        <li class="explore <?php echo (CZ::controller()=="index" && CZ::command()=="explore") ? "selected" : "";?>">
        	<a href="/index/explore/" title="探索"><span class="text">探索</span></a>
        </li>
        <li class="goods <?php echo (CZ::controller()=="index" && CZ::command()=="goods") ? "selected" : "";?>">
        	<a href="/index/goods/" title="好康專區"><span class="text"><?php echo CZ::controller();?>好康專區</span></a>
        </li>
		<li class="mailbox">
			<a href="/mailbox/one/" title="訊息"><span class="text">訊息</span></a>
			<span class="note-count"><i id="mailbox-counter"></i><span class="accessible">通知</span></span>
		</li>
		<li id="notification" class="notification">
			<a href="javascript:void(0);" title="通知"><span class="text">通知</span></a>
			<span class="note-count"><i id="notification-counter"></i><span class="accessible">通知</span></span>
		</li>
		<li class="mywall hidden-xs hidden-screen-sm <?php echo (CZ::controller()=="user" && CZ::command()=="mywalls") ? "selected" : "";?>">
			<a href="/user/mywalls/" title="我的牆"><span class="text">我的牆</span></a>
		</li>
		<li class="leavepost hidden-xs hidden-screen-sm">
			<a href="#" class="wallpost-write" title="發表"><span class="text">發表</span></a>
		</li>
		<li class="setting hidden-screen-sm">
			<a href="#" class="user-setting-web" title="設定"><span class="text">設定</span></a>
		</li>
		<li class="more hidden-screen-min-md">
			<a href="#" class="setting-phone" title="more"><span class="text">more</span></a>
		</li>
	<?php }else{ ?>
		<li class="regist"><a href="/index/regist/" title="註冊"><span class="text">註冊</span></a></li>
		<li class="signin"><a href="/index/login/" title="登入"><span class="text">登入</span></a></li>
	<?php } ?>
	</ul>

	<?php if(ME::is_login()){ ?>
	<div id="nav-more" class="nav-more hidden">
		<ul class="nostyle">
	<?php if(ME::is_admin()){ ?>
			<li><a href="/admin"><span class="txt">管理者選單</span></a></li>
	<?php } ?>
            <li><a href="/setting/account"><span class="txt">帳戶設定</span></a></li>
            <!-- <li><a href="/setting/photo"><span class="txt">封面與頭像設定</span></a></li> -->
            <li><a href="/setting/friends"><span class="txt">尋找朋友</span></a></li>
            <li><a href="/setting/privacy"><span class="txt">隱私設定</span></a></li>
            <li><a href="/setting/notify"><span class="txt">通知設定</span></a></li>
            <li><a href="/setting/import"><span class="txt">部落客搬家</span></a></li>
            <li><a href="/setting/customerservice"><span class="txt">聯絡客服</span></a></li>
			<li><a href="/index/logout"><span class="txt">登出</span></a></li>
		</ul>
	</div>
	<?php } ?>

	<?php if(ME::is_login()){ ?>
	<!-- 通知訊息區塊 -->
	<div id="notification-msg" style="display: none;">
		<div class="triangle"></div>
		<div class="content">
			<div class="head">你的通知</div>
			<div class="body">
<!-- -->
<?php 
        for($i=0;$i<$notifyMsg['args']['num'];$i++){
            if(array_key_exists('unotificationTarget',$notifyMsg['d'][$i]) && !empty($notifyMsg['d'][$i]['unotificationTarget'])){  
                echo '<a href="'.$notifyMsg['d'][$i]['unotificationTarget'].'">';
            }

?>    
				<div class="msg <?php  echo ($notifyMsg['d'][$i]['unotificationStatusRead']==1) ? "yet":""; ?>"> 
<?php if( array_key_exists('userProfile',$notifyMsg['d'][$i]) && !empty($notifyMsg['d'][$i]['userProfile'])){ 
?>
					<div class="img-cover">
						<img src="<?php echo CZ::model('images')->imagePath_getter($notifyMsg['d'][$i]['userProfile'],'_s') ?>">
					</div>
<?php } ?>
<?php $msg=json_decode($notifyMsg['d'][$i]['unotificationData'],true); 
			if(!empty($msg)){
				foreach($msg as $inx => $text){
					$msg[$inx]=html($text,false);
				}
			}
?>
					<div class="msg-content">
						<div class="msg-content-top">
<?php if( array_key_exists('userRealname',$notifyMsg['d'][$i]) && !empty($notifyMsg['d'][$i]['userRealname'])){ 
?>

							<span class="msg-who">
                                <?php echo $notifyMsg['d'][$i]['userRealname'] ?>
                            </span>
<?php } ?>
                            <span class="msg-txt">
                                <?php _tl($notifyMsg['d'][$i]['noticeId'],$msg,'text') ?>
                            </span>

						</div>
<?php
        $now = date("Y-m-d H:i:s");
        $timeDiff = ceil(( strtotime($notifyMsg['d'][$i]['unotificationTime']) - strtotime($now) ) / 3600)  ;

        $timeMsg = '剛剛' ;    

        if($timeDiff >= 4320 )
            $timeMsg = '3天前';
        elseif( $timeDiff >= 2880 )
            $timeMsg = '2天前';
        elseif( $timeDiff >= 1440 )
            $timeMsg = '1天前';
        elseif( $timeDiff >= 720 )
            $timeMsg = '12小時前' ;
        elseif( $timeDiff >= 360 )
            $timeMsg = '6小時前' ;
        elseif( $timeDiff >= 180 )
            $timeMsg = '3小時前' ;
        elseif( $timeDiff >= 60 )
            $timeMsg = '1小時前' ;
        elseif( $timeDiff >= 10 )
            $timeMsg = $timeDiff.'分鐘前' ;
        elseif( $timeDiff < 10 )
            $timeMsg = '剛剛' ;
?>

						<div class="msg-content-down">
							<span class="msg-event"><i class="fa fa-share-alt"></i></span><span class="msg-duration"><?php echo $timeMsg ?></span>
						</div>
					</div>
				</div>
<!-- -->
<?php 
        if(array_key_exists('unotificationTarget',$notifyMsg['d'][$i]) && !empty($notifyMsg['d'][$i]['unotificationTarget'])){  
                echo '</a>';           
            }

        } 
?>         
			</div>
			<div class="foot">
				<a href="/user/notification">查看全部</a>
			</div>
		</div>

		<script type="text/javascript">
		// 0128 通知訊息修改
		var notification_adjust = $("#notification-msg .msg").get();
		$.each(notification_adjust, function(i,v){
			var who = $(v).find(".msg-who").html().trim();
			var $first_b_tag = $(v).find(".msg-txt").children("b").eq(0);
			var msg_txt = $(v).find(".msg-txt").html().trim();

			if( msg_txt.indexOf("<b>") == 0 && (who == $first_b_tag.html().trim() ) ){
				$first_b_tag.html('');
			}
		});
		</script>
		<!-- ./通知訊息區塊 -->

	</div>
	<?php } ?>
</nav>
<div class="unread-notifications-block">

</div>
