<script type="text/javascript">
$(document).ready(function(){
    var interest_people = $(".hot-title-txt").siblings(".interest-people").get().length;
    if( interest_people == 0 ){
        $(".hot-title-txt").css("margin-top", 0);
    }
});
</script>

<?php if( !empty($hotWrite)){ ?>

                <p class="hot-title-txt">熱門動態</p>
                <div class="explore-hot">
                    <div class="hot-head-base"></div>
                    <div class="hot-head">
                    <a href="/user/mywalls/<?php echo $hotWrite['userUid'] ?>">
                        <img class="who" src="<?php echo CZ::model('images')->imagePath_getter($hotWrite['userProfile'],'_s') ?>">
                    </a>
                    <a href="/user/mywalls/<?php echo $hotWrite['userUid'] ?>">  
                        <span class="who-name"><?php echo $hotWrite['userRealname'] ?></span>
                    </a>
                        <span id="lookhotwrite" class="who-traceBtn pull-right">
                        	<div class="countmin_relation" data-uid="<?php echo $hotWrite['userUid'];?>" >
														<div class="r-btn" data-action="test"><i class="fa" ></i></div>
													</div>
                        </span>
                    </div>
                    <div class="box row-fluid box-margin-top wbox" data-uid="<?php value($hotWrite['userUid']); ?>" data-wuid="<?php value($hotWrite['wallpostUid']); ?>"  data-wtime="<?php $dt = new DateTime($hotWrite['wallpostTimeCreate']); echo $dt->format('Y-m-d H:i:s'); ?>" data-wallpost-type="<?php echo $hotWrite['wallpostType']; ?>"> 

                    <div class="hot-img">
                        <img class="comment-this" src="<?php echo CZ::model('images')->imagePath_getter($hotWrite['imageUid']) ?>" />
                        <div class="interest-item">
                            <div class="icon"><span class="item icon-i27 icon-food"></span></div>
                            <div class="icon"><span class="item icon-i27 icon-music"></span></div>
                            <div class="icon"><span class="item icon-i27 icon-3c"></span></div>
                        </div>
                    </div>

                    <div class="hot-body">

                        <h4 class="comment-this"><?php echo $hotWrite['wallpostTopic'] ?></h4>
                        <article class="comment-this">
                            <?php echo $hotWrite['wallpostBrief'] ?>
                        </article>
                    </div>


<!-- -->                    </div>

                    <div class="hot-foot">
                        <div class="hot-like">喜歡 <span><?php echo $hotWrite['wallpostNumLikes'] ?></span>個</div>
                        <div class="hot-nolike">不喜歡 <span><?php echo $hotWrite['wallpostNumDislikes'] ?></span>個</div>
                    </div>
                </div>
            </div>
        </div>
<?php } ?>
