
            	<?php if(!empty($users['d'])){?>
                <div class="interest-people">
                    <div class="head">
                        你可能感興趣的人 <?php //_e($users); ?>
                        <span class="pull-right">
                        <?php  
                            if($users['args']['num'] >= 3 )
                                echo '<a href="/user/socially?status=interest">更多</a>';
                        ?>    
                        </span>
                    </div>
										
                                            <?php  foreach($users['d'] as $inx => $user_data){  ?>
                                            
												<div class="people-list">
                                                    <a href="/user/mywalls/<?php echo $user_data['userUid'];?>"><img class="who" src="<?php echo  $user_data['imgUrl'];?>"></a>
													<img class="temperature" src="/css/img/T_h.png" />
													<div class="level">
                                                    <a href="/user/mywalls/<?php echo $user_data['userUid'];?>">
														<div class="top"><?php echo mb_strimwidth( $user_data['userRealname'], 0, 13, "...", "UTF-8"); ?></div>
														<div class="down"><?php echo $user_data['title']?></div>
                                                    </a>
													</div>
                                                    
													<div class="traceBtn pull-right">
														<?php if($user_data['relation_status']['now']=='stranger'){?>
															<div class="countmin_relation" data-uid="<?php echo $user_data['userUid'];?>">
																<div class="r-btn" data-action="follow"><i class="fa" ></i>追蹤</div>
															</div>
														<?php }?>
														<?php if($user_data['relation_status']['now']=='interest'){?>
															<div class="countmin_relation" data-uid="<?php echo $user_data['userUid'];?>">
																<div class="r-btn" data-action="follow"><i class="fa" ></i>追蹤</div>
															</div>
														<?php }?>
														<?php if($user_data['relation_status']['now']=='follow'){?>
															<div class="countmin_relation" data-uid="<?php echo $user_data['userUid'];?>">
																<div class="r-btn" data-action="not_follow"><i class="fa" ></i>取消追蹤</div>
															</div>
														<?php }?>
														<?php if($user_data['relation_status']['now']=='inviting'){?>
															<div class="countmin_relation" data-uid="<?php echo $user_data['userUid'];?>">
																<div class="r-btn" data-action="not_inviting"><i class="fa" ></i>取消邀請</div>
															</div>
														<?php }?>
														<?php if($user_data['relation_status']['now']=='friend'){?>
															<div class="countmin_relation" data-uid="<?php echo $user_data['userUid'];?>">
																<div class="r-btn" data-action="not_friend" data-confirm="1"><i class="fa" ></i>取消好友</div>
															</div>
														<?php }?>
													</div>
												</div>
											<?php }?>
                </div>
                <?php } ?>
