
<script type="text/javascript">

    var accessToken='';
    function displayUser(user) {
        var frm=document.getElementById('loginForm');
        var s=new Array();
        var p={},i;
        p=accessToken.split(/[=&]/g);
        for(x in user){
            s[s.length]=x+'='+user[x];
        }
        for(i=0;i<p.length;i+=2){
            s[s.length]=p[i]+'='+p[i+1];
        }
        s=s.join('&');
        frm.d.value=s;
        frm.submit();
    }
    var appID='<?php echo $app_id ?>';
    if (window.location.hash.length != 0) {
        accessToken = window.location.hash.substring(1);
        var path = "https://graph.facebook.com/me?";
        var queryParams = [accessToken, 'callback=displayUser'];
        var query = queryParams.join('&');
        var url = path + query;
        // use jsonp to call the graph
        var script = document.createElement('script');
        script.src = url;
        window.location.hash='';
        document.body.appendChild(script);
    }

</script>

<form method="post" id="loginForm">                                                 
    <input type="hidden" name="d" value="" />
</form>

<?php CZ::grid('index','registform',$fbtoken); ?>
