
<script type="text/javascript">
$("#page-header .signin").addClass("selected");
$(document).ready(function(){

});
</script>

<div class="fb-login">
	<a href="https://www.facebook.com/dialog/oauth?client_id=<?php echo $request_params['client_id']; ?>&response_type=<?php echo $request_params['response_type']; ?>&scope=<?php echo $request_params['scope']; ?>&redirect_uri=<?php echo $redirect_uri; ?>">使用facebook登入
	</a>
</div>

<div class="text-center">- 或 -</div>

<form method="post" class="not-validate">
	<input type="text"     name="uid" class="uid" placeholder="電子信箱" required title="帳號不能是空的！" />
	<input type="password" name="pwd" class="pwd" placeholder="密碼" required title="密碼不能是空的！" />
	<input type="hidden"   name="exe" value="login" />
	<div class="error-txt" style="padding: 5px 20px;">
        <?php echo ($showLoginErr) ? '你的密碼不正確，請重新輸入' : '' ?> 
    </div>
	<button type="submit">登入</button>
	<div class="forget-wrapper" ><a href="/index/forget">忘記密碼？</a></div>
</form>
