<?php for($i=0;$i<$users['args']['num'];$i++){ ?>
    <div class="co3-1">
        <div class="chk-wrapper">
            <input name="master[]" id="master" value="<?php echo $users['d'][$i]['userUid'] ?>" type="checkbox">
            <span class="checkbox"></span>
        </div>

        <div class="exploremore-box">
            <div class="exploremore-left">
                <a href="#" >
                    <img src="<?php echo CZ::model('images')->imagePath_getter($users['d'][$i]['userProfile'],'_s') ?>">
                </a>
            </div>

            <div class="exploremore-right">
                <div class="exploremore-name"><?php echo $users['d'][$i]['userRealname']  ?></div>
                <div class="flag"><?php echo $upro[$i]['title']  ?></div>
                <div class="exploremore-interests interest-item">
                    <?php for($j=0;$j<3;$j++){ ?>
                    <div class="icon">
                        <div class="icon-i27 icon-<?php echo @$upro[$i]['d'][$j]['interestId']?>"></div>
                            <div class="interest-count"><?php echo @$upro[$i]['d'][$j]['userProLevel']?></div>
                    </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
<?php } ?>

