<form enctype="multipart/form-data" name="regist" id="regist" action="/index/regist" method="post">
<!-- 第一步驟: 會員註冊 -->
<?php if( !is_array($fbtoken) || !array_key_exists('access_token',$fbtoken) ){ ?>
<div class="slide">
	<div class="regist-wrapper step1">
		<div class="head">
			會員註冊
		</div>
		<div class="body">
			<div class="form-group">
				<input name="email" id="email" type="text" placeholder="請輸入常用的e-mail" tabindex="1" maxlength="64" required title="此欄位是必填欄位">
			</div>
			<div class="form-group">
				<input name="password" id="password" type="password" placeholder="密碼必須8個字以上，且英、數混合" minlength="8" tabindex="2" required title="密碼必須8個字以上，且英、數混合">
			</div>
            <div class="form-group">
                <input name="password2" id="password2" type="password" placeholder="請再輸入一次密碼" tabindex="3" required>
            </div>        
			<div class="form-group">
				<input name="username" id="username" type="text" placeholder="使用者名稱(2~10個字)" maxlength="10" tabindex="4" required title="使用者名稱必須為2~10個字">
			</div>
			<div id="emailcheckecho"></div>
		</div>
		<div class="foot">
			<div id="regist_btn" class="regist-btn">註冊</div>
		</div>
	</div>
</div>
<?php } ?>

<!-- 第二步驟: 基本資料 -->
<div class="slide">
	<div class="regist-wrapper step2">
		<div class="head">
			<ul class="nostyle">
				<li class="selected"><a id="fullslide1" href="#">基本資料 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide2" href="#">興趣推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide3" href="#">專屬推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide4" href="#">新增大頭貼 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a href="#">完成 <i class="fa fa-check"></i></a></li>
			</ul>
		</div>
		<div class="body">
			<div class="form-group">
				<label for="">生日</label>
				<input name="birth_year" id="birth_year" type="text" placeholder="西元" class="birth-y"> 年
				<select name="birth_mon" id="birth_mon" class="birth-m"></select> 月
				<select name="birth_day" id="birth_day" class="birth-d"></select> 日
			</div>

			<div class="form-group">
				<label for="sex">性別</label>
				<input type="radio" name="sex" id="sex" value=1 checked><span class="radio"></span><span class="sex-txt"><?php echo $GLOBALS['string']['Ly_gender_1']; ?></span>
				<input type="radio" name="sex" id="sex" value=2 ><span class="radio"></span><span class="sex-txt"><?php echo $GLOBALS['string']['Ly_gender_2']; ?></span>
			</div>

			<div class="form-group">
				<label for="address">居住地</label>
				<select name="country" id="country" class="live-addr">
					<option>台灣</option>
				</select>
				<select name="city" id="city" class="live-addr">
					<option value="0">台北市</option>
	                <option value="1">基隆市</option>
	                <option value="2">新北市</option>
	                <option value="3">宜蘭縣</option>
	                <option value="4">新竹市</option>
	                <option value="5">新竹縣</option>
	                <option value="6">桃園縣</option>
	                <option value="7">苗栗縣</option>
	                <option value="8">台中市</option>
	                <option value="9">台中縣</option>
	                <option value="10">彰化縣</option>
	                <option value="11">南投縣</option>
	                <option value="12">嘉義市</option>
	                <option value="13">嘉義縣</option>
	                <option value="14">雲林縣</option>
	                <option value="15">台南市</option>
	                <option value="16">台南縣</option>
	                <option value="17">高雄市</option>
	                <option value="18">高雄縣</option>
	                <option value="19">澎湖縣</option>
	                <option value="20">屏東縣</option>
	                <option value="21">台東縣</option>
	                <option value="22">花蓮縣</option>
	                <option value="23">金門縣</option>
	                <option value="24">連江縣</option>
	                <option value="25">南海諸島</option>
	                <option value="26">釣魚台列嶼</option>
				</select>
			</div>

			<div class="form-group">
				<label for="invitation-code">邀請碼</label>
				<input name="code" id="code" type="text" value="<?php echo ( is_array($fbtoken) && array_key_exists('urlCode',$fbtoken)) ?  $fbtoken['urlCode'] : '' ?>" class="invitation-code" placeholder="輸入邀請碼可獲得100點點數">
			</div>

			<div class="form-group captcha">
				<div class="g-recaptcha" data-sitekey="<?php value(CZ::config_get('sns.recaptcha.site_key')); ?>"></div>
			</div>
		</div>
		<div class="foot">
			<div id="recommend_btn" class="regist-btn">進入興趣推薦</div>
		</div>
	</div>
</div>

<!-- 第三步驟: 興趣選擇 -->
<div class="slide">
	<div class="regist-wrapper step3">
		<div class="head">
			<ul class="nostyle">
				<li><a id="fullslide1" href="#">基本資料 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li class="selected"><a id="fullslide2" href="#">興趣推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide3" href="#">專屬推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide4" href="#">新增大頭貼 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a href="#">完成 <i class="fa fa-check"></i></a></li>
			</ul>
		</div>
		<div class="body">
			<div class="title text-center">
				（複選1~3個）我們會依照您選擇的興趣推薦相關的文章與用戶給您
			</div>
			<div id="interests-select-wrapper" class="interests-select-wrapper">
				<!-- 興趣圖片 -->
			</div>
		</div>
		<div class="foot">
			<div id="finish_btn" class="regist-btn" onclick="get_interests()">完成</div>
		</div>
	</div>
</div>
<input type="hidden" name="interests" id="interests" >

<!-- 第四步驟: 專屬於您的建議 -->
<div class="slide">
	<div class="regist-wrapper step5">
		<div class="head">
			<ul class="nostyle">
				<li><a id="fullslide1" href="#">基本資料 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide2" href="#">興趣推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li class="selected"><a id="fullslide3" href="#">專屬推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide4" href="#">新增大頭貼 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a href="#">完成 <i class="fa fa-check"></i></a></li>
			</ul>
		</div>
		<div class="body">
			<div class="title">
				根據您選擇的興趣，這裡推薦了一些與您相同興趣的人唷！！！<br />
				我們建議您追蹤所有的人。
				<div id="track_go" class="regist-btn">
					追蹤 <span id="total-track"></span> 人並繼續
				</div>

				<div class="select-all">
					全選 <input name="track_all" id="track_all" type="checkbox"><span class="checkbox"></span>
				</div>
			</div>

			<div class="interest-people">
				<div class="row-fluid content-box">
                    <!-- move to masterpeople  -->
                    <div id="people"></div>
			    </div>
			</div>
		</div>
		<div class="foot">
			<div class="a-cover text-center"><a id="jump_suggest_btn" href="javascript:void(0);">跳過此步驟，繼續 <i class="fa fa-long-arrow-right"></i></a></div>
		</div>
	</div>
</div>

<!-- 第五步驟: 新增大頭貼 -->
<div class="slide">
	<div class="regist-wrapper step4">
		<div class="head">
			<ul class="nostyle">
				<li><a id="fullslide1" href="#">基本資料 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide2" href="#">興趣推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a id="fullslide3" href="#">專屬推薦 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li class="selected"><a id="fullslide4" href="#">新增大頭貼 <i class="fa fa-arrow-circle-right"></i></a></li>
				<li><a href="#">完成 <i class="fa fa-check"></i></a></li>
			</ul>
		</div>

		<div class="body">
			<input type="hidden" id="chk-submit" value="yes" />
			<!-- 圖片 x1, y1, x2, y2 -->
			<input type="hidden" size="4" id="x1" name="x1" value="" style="width:30px;" />
            <input type="hidden" size="4" id="y1" name="y1" value="" style="width:30px;" />
            <input type="hidden" size="4" id="x2" name="x2" value="" style="width:30px;" />
            <input type="hidden" size="4" id="y2" name="y2" value="" style="width:30px;" />
            <!-- Zoom -->
            <input type="hidden" size="4" id="zoom" name="zoom" value="" style="width:30px" />

            <!-- 實際檔案 -->
            <button class="file-btn" style="opacity: 0;">
				<input type="file" id="photo" name="photo" value="選擇圖片文件" />
			</button>

			<!-- 裁剪 -->
			<button class="upload-result" style="display: none;">
				裁剪
			</button>

			<div class="pic-wrapper">
                <div class="actions">
                	<i id="pic-upload" class="fa fa-camera-retro"></i>
					<span class="txt">
	                    在此處輕點一下，即可上傳您的照片
	                </span>
					<div class="crop" style="display:none;">
						<span id="pic-minus" class="pic-symbol"><i class="fa fa-minus"></i></span>
						<div id="upload-demo"></div>
						<span id="pic-plus" class="pic-symbol"><i class="fa fa-plus"></i></span>
					</div>
				</div>

				<div id="result" style="display:none;"></div>
			</div>

			<div id="reUpload" class="re-upload" style="display:none;">重新上傳</div>
		</div>

		<div class="foot">
			<div id="finish_photo_btn" class="regist-btn">完成</div>
			<div class="a-cover text-center" onclick="skipPhoto()">跳過此步驟，繼續 <i class="fa fa-long-arrow-right"></i></div>
			<button type="submit" id="regist-finish-submit" style="display:none;">送出</button>
		</div>
	</div>
</div>

<?php 
if( is_array($fbtoken) && array_key_exists('access_token',$fbtoken) && !empty($fbtoken['access_token']) ){ 
    $id=CZ::model('counter')->encrypt($fbtoken['id'],$this->loginTokenKey) ;        
    $token=CZ::model('counter')->encrypt($fbtoken['access_token'],$this->loginTokenKey);
    $checkCode_token=md5($this->checkKey.$token);       

?>                              
<input type="hidden" name="d" />
<input type="hidden" name="username" value="<?php echo $fbtoken['name'] ?>" />        
<input type="hidden" name="fb" value="<?php echo $id ?>" /> 
<input type="hidden" name="token" value="<?php echo $token ?>" /> 
<input type="hidden" name="key" value="<?php echo $checkCode_token ?>" >
<?php } ?>

</form>
