


<script>
    function check(){
        var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        if(!reg.test($("#email").val()))   
            alert("email 格式不正確");
        else if( $("#password").val().length < 8 || !($("#password").val().match(/[a-zA-Z]/) && $("#password").val().match(/[0-9]/)) )                  
            alert("密碼需為8位數以上且英、數混合！");                    
        else if( $("#password").val() != $("#password2").val() )
            alert("重新輸入密碼有誤！")
        else{
            
            $("#set").submit();
        }
    }
</script>

<!--
<form name="set" id="set" method="post" action="">
    註冊email帳號<input type="text" name="email" id="email"><p>
    新密碼 <input type="password" name="password" id="password"><p>
    再輸入一次 <input type="password" name="password2" id="password2"><p>   
    <input type="button" value="重設密碼" onclick="check()" >
</form>
-->

<?php if($passwordUpdate){ ?>
<div class="forget-wrapper">
    <form name="set" id="set" method="post" action="">
        <div class="forget-container">
            <div class="head">
                重新設定密碼完成
            </div>
            <div class="foot">
                <button type="button" class="btn-margin-top" onclick="location.href='http://www.countmin.com'">前往登入頁面</button>
            </div>
        </div>
    </form>
</div>
<?php }
    else{ ?>

<div class="forget-wrapper">
    <form name="set" id="set" method="post" action="">
        <div class="forget-container">
            <div class="head">
                重新設定密碼
            </div>
            <div class="body">
                <div class="form-group">
                    <input type="text" name="email" id="email" placeholder="填寫註冊之 email帳號" />
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="新密碼" />
                </div>

                <div class="form-group">
                    <input type="password" name="password2" id="password2" placeholder="確認新密碼" />
                </div>
            </div>
            <div class="foot">
                <button type="button" class="submit" onclick="check();">完成設定</button>
            </div>
        </div>
    </form>
</div>

<?php } ?>

        
