<div class="user-info gs12-12">
	<div class="user-banner"></div>
	<div class="profile-image">
		<img src="/user_profiles/profile_1_m.png" />
	</div>
	<div class="user-name">
		艾瑪汪汪喵喵社
	</div>
	<div class="user-level">
		<div class="name">小咖</div>
	</div>
	<div class="row-fluid">
		<span class="co12-6">
			<div>3,678</div>
			<div>朋友</div>
		</span>
		<span class="co12-6">
			<div>1,278</div>
			<div>同好</div>
		</span>
	</div>
</div>

<div class="pro-info gs12-12">
	<div class="tab-group gs12-12">
		<div class="tab gs12-6 selected">Pro 等級</div>
		<div class="tab gs12-6">點數</div>
	</div>
	<div class="interest-pro">

		<div class="interest pro-1 row-fluid">
			<div class="co12-3">
				<div class="icon-interest27 icon-interest27-food">
					<div class="icon"></div>
				</div>
			</div>
			<div class="grade co12-5">
				<div class="name">美食</div>
				<div class="grade">28</div>
			</div>
			<div class="pro-icon co12-4">

			</div>
		</div>

		<div class="interest interest-travel pro-6 row-fluid">
			<div class="icon co12-3"></div>
			<div class="grade co12-5">
				<div class="name">旅遊</div>
				<div class="grade">13</div>
			</div>
			<div class="pro-icon co12-4">

			</div>
		</div>

		<div class="interest interest-photo pro-4 row-fluid">
			<div class="icon co12-3"></div>
			<div class="grade co12-5">
				<div class="name">攝影</div>
				<div class="grade">5</div>
			</div>
			<div class="pro-icon co12-4">
			</div>
		</div>

		<div class="more">
			看詳細興趣
		</div>

	</div>
</div>

