<script>
$(".setting-menu li").removeClass("selected");
$("#account_setting").addClass("selected");
$("#setting-title").html("帳戶設定");


function accountshowdata(group){
 //   $("#devGroup").show();
    var groupName = $("#groupName"+group).val();
    //if( groupName.length > 0){   
/* 
    $("#groupname").val( $("#groupName"+group).val()  ); 
    $("#name").val( $("#name"+group).val()  );
    $("#email").val( $("#email"+group).val()  );
    $("#tel").val( $("#tel"+group).val()  );
    $("#mobile").val( $("#mobile"+group).val()  );

    $("#city").children().each(function(){
        if ($(this).val()== $("#city"+group).val()  ){
            $(this).attr("selected", true); 
            $(this).trigger("change"); 
        }
    });

//    alert("11");
    //$('#dist').append(new Option('text', 'value')); 
    $('#dist').val( $("#dist"+group).val()   );

    $("#address").val( $("#address"+group).val()  );
    $("#note").val( $("#note"+group).val()  );
    $("#group").val( group) ;
    //}
*/
}

function accountshowpwd(){
    $("#passwordGroup").show();
}


// 產出鄉鎮市區
function accountgetSection(){
    $.ajax({
        url: "/setting/city",
        data: "city=" + $("#city").val(),
        type:"POST",
        dataType:'text',
        success: function(message){
            document.getElementById("dist").innerHTML=message;
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById("dist").innerHTML=errorThrown;
        }
    });
}

function accountSave(){
    $("#zip").val( $("#dist option:selected").attr("zip") );
    groupName = "addressGroupName" + $("#group").val();
    $.ajax({
        url: "/setting/accountsave",
        data: $('#delivery').serialize(),
        type:"POST",
        dataType:'text',
            
        success: function(message){
            //document.getElementById("devGroup").innerHTML=message;
            document.getElementById("groupName" ).innerHTML=message;
            $("#devGroup").hide();
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById("groupName").innerHTML=errorThrown;
        }
    });
}

// 更改密碼
function accountchangepwd(){

    $.ajax({
        url: "/setting/changepwd",
        data: $('#paw').serialize(),
        type:"POST",
        dataType:'text',            
        success: function(message){
            $("#changepaw").html(message);
        //    document.getElementById('changepaw' ).innerHTML=message;
       //     $("#devGroup").hide();
        },
        error:   function(jqXHR, textStatus, errorThrown){
            $("#changepaw").html(errorThrown);
        //    document.getElementById("devGroup").innerHTML=errorThrown;
        }
    });
}

// 展開 “編輯”
$("body").on("click", ".setting-editor", function(){
    if( $(this).attr("id") == "receive_addr" ){
        accountshowdata(0);
    }
    $(this).siblings(".chg-data").toggle();
});
// ./展開 “編輯”

// "取消" 按鈕
function accountCancel(divName){
    $("#" + divName).hide();
}

$("body").on("click", ".cancel", function(){
    $(this).closest(".chg-data").hide();
});
// ./"取消" 按鈕
</script>


<?php
for($i=0;$i<$deliveryinfo['args']['num'];$i++){
    echo '<input type="hidden" name="username" value="'.$deliveryinfo['d'][$i]['name'].'"> ' ;
}

$date2="2011-3-1";
$date="2011-3-1";
$dayDiff = ceil((strtotime($date) - strtotime($date2)) / 86400)  ;
$lastUpdate='';

if($dayDiff >=365)
    $lastUpdate = '約一年前';
if($dayDiff >= 180)
    $lastUpdate = '約半年前';
if($dayDiff >= 90)
    $lastUpdate = '約三個月前';
if($dayDiff >= 60)
    $lastUpdate = '約二個月前';
if($dayDiff >= 30)
    $lastUpdate = '約一個月前';
if($dayDiff >= 14)
    $lastUpdate = '約二個禮拜前';
if($dayDiff >= 7)
    $lastUpdate = '約一個禮拜前';
if($dayDiff >= 3)
    $lastUpdate = '約3天前';
if($dayDiff >= 0)
    $lastUpdate = '約3天內';

$hidden0='';
for($i=0;$i<$deliveryinfo['args']['num'];$i++){
    foreach($deliveryinfo['d'][$i] as $key => $value)
        $hidden0 .= '<input type="hidden" name="'.$key.$i.'" id="'.$key.$i.'" value="'.$value.'" >'; 
}
?>

<!-- 頁面開始 -->
<div class="box row-fluid setting-page account">
    <div class="head">
        <h4>帳號資料設定<br /><small>更改您的基本帳號資料語言設定</small></h4>
    </div>
    <div class="body">
        <!-- 登入信箱 -->
        <div class="setting-lists">
            <div class="setting-option">登入信箱</div>
            <div class="setting-val"><?php echo $uaccs['uaccId']  ?></div>
            <div class="setting-editor pull-right hidden"><i class="fa fa-pencil"></i></div>
        </div>

        <!-- 邀請碼 -->
        <div class="setting-lists">
            <div class="setting-option">邀請碼</div>
            <div class="setting-val"><?php echo $xuser['basic']['userInviteCode']  ?></div>
            <div class="setting-editor pull-right hidden"><i class="fa fa-pencil"></i></div>
        </div>

        <!-- 手機號碼 
        <div class="setting-lists">
            <div class="setting-option">手機號碼</div>
            <div class="setting-val need"><?php echo ($xuser['userdetails']['userContactPhone']) ? $xuser['userdetails']['userContactPhone'] : "未綁定手機號碼，綁定後可直接用手機號碼登入" ?></div>
            <div class="setting-editor pull-right"><i class="fa fa-pencil"></i></div>
        </div>
        -->
<?php if(array_key_exists('uaccAuth',$uaccs) &&  $uaccs['uaccAuth'] == 'email'){ ?>
        <!-- 密碼 -->
        <form name="paw" id="paw" action="" method="post">
        <div class="setting-lists">
            <div class="setting-option">密碼</div>
            <div class="setting-val need"><?php echo $lastUpdate  ?></div>
            <div class="setting-editor pull-right"><i class="fa fa-pencil"></i></div>

            <div class="chg-data" style="display: none;">
                <div class="form-group">
                    <label for="oldpassword">目前的密碼</label><input type="password" name="oldpassword" id="oldpassword">
                </div>
                <div class="form-group">
                    <label for="newpassword">新密碼</label><input type="password" name="newpassword" id="newpassword" >
                </div>
                <div class="form-group">
                    <label for="checkpassword">重新輸入新密碼</label><input type="password" name="checkpassword" id="checkpassword" >
                </div>
                <div id="changepaw" class="err-msg red-txt"></div>
                <div class="form-buttons">
                    <button type="button" onclick="accountchangepwd()">儲存</button> 
                    <button type="button" class="cancel">取消</button> 
                </div>
            </div>
        </div>
        </form>
<?php } ?>

        <!-- 收貨地址 -->
        <form name="delivery" id="delivery" action="accountsave" method="post">
        <div class="setting-lists">
            <div class="setting-option">收貨地址</div>
            <div class="setting-val need">
            <?php echo $showDist['regionZipcode']." ".$showCity['regionName'].$showDist['regionName'].$deliveryinfo['d'][0]['address'] ?>
            <!--，可設定最多三組收貨資訊-->
            </div>
            <div id="receive_addr" class="setting-editor pull-right"><i class="fa fa-pencil"></i></div>

            <div class="chg-data" style="display: none;">
                <form name="info" id="info" action="" method="post" >
                    <input type="hidden" name="group" id="group" value="0">
                    <div class="form-group">
                        <label for="">群組名稱</label>
                        <input type="text" name="groupname" id="groupname1" value="<?php echo $deliveryinfo['d'][0]['groupName']  ?>" >
                        <!--
                        <select id="">
                            <?php for($i = 0; $i < 3; $i++ ){ ?>
                            <option value="<?php echo $i; ?>"><?php echo ( isset($deliveryinfo['d'][$i]['groupName']) && $deliveryinfo['d'][$i]['groupName'] !== "" ) ? $deliveryinfo['d'][$i]['groupName'] : '群組'.$i  ?></option>
                            <?php } ?>
                        </select>
                        -->
                    </div>

                    <div class="form-group">
                        <label for="city">縣市</label>
                        <input type="hidden" name="zip" id="zip" value="<?php echo $showDist['regionZipcode'] ?>" >
                        <select name="city" id="city" onchange="accountgetSection()">
<?php 
        if( !empty($showCity['regionUid']) )
            echo  '<option value="'.$showCity['regionUid'].'">'.$showCity['regionName'].'</option>';
?>
                            <option value="taipei-city">台北市</option>
                            <option value="new-taipei-city">新北市</option>
                            <option value="taoyuan-city">桃園市</option>
                            <option value="taichung-city">台中市</option>
                            <option value="tainan-city">台南市</option>
                            <option value="kaohsiung-city">高雄市</option>
                            <option value="hualien-county">花蓮縣</option>
                            <option value="yilan-county">宜蘭縣</option>
                            <option value="miaoli-county">苗栗縣</option>
                            <option value="nantou-county">南投縣</option>
                            <option value="pingtung-county">屏東縣</option>
                            <option value="keelung-city">基隆市</option>
                            <option value="yunlin-county">雲林縣</option>
                            <option value="hsinchu-city">新竹市</option>
                            <option value="hsinchu-county">新竹縣</option>
                            <option value="chiayi-city">嘉義市</option>
                            <option value="chiayi-county">嘉義縣</option>
                            <option value="changhua-county">彰化縣</option>
                            <option value="hualien-county">花蓮縣</option>
                            <option value="taitung-county">臺東縣</option>
                            <option value="penghu-county">澎湖縣</option>
                            <option value="kinmen-county">金門縣</option>
                            <option value="lienchiang-county">連江縣</option>
                            <option value="nanhai-islands">南海諸島</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dist">鄉鎮區</label>
                        <select name="dist" id="dist">
<?php
        if(!empty($showCity['regionUid']) ){
            echo '<option zip="'.$showDist['regionZipcode'].'" value="'.$showDist['regionUid'].'">'.$showDist['regionName'].'</option>';
            for($i=0;$i<$showDistOption['args']['num'];$i++)
                echo '<option zip="'.$showDistOption['d'][$i]['regionZipcode'].'" value="'.$showDistOption['d'][$i]['regionUid'].'">'.$showDistOption['d'][$i]['regionName'].'</option>';
        }
        else{
?>
                            <option zip="100" value="zhongzheng-dist">中正區</option>
                            <option zip="103" value="datong-dist">大同區</option>
                            <option zip="104" value="zhongshan-dist">中山區</option>
                            <option zip="105" value="songshan-dist">松山區</option>
                            <option zip="106" value="daan-dist">大安區</option>
                            <option zip="108" value="wanhua-dist">萬華區</option>
                            <option zip="110" value="xinyi-dist-tp">信義區</option>
                            <option zip="111" value="shilin-dist">士林區</option>
                            <option zip="112" value="beitou-dist">北投區</option>
                            <option zip="114" value="neihu-dist">內湖區</option>
                            <option zip="115" value="nangang-dist">南港區</option>
                            <option zip="116" value="wenshan-dist">文山區</option>
<?php } ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="checkpassword">路號</label><input type="text" name="address" id="address" value="<?php echo $deliveryinfo['d'][0]['address'] ?>">
                    </div>
                    <div class="form-group">
                        <label for="checkpassword">備註</label><input type="text" name="note" id="note" value="<?php echo $deliveryinfo['d'][0]['note'] ?>">
                    </div>
                <!--    <div id="changepaw" class="err-msg red-txt"></div> -->
                    <div class="form-buttons">
                        <button type="button" onclick="accountSave()">儲存</button> 
                        <button type="button" class="cancel">取消</button>
                        <div id="groupName"></div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 語言 -->
        <div class="setting-lists">
            <div class="setting-option">語言</div>
            <div class="setting-val need">中文（台灣）</div>
            <div class="setting-editor pull-right">
            <!-- <i class="fa fa-pencil"></i> -->
            </div>
        </div>
    </div>

    <div class="foot">註冊時間：<?php echo $xuser['basic']['userTimeRegist']  ?></div>

    <!--
    <div>
        <form>
            <textarea cols="80" rows="10" id="editor1" name="editor1"></textarea>
            <script>
            CKEDITOR.replace( 'editor1' );
            </script>
        </form>
    </div>
    -->
</div>
<!-- ./頁面結束 -->


