<script>

<?php 
if($contactcc)
    echo 'alert("您的意見已經收到,參一腳客服人員將會盡快協助您處理")';
?>

$(".setting-menu li").removeClass("selected");
$("#contact_service").addClass("selected");
$("#setting-title").html("聯絡客服");

$("body").on("click", "#send", function(){
    if( customer.depiction.value == '' )
        alert("請填寫您遇到的問題");
    else if( customer.type.value == 'order' && customer.orderid.value == '' )
        alert("請填寫訂單編號");
    else
	    customer.submit();
});

$("body").on("click", "#cancel", function(){
	$("#reset").click();
});
</script>

<!-- 頁面開始 -->
<div class="box row-fluid setting-page customerservice">
    <div class="head title">
        <span>聯絡客服</span>
    </div>

   	<div class="body">
   		<form name="customer" id="customer"  action="" method="post">
	   		<table>
	   			<tr>
	   				<th>會員名稱</th>
	   				<td><?php echo $xuser['basic']['userRealname'] ?></td>
	   			</tr>
	   			<tr>
	   				<th>會員信箱</th>
	   				<td><?php echo $uaccs['uaccId']  ?></td>
	   			</tr>
	   			<tr>
	   				<th>問題類型</th>
	   				<td><select name="type" id="type" >
							<option value="point" >點數問題</option>
							<option value="sys" >系統問題</option>
							<option value="goods" >商品問題</option>
							<option value="order" >訂單問題</option>
							<option value="other" >其他</option>
						</select></td>
	   			</tr>
	   			<tr>
	   				<th>訂單編號</th>
	   				<td><input type="text" name="orderid" id="orderid"  ></td>
	   			</tr>
	   		</table>

	   		<div>
	   			請在此詳細告知我們您遇到的問題,參一腳客服人員將會盡快協助您處理。疑難排解需要些許工作天,請您耐心等候! 參一
	腳全體人員在此感謝您~
	   		</div>

	   		<div>
	   			<textarea name="depiction" id="depiction" rows="5" cols="60"></textarea>
	   		</div>

	   		<div>
	   			<div class="button-groups">
	   				<div id="send" class="input-btn">送出</div>
	   				<div id="cancel" class="input-btn pull-right">重設</div>
	   			</div>
				<input id="reset" type="reset" value="重設" style="display:none;">
	   		</div>
	   	</form>
    </div>
</div>
<!-- ./頁面結束 -->


