<?php
$fb_link     ='https://www.facebook.com/sharer/sharer.php?u=';
$share_link  ='http://www.countmin.com/index/regist/'.$xuser['basic']['userInviteCode'].'/'.$xuser['basic']['userUid'];
$share_title ='countmin參一腳';

?>

<script>
$(".setting-menu li").removeClass("selected");
$("#find_friends").addClass("selected");
$("#setting-title").html("尋找朋友");

function sendemail(){
    var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
    if(!reg.test($("#email").val()))                               
        alert("電子信箱格式不正確");
    else    
        $("#emailform").submit();
}
</script>


<!-- 頁面開始 -->
<div class="box row-fluid setting-page friends">
    <div class="head title">
        <span>尋找朋友</span>
    </div>
    <div class="body">
        <form enctype="multipart/form-data" name="emailform" id="emailform"  action="" method="post">
            <!-- 邀請碼 -->
            <div class="invitation">
        		<i class="fa fa-envelope-o"></i>
        		<div class="invitation-txt">
        			<div class="sm-txt">您的邀請碼</div>
        			<div class="invitation-code"><?php echo $xuser['basic']['userInviteCode'] ?></div>
        		</div>
        	</div>

            <!-- 邀請說明 -->
            <div class="text-center title">邀請朋友成為參一腳會員後<br />你和你的朋友每人可獲得各<span class="red-txt">100點</span>唷！</div>

            <div class="description text-center">
                參一腳除了可以分享生活大小事還可以發表活動，<br />
                參加互動提升等級還能夠累積點數免費兌換好康唷！<br />
                一起來加入“參一腳”吧！
            </div>

            <!-- 邀請動作 -->
            <div class="email-fb-invite co12-12">
                <!-- 電子郵件邀請 -->
            	<div class="co12-6 in-email pull-left">
                    <p>電子郵件邀請</p>
            		<div class="input-group">
            			<input type="text" name="email" id="email" placeholder="請輸入電子信箱" />
                        <span onclick="sendemail()" class="send-invitation">發出邀請</span>
            		</div>
            	</div>
                <!-- ./電子郵件邀請 -->

                <!-- 分享貼文至FB邀請朋友 -->
            	<div class="co12-6 invitation-buttons">
                    <p class="text-center">分享貼文至FB邀請朋友</p>
            		<div class="buttons">
        	    	<?php echo '<a href="'.$fb_link.urlencode($share_link).'&t='.urlencode($share_title).'" Target="_blank" >'; ?>
                            <div class="fb"><i class="fa fa-facebook"></i> <span class="txt">臉書推薦朋友</span></div>
                        </a>
    <!--
        	    		<a href="javascript:void(0);">
                            <div class="line"><i class="fa-line">LINE</i>LINE邀請朋友</div>
                        </a>
                        <a href="javascript:void(0);">
        	    		    <div class="instagram"><i class="fa fa-instagram"></i>Instagram邀請朋友</div>
                        </a>
    -->
        	    	</div>
                </div>
                <!-- ./分享貼文至FB邀請朋友 -->
        	</div>
            <!-- ./邀請動作 -->
        </form>
    </div>
</div>
<!-- ./頁面結束 -->

<!--
<form enctype="multipart/form-data" name="" id=""  action="" method="post">
你的邀請碼 ：<?php echo $xuser['basic']['userInviteCode'] ?>
<p><p><p><p> <p><p> 

請輸入電子信箱 ：<input type="text" name="email" id="email" >
<p><p>
<input type="submit" name="" value="送出邀請信" >

</form>

FB分享 ： -->
<?php //echo '<a href='.$fb_link.urlencode($share_link).'&t='.urlencode($share_title).' Target="_blank" >FB分享</a>'; ?>


