<script>
$(".setting-menu li").removeClass("selected");
$("#blog_move").addClass("selected");
$("#setting-title").html("部落客搬家");

Array.prototype.remove = function () {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};

function check(){

    if( $("#filename").val() == "" ){
        alert("您未選擇任何檔案！");
        return false;
    }

    if( $("#interest").val() == "" ){
        alert("您未選擇任何興趣標籤！");
        return false;
    }

    $("#import").submit();
}

$(document).ready(function(){
    var interest_str = '';
    for( var i = 0; i < i_item.length; i++ ){
        interest_str += '<div class="interest-item-group">'+
                            '<div class="icon">'+
                                '<div class="icon-i27 icon-'+ i_item[i] +'"></div>'+
                            '</div>'+
                            '<div class="label">'+
                                '<div class="word">'+ i_item_tw[i] +'</div>'+
                            '</div>'+
                        '</div>';
    }

    $(interest_str).appendTo(".interest-item");

    $(".icon").on("click", function(){
        var $this = $(this);

        var interest_class = $this.children(".icon-i27").attr("class").split(" ");
        var interest_name  = interest_class[1].replace("icon-", "");

        if( $this.hasClass("active") ){
            $this.removeClass("active");

            var source_interests = $("#interest").val().split(";");
            source_interests.remove(interest_name);
            $("#interest").val( source_interests.join(";") );
        }
        else{
            var interests = "";
            var count     = 0;

            $.each($(".icon"), function(i, val){
                if( $(val).hasClass("active") ){
                    var this_class = $(val).children(".icon-i27").attr("class").split(" ");
                    var this_name  = this_class[1].replace("icon-", "");

                    interests += this_name +";";
                    count++;
                }
            });

            if( count < 3 ){
                $this.addClass("active");
                interests += interest_name;
            }
            else{
                interests = interests.substring(0, (interests.length - 1));
                alert("最多只能選擇3個");
            }

            $("#interest").val( interests );
        }
    });
});

</script>

<div class="box row-fluid setting-page blog-move">
    <div class="head title">
        <span>部落客搬家</span>
    </div>

    <div class="body">
        <form enctype="multipart/form-data" name="import" id="import" action="" method="post">
            <div class="input-group bordered-bottom">
                <label for="filename">請選擇pixnet 匯出 MT 格式備份檔：</label>
                <input type="file" class="input" name="filename" id="filename"  />
            </div>
            <div class="input-group no-border-bottom">
                <label>請選擇興趣標籤（請選擇 1 ~ 3 個）：</label>
                <input type="hidden" name="interest" id="interest" value="" /> <!-- 使用者選擇的興趣標籤 -->
            </div>

            <div class="interest-item row-fluid bordered-bottom">
                <!-- 興趣選擇 -->
            </div>

            <div class="input-group text-center">
                <input name="upload" id="upload" type="button" value="     上傳     "  onClick="check()" />
            </div>
        </form>
    </div>
</div>
