<script>
// 改變
$("#page-header nav ul li.setting").addClass("selected");
</script>


<div class="box setting-menu">
	<h3><i class="fa fa-th-list"></i> <span id="setting-title">帳戶設置</span></h3>                                                                                            
	<ul class="nostyle setting-menu">
	  	<li id="account_setting" class="selected"><a href="/setting/account"><span>帳戶設定</span></a></li>
	  	<!-- <li><a href="/setting/photo"><span>封面與頭像設定</span></a></li> -->
	  	<li id="find_friends"><a href="/setting/friends"><span>尋找朋友</span></a></li>
	  	<li id="privacy_setting"><a href="/setting/privacy"><span>隱私設定</span></a></li>
	  	<li id="notify_setting"><a href="/setting/notify"><span>通知設定</span></a></li>
	  	<li id="blog_move"><a href="/setting/import"><span>部落客搬家</span></a></li>
	  	<li id="contact_service"><a href="/setting/customerservice"><span>聯絡客服</span></a></li>
	</ul>
</div>
