<?php
    $defaultPhoto_m='/css/img/default_profile_pic_m.png';
?>

<script>
//圖片上傳預覽
var loadFile = function(event,output) {
    var output = document.getElementById(output);
    output.src = URL.createObjectURL(event.target.files[0]);
};

$(".setting-menu li").removeClass("selected");
$(".setting-menu li:nth-child(2)").addClass("selected");
$("#setting-title").html("封面與頭像設定");


$(document).ready(function(){
    $("#photo-btn").on("click", function(){
        $('#photo').click();
    });

    $("#banner-btn").on("click", function(){
        $('#banner').click();
    });
});

function photoupload(){
    $('#photoform').submit();
}

function topupload(){
    $('#topform').submit();
}

</script>

<!-- 頁面開始 -->
<div class="box row-fluid setting-page photo">
    <div class="head title">
        <span>封面與頭像設定</span>
    </div>
    <form enctype="multipart/form-data" name="photoform" id="photoform"  action="" method="post">
        <div class="body">
        	<div class="row-fluid up-banner">
    	        <!-- 上傳照片 ＆ 拍照 -->
    	        <div class="setting-photo">
    	            <div class="center-wrapper">
    	            	<div id="photo-btn" class="setting-upload-pic upload-btn">
                            <i class="fa fa-picture-o"></i> 上傳照片
                        </div>
    	            <!--	<div class="setting-take-pic upload-btn"><i class="fa fa-camera"></i> 拍照</div> -->
    	            	<div class="clearfix"></div>
    	            	<div class="note">照片僅限JPG，PNG，GIF格式，檔案不得超過5M</div>
                        <input type="file" class="input" name="photo" id="photo" onchange="loadFile(event,'photoshow')" style="visibility:hidden;">
    	            </div>
    	        </div>
    	    </div>
        </div>
        <div class="foot co12-12">
        	<div class="co12-8">
        		<div class="title">照片預覽<!--裁剪區域--></div>
        	  	<div class="feature-pic">
                    <img id="photoshow" src="<?php echo $defaultPhoto_m ?>">
                </div>
        	<!--	<div class="slider-bar">
        			<i class="fa fa-minus"></i> <input type="range"/> <i class="fa fa-plus"></i>
        		</div> -->
                <div class="action-buttons" style="text-align: center;">
                    <div class="save" onclick="photoupload()" >儲存</div>
                    <div class="cancel">取消</div>
                </div>
        	</div>

        	<div class="co12-4">
        		<div class="title">目前頭像</div>
        		<div class="now-pic">
                    <img src="<?php echo CZ::model('images')->imagePath_getter($xuser['basic']['userProfile']) ?> ">
                </div>

        	</div>
        </div>
   <!--  </form> -->
</div>

<!-- ======================== 封面照 ================== -->
<div class="box row-fluid setting-page photo">
    <div class="head title">
        <span>封面照設定</span>
    </div>
  <!--  <form enctype="multipart/form-data" name="" id=""  action="" method="post"> -->
        <div class="body">
            <div class="row-fluid up-banner">
                <div class="setting-photo">
                    <div class="center-wrapper">
                        <div id="banner-btn" class="setting-upload-pic upload-btn"><i class="fa fa-picture-o"></i> 上傳封面照
                            
                        </div>
                    <!--    <div class="setting-take-pic upload-btn"><i class="fa fa-camera"></i> 拍照</div> -->
                        <div class="clearfix"></div>
                        <div class="note">照片僅限JPG，PNG，GIF格式，檔案不得超過5M</div>
                        <input type="file" class="input" name="banner" id="banner" onchange="loadFile(event,'bannershow')" style="visibility:hidden;">
                    </div>
                </div>


            </div>
        </div>
        <div class="foot co12-12">
            <div class="co12-8">
                <div class="title">封面照預覽<!--裁剪區域--></div>
                <div class="feature-pic">
                    <img id="bannershow" src="<?php echo $defaultPhoto_m ?>">
                </div>
            <!--    <div class="slider-bar">
                    <i class="fa fa-minus"></i> <input type="range"/> <i class="fa fa-plus"></i>
                </div> -->
                <div class="action-buttons" style="text-align: center;">
                    <div class="save" onclick="photoupload()">儲存</div>
                    <div class="cancel">取消</div>
                </div>
            </div>

            <div class="co12-4">
                <div class="title">目前封面照</div>
                <div class="now-pic">
                    <img src="<?php echo CZ::model('images')->imagePath_getter($xuser['basic']['userTopbanner']) ?>">
                </div>
            </div>
        </div>
    </form>
</div>
<!-- ./頁面結束 -->

