<?php
    $defaultPhoto_s='/css/img/default_profile_pic_s.png';

?>
<script type="text/javascript">
$(".setting-menu li").removeClass("selected");
$("#privacy_setting").addClass("selected");
$("#setting-title").html("隱私設定");

function myPrivacy( group,divName ){

    var postData='';

    if( group=='a' && $("#open").attr("checked") )
        postData='open=1&group=a' ;       

    if( group=='a' &&  $("#friend").attr("checked") )
        postData='open=0&group=a';


    if( group=='c' && $("#agree").attr("checked") )
        postData='agree=1&group=c';

    if( group=='c' && $("#disagree").attr("checked") )
        postData='agree=0&group=c'; 

    if( group=='e' && $("#all").attr("checked") )
        postData='msg=1&group=e';   
  
    if( group=='e' && $("#onlyfriend").attr("checked") )
        postData='msg=0&group=e'; 

    if( group=='e' && $("#notfriend").attr("checked") )
        postData='msg=2&group=e'; 

    if( !$("#email").attr("checked") && !$("#mobile").attr("checked") ){
        alert("何種方式可以找到我 請選擇");
        $("#email").attr("checked",true);
    } 

    if( group=='b' && $("#email").attr("checked") )
        postData='find=0&group=b';
        
    if( group=='b' && $("#mobile").attr("checked") )
        postData='find=1&group=b';

    if( group=='b' && $("#email").attr("checked") && $("#mobile").attr("checked")   )
        postData='find=2&group=b';

    if( group=='d')
        postData='black='+black+'&group=d';

    $.ajax({
        url: "/setting/privacyupdate",
        data: postData,
        type:"POST",
        dataType:'text',
            
        success: function(message){
            document.getElementById(divName).innerHTML=message;
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById(divName).innerHTML=errorThrown;
        }
    });
}
function savePrivacy(){

     $.ajax({
        url: "/setting/privacyupdate",
        data: postData,
        type:"POST",
        dataType:'text',
            
        success: function(message){
            document.getElementById(divName).innerHTML=message;
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById(divName).innerHTML=errorThrown;
        }
    });
}

function blacklistdel(id){
     $.ajax({
        url: "/setting/blacklistdel",
        data: "id="+id,
        type:"POST",
        dataType:'text',
            
        success: function(message){
             $("#"+id).html(''); 
        },
        error:   function(jqXHR, textStatus, errorThrown){
            document.getElementById(divName).innerHTML=errorThrown;
        }
    });
}


$(document).ready(function(){

    // 單選 ( 就只是單選 )
    $("input[name=group-a]+span, input[name=group-c]+span, input[name=group-e]+span").on("click", function(){
        var $this = $(this);
        var groupName = $this.prev("input").attr("name");

        $("input[name="+ groupName +"]").attr("checked", false);
        $(this).prev("input").attr("checked", true);
    });

    // 複選＋不得不選
    $("input[name=group-b]+span").on("click", function(){
        var $this = $(this);
        var groupName = $this.prev("input").attr("name");

        if( $this.prev("input").attr("checked") ){
            if( $("input[name="+ groupName +"]:checked").get().length < 2 ){
                alert("不可全部取消！");
                return false;
            }
            $this.prev("input").attr("checked", false);
        }
        else{
            $this.prev("input").attr("checked", true);
        }
    });

    // hide settings besides h4 tag
    $.each($(".privacy-toggle"), function(i, v){
        $(v).parent("h4").siblings().hide();
    });

    $(".privacy-toggle").on("click", function(){
        var $this = $(this);
        $this.parent("h4").siblings().toggle();
    });
});
</script>

<!-- 頁面開始 -->
<div class="box row-fluid setting-page privacy">
    <div class="head title">
        <span>隱私設定</span>
    </div>

    <div class="body">
        <!-- 發布 -->
        <div class="bordered">
            <form name="groupA" id="notify"  action="" method="post">
                <h4>誰可以看到我發布的 
                    <span id="my-public-txt" class="privacy-txt"><?php echo ($privacy['myPost']) ? '公開' : '僅限好友' ; ?></span>
                    <i class="fa fa-pencil pull-right privacy-toggle"></i>
                </h4>

                <p>此為預設的隱私設定可讓您更快速發文，如想更改當篇文章的隱私設定，你可以在發布時更改，您單篇發布內容的隱私設定。</p>

                <div class="input-group">
                    <div class="radio-groups">
                        <input type="checkbox" name="group-a" id="open" value="1" onclick="checkboxtrun('open')" <?php echo ($privacy['myPost']) ? 'checked':''; ?> />
                        <span class="checkbox"></span>公開
                    </div>

                    <div class="radio-groups">
                        <input type="checkbox" name="group-a" id="friend" value="0" onclick="checkboxtrun('friend')" <?php echo ($privacy['myPost']) ? '':'checked'; ?> />
                        <span class="checkbox"></span>僅限好友
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-btn" onClick="myPrivacy('a','ga' )" >儲存</div>
                    <div class="input-btn">取消</div>
                    <div id="ga"></div>
                </div>
            </form>
        </div>

        <!-- 找到我 -->
        <div class="bordered">
            <form name="groupB" id="notify"  action="" method="post">
                <h4>何種方式可以找到我 
                    <span id="find-me-txt" class="privacy-txt">電子信箱，手機號碼</span>
                    <i class="fa fa-pencil pull-right privacy-toggle"></i>
                </h4>

                <div class="input-group">
                    <div class="radio-groups">
                        <input type="checkbox" name="group-b" id="email" value="1" <?php if(!$privacy['findMe'] || $privacy['findMe']==2 ) echo 'checked'; ?> />
                        <span class="checkbox"></span>電子信箱
                    </div>
                    <div class="radio-groups">
                        <input type="checkbox" name="group-b" id="mobile" value="1" <?php if($privacy['findMe'] || $privacy['findMe']==2  ) echo 'checked'; ?> />
                        <span class="checkbox"></span>手機號碼
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-btn" onClick="myPrivacy('b','gb')">儲存</div>
                    <div class="input-btn">取消</div>
                    <div id="gb"></div>
                </div>
            </form>
        </div>

        <!-- 我的位置 -->
        <div class="bordered">
            <form name="groupC" id="notify"  action="" method="post">
                <h4>我的位置 
                    <span id="geo-txt" class="privacy-txt"><?php echo ($privacy['location']) ? '允許' : '不允許'; ?></span>
                    <i class="fa fa-pencil pull-right privacy-toggle"></i>
                </h4>

                <p>是否允許參一腳保存並顯示你所處的地理位置資訊，包括所有的第三方工具，APP用戶端</p>

                <div class="input-group">
                    <div class="radio-groups">
                        <input type="checkbox" name="group-c" id="agree" value="1" onclick="checkboxtrun('agree')" <?php echo ($privacy['location']) ? 'checked':''; ?> />
                        <span class="checkbox">
                            <i class=""></i>
                        </span>允許
                    </div>

                    <div class="radio-groups">
                        <input type="checkbox" name="group-c" id="disagree" value="1" onclick="checkboxtrun('disagree')" <?php echo ($privacy['location']) ? '':'checked'; ?> />
                        <span class="checkbox"></span>不允許
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-btn" onClick="myPrivacy('c','gc')" >儲存</div>
                    <div class="input-btn">取消</div>
                    <div id="gc"></div>
                </div>
            </form>
        </div>

        <!-- 我的黑名單 -->
         <div class="bordered">
            <form name="groupD" id="notify"  action="" method="post">
                <h4>我的黑名單 
                    <span id="black-list-txt"></span>
                    <i class="fa fa-pencil pull-right privacy-toggle"></i>
                </h4>

                <p>被加入黑名單的用戶端將無法關注你，評論你。如果你已經關注他，也會自動解除關係。</p>

                <h4>如何加入黑名單？<div id="gd"></div> 
                    <ul class="nostyle">
                        <li>1. 滑鼠點擊 “更多” 選單，點擊 “加入黑名單”；</li>
                        <li>2. 確認加入黑名單。</li>
                        <p>
                    </ul>
                    <table>
                       <tr> 
                    <?php
                            $imgurl='';
                            $del =''; 

                            for($i=0;$i<$blacklist['args']['num'];$i++){ 
                                if( empty($blacklist['d'][$i]['userProfile']))
                                    $imgurl=$defaultPhoto_s ;
                                else
                                    $imgurl=CZ::model('images')->imagePath_getter($blacklist['d'][$i]['userProfile'],'_m');
                                
                           $uid=$blacklist['d'][$i]['blackUserUid']; 
                    ?>
                       
                            <td>
                                <div id="<?php echo $blacklist['d'][$i]['blackUserUid'] ?>">
                                <img src="<?php echo $imgurl  ?>" height="75" width="75"  ><p>
                                <?php echo mb_strimwidth($blacklist['d'][$i]['userRealname'], 0, 12, "...", "UTF-8");  ?><p>
                                <input type="button" value="取消黑名單" onclick="blacklistdel('<?php echo $blacklist['d'][$i]['blackUserUid'] ?>')">
                                </div>
                            </td>

                <?php   if( ($i+1) % 7 == 0 )
                            echo '</tr><tr>'; 

                        if($i==$blacklist['args']['num'] -1 )
                            echo '</tr>';
                    } 

                ?>
                
               </table>
                </h4>
            </form>
        </div>

        <!-- 誰可以傳送私人訊息給我 -->
        <div class="bordered">
            <form name="groupE" id="notify"  action="" method="post">
                <h4>誰可以傳送私人訊息給我 
                    <span id="privacy-msg-txt">
                    <?php 
                        if($privacy['sendMsg']==0)  echo '僅限好友';
                        if($privacy['sendMsg']==1)  echo '所有人'; 
                        if($privacy['sendMsg']==2)  echo '僅限同好';
                    ?>
                    </span>
                    <i class="fa fa-pencil pull-right privacy-toggle"></i>
                </h4>
                <div class="input-group">
                    <div class="radio-groups">
                        <input type="checkbox" name="group-e" id="all" value="1" onclick="checkboxtrun('all')" <?php if($privacy['sendMsg'] == 1  ) echo 'checked'; ?> />
                        <span class="checkbox"></span>所有人
                    </div>

                    <div class="radio-groups">
                        <input type="checkbox" name="group-e" id="notfriend" value="1" onclick="checkboxtrun('notfriend')" <?php if($privacy['sendMsg']== 2 ) echo 'checked'; ?> />
                        <span class="checkbox"></span>僅限同好
                    </div>

                    <div class="radio-groups">
                        <input type="checkbox" name="group-e" id="onlyfriend" value="1" onclick="checkboxtrun('onlyfriend')" <?php if(!$privacy['sendMsg']) echo 'checked'; ?> />
                        <span class="checkbox"></span>僅限好友
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-btn" onClick="myPrivacy('e','ge')">儲存</div>
                    <div class="input-btn">取消</div>
                    <div id="ge"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ./頁面結束 -->

