// Spinning Icons
// --------------------------

.#{$i27-css-prefix}-spin {
  -webkit-animation: i27-spin 2s infinite linear;
          animation: i27-spin 2s infinite linear;
}

.#{$i27-css-prefix}-pulse {
  -webkit-animation: i27-spin 1s infinite steps(8);
          animation: i27-spin 1s infinite steps(8);
}

@-webkit-keyframes i27-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes i27-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
