// Bordered & Pulled
// -------------------------

.#{$i27-css-prefix}-border {
  padding: .2em .25em .15em;
  border: solid .08em $i27-border-color;
  border-radius: .1em;
}

.#{$i27-css-prefix}-pull-left { float: left; }
.#{$i27-css-prefix}-pull-right { float: right; }

.#{$i27-css-prefix} {
  &.#{$i27-css-prefix}-pull-left { margin-right: .3em; }
  &.#{$i27-css-prefix}-pull-right { margin-left: .3em; }
}

/* Deprecated as of 4.4.0 */
.pull-right { float: right; }
.pull-left { float: left; }

.#{$i27-css-prefix} {
  &.pull-left { margin-right: .3em; }
  &.pull-right { margin-left: .3em; }
}
