// Base Class Definition
// -------------------------

.#{$i27-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$i27-font-size-base}/#{$i27-line-height-base} FontInterest27; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $interest-icon-color;
}

