/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.#{$i27-css-prefix}-photo:before	{ content: $i27-var-photo; }
.#{$i27-css-prefix}-food:before		{ content: $i27-var-food; }
.#{$i27-css-prefix}-sport:before	{ content: $i27-var-sport; }
.#{$i27-css-prefix}-pet:before		{ content: $i27-var-pet; }
.#{$i27-css-prefix}-trip:before		{ content: $i27-var-trip; }
.#{$i27-css-prefix}-learn:before	{ content: $i27-var-learn; }
.#{$i27-css-prefix}-life:before		{ content: $i27-var-life; }
.#{$i27-css-prefix}-pub:before		{ content: $i27-var-pub; }
.#{$i27-css-prefix}-mood:before		{ content: $i27-var-mood; }
.#{$i27-css-prefix}-art:before		{ content: $i27-var-art; }
.#{$i27-css-prefix}-pi:before		{ content: $i27-var-pi; }
.#{$i27-css-prefix}-music:before	{ content: $i27-var-music; }
.#{$i27-css-prefix}-3c:before		{ content: $i27-var-3c; }
.#{$i27-css-prefix}-car:before		{ content: $i27-var-car; }
.#{$i27-css-prefix}-health:before	{ content: $i27-var-health; }
.#{$i27-css-prefix}-sci:before		{ content: $i27-var-sci; }
.#{$i27-css-prefix}-movie:before	{ content: $i27-var-movie; }
.#{$i27-css-prefix}-acg:before		{ content: $i27-var-acg; }
.#{$i27-css-prefix}-bg:before		{ content: $i27-var-bg; }
.#{$i27-css-prefix}-fate:before		{ content: $i27-var-fate; }
.#{$i27-css-prefix}-invest:before	{ content: $i27-var-invest; }
.#{$i27-css-prefix}-trend:before	{ content: $i27-var-trend; }
.#{$i27-css-prefix}-mkup:before		{ content: $i27-var-mkup; }
.#{$i27-css-prefix}-soul:before		{ content: $i27-var-soul; }
.#{$i27-css-prefix}-parent:before	{ content: $i27-var-parent; }
.#{$i27-css-prefix}-brand:before	{ content: $i27-var-brand; }
.#{$i27-css-prefix}-artist:before	{ content: $i27-var-artist; }
.#{$i27-css-prefix}-minus:before	{ content: $i27-var-minus; }
.#{$i27-css-prefix}-plus:before		{ content: $i27-var-plus; }
.#{$i27-css-prefix}-dollar:before	{ content: $i27-var-dollar; }
.#{$i27-css-prefix}-wallpost-plus:before	{ content: $i27-var-wallpost-plus; }
.#{$i27-css-prefix}-lottery:before	{ content: $i27-var-lottery; }
.#{$i27-css-prefix}-pulling:before	{ content: $i27-var-pulling; }
.#{$i27-css-prefix}-spread:before	{ content: $i27-var-spread; }

