// List Icons
// -------------------------

.#{$i27-css-prefix}-ul {
  padding-left: 0;
  margin-left: $i27-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$i27-css-prefix}-li {
  position: absolute;
  left: -$i27-li-width;
  width: $i27-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$i27-css-prefix}-lg {
    left: -$i27-li-width + (4em / 14);
  }
}
