/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontInterest27';
  src: url('#{$i27-font-path}/fontinterest-webfont.eot?v=#{$i27-version}');
  src: url('#{$i27-font-path}/fontinterest-webfont.eot?#iefix&v=#{$i27-version}') format('embedded-opentype'),
    url('#{$i27-font-path}/fontinterest-webfont.woff?v=#{$i27-version}') format('woff'),
    url('#{$i27-font-path}/fontinterest-webfont.ttf?v=#{$i27-version}') format('truetype'),
    url('#{$i27-font-path}/fontinterest-webfont.svg?v=#{$i27-version}#fontinterestregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
