// Variables
// --------------------------

$i27-font-path:        "/css/27interest" !default;
$i27-font-size-base:   14px !default;
$i27-line-height-base: 1 !default;
$i27-css-prefix:       i27 !default;
$i27-version:          "1.0.1" !default;
$i27-border-color:     #eee !default;
$i27-inverse:          #fff !default;
$i27-li-width:         (30em / 14) !default;


$i27-var-photo:			"\e800";
$i27-var-food:			"\e801";
$i27-var-sport:			"\e802";
$i27-var-pet:			"\e803";
$i27-var-trip:			"\e804";
$i27-var-learn:			"\e805";
$i27-var-life:			"\e806";
$i27-var-pub:			"\e807";
$i27-var-mood:			"\e808";
$i27-var-art:			"\e809";
$i27-var-pi:			"\e80a";
$i27-var-music:			"\e80b";
$i27-var-3c:			"\e80c";
$i27-var-car:			"\e80d";
$i27-var-health:		"\e80e";
$i27-var-sci:			"\e80f";
$i27-var-movie:			"\e810";
$i27-var-acg:			"\e811";
$i27-var-bg:			"\e812";
$i27-var-fate:			"\e813";
$i27-var-invest:		"\e814";
$i27-var-trend:			"\e815";
$i27-var-mkup:			"\e816";
$i27-var-soul:			"\e817";
$i27-var-parent:		"\e818";
$i27-var-brand:			"\e819";
$i27-var-artist:		"\e81a";
$i27-var-minus:			"\e81b";
$i27-var-plus:			"\e81c";
$i27-var-dollar:		"\e81d";
$i27-var-spread:		"\e81e";
$i27-var-pulling:		"\e81f";
$i27-var-wallpost-plus:	"\e820";
$i27-var-lottery:		"\e821";

