//==============================================
// component 常用元件
//==============================================
// 先處理 tagName, 其次 className
//============================================== 

// Button
button, 
.btn {
	border:1px solid $btn-border-color;
	height: $btn-height;
	line-height: $btn-line-height;
	text-align:center;
	@include border-radius($radius-small);
	.elem-group & {
		@include border-radius(0);
	}
	.elem-group &:last-child {
		@include border-left-radius($radius-small);
	}
	.elem-group &:first-child {
		@include border-right-radius($radius-small);
	}
}

// Text
input[type="text"] {
	border:1px solid $input-border-color;
	height: $input-height;
	line-height: $input-line-height;
	padding:3px;
	@include border-radius($radius-small);
	.elem-group & {
		@include border-radius(0);
	}
	.elem-group &:last-child {
		@include border-right-radius($radius-small);
	}
	.elem-group &:first-child {
		@include border-right-radius($radius-small);
	}
}

// Label
label {
	input {
		vertical-align:middle;
	}
}

// CheckBox
input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + span.checkbox {
	display:inline-block;
	color: $radio-color;
	margin-right:4px;
	width:19px;
	@extend .fa;
	font-size:20px;
	@extend .#{$fa-css-prefix}-square-o;
}

input[type="checkbox"]:checked + span.checkbox {
	@extend .#{$fa-css-prefix}-check-square;
}

// Radio
input[type="radio"] {
	display:none;
}

input[type="radio"] + span.radio {
	display:inline-block;
	color: $radio-color;
	margin-right:4px;
	width:19px;
	@extend .fa;
	font-size:20px;
	@extend .#{$fa-css-prefix}-circle-o;
}

input[type="radio"]:checked + span.radio {
	@extend .#{$fa-css-prefix}-dot-circle-o;
}

// Table
table.table {
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	width:100%;
	@include clearfix();
	@include box-sizing('box');
	caption {
		text-align:left;
	}
	tr {
		border:none;
		border-top:1px solid $table-border-color;
		border-left:1px solid $table-border-color;
	}
	th {
		font-weight:bold;
		padding-top:6px;
		padding-bottom:6px;
	}
	thead th, tfoot th {
		text-align:center;
	}
	tbody th {
		text-align:right;
	}
	th, td {
		border:none;
		border-right:1px solid $table-border-color;
		border-bottom:1px solid $table-border-color;
	}
	td.decimal, td.numeric, td.number, td.currency {
		padding-right:4px;
		text-align:right;
	}
}

table.table-hover {
	tbody tr:hover {
		background-color:$table-tr-hover-bgcolor;
		color:$table-tr-hover-color;
	}
}

table.table-rowline {
	thead {
		border-bottom:1px solid $table-border-color;
	}
	tbody tr {
		border-bottom:1px solid $table-border-color;
	}
}

table.table-bordered {
	tr {
		border-top:1px solid $table-border-color;
		border-left:1px solid $table-border-color;
	}
	th {
		background-color:$table-th-bgcolor;
	}
	th, td {
		border-right:1px solid $table-border-color;
		border-bottom:1px solid $table-border-color;
	}
}

table.table-striped {
	tbody tr:nth-child(even) {
		background-color: $table-striped-bgcolor;	
	}
}

// Headings
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

// Box
.box {
	background-color: $bgcolor-master;
	@include box-sizing('box');
	@include border-radius($radius);
	&.box-margin-top {
		margin-top: $box-margin-top;
	}
	&.box-margin-bottom {
		margin-bottom: $box-margin-top;
	}
	&.box-radius {
		@include border-radius($radius-big);
	}
	&.box-padding {
		padding: $box-padding;
	}
	.box-header {
		border-bottom:1px solid #ccc;
		padding: $box-padding;
		padding-top:4px;
		padding-bottom:8px;
	}
	.box-content {
		padding: $box-padding;
	}
	.box-footer {
		border-top:1px solid #ccc;
		padding: $box-padding;
		padding-top:4px;
		padding-bottom:8px;
	}
	&.box-padding {
		.box-header, .box-content, .box-footer {
			padding-left:0;
			padding-right:0;
		}
	}
}

// Error
input[type="text"].err, textarea.err {
	border:1px solid $form-text-err-border-color;
	color: $form-text-err-color;
}
label.err {
	border:1px solid $form-text-err-border-color;
	color: $form-text-err-color;
}

// Ul, Ol
ul.nostyle, ol.nostyle {
	padding:0;
	margin:0;
	border:none;
	list-style-type:none;
	> li {
		padding:0;
		margin:0;
		border:none;
		list-style-type:none;
	}
}
ul.nav-options {
	list-style-type:none;
	padding:0;
	margin:0;
	> li {
		background:#fff;
		border-bottom:1px solid #e8e8e8;
		padding:10px 8px;
		@include box-sizing('box');
		&:first-child {
			border-top:1px solid #e8e8e8;
		}
		&.selected {
			background:#eaeaea;
		}
		&:hover {
			background:#eee;
		}
	}
}
ul.nav-options-border-left {
	> li {
		border-left:5px solid #fff;
		&:hover {
			border-left:5px solid #fe0;
		}
		&.selected {
			border-left:5px solid #fed10e;
		}
		&.selected:hover {
			border-left:5px solid #ff0;
		}

	}

}

// Text-align center / left / right
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}


.micro-width {
	padding-right:0;
}

.hidden {
	display:none;
	visibility:hidden;
}

.clearfix {
	@include clearfix();
}

// Form
.form-group {
	border:none;
	padding:0;
	margin:0;
	margin-bottom:0.5em;
	min-height:1.8em;
	width:100%;
	@include clearfix();
	.form-label {
		float:left;
		padding:8px floor( $co12-gap-padding / 2 ) 4px 0;
		text-align:right;
		min-height:1.8em;
		width:20%;
		@include box-sizing('box');
	}
	.form-input {
		float:right;
		padding:4px 4px 4px floor( $co12-gap-padding / 2 );
		min-height:1.8em;
		width:80%;
		@include box-sizing('box');
		.elem-group {
			text-align:right;
		}
	}
	.form-text {
		padding-top:8px;
	}
}

.form-group-bordered .form-group {
	border-bottom:1px solid $divide-border-color;
	padding-bottom:0.5em;
	&:last-child {
		border-bottom:none;
	}
}

.form-section {
	.form-section-title {
		font-size:larger;
	}
	.form-section-content {

	}
}

// Modal
.modal {
/*	background-color:$modal-color;	*/
	position:absolute;
	top:0;
	left:0;
	height:auto;
	width:100%;
	z-index:300;
	background: none;
/*	@include opacity(0.9);	*/
}

.modal-content {
	background-color:#fff;
	border:1px solid #666;
/*	padding:20px;	*/
	margin: 10px auto;
	@include opacity(1);
	@include clearfix();
	@include border-radius($radius-big);
}

.spacer {
	@include clearfix();
}

.page-margin-top {
	margin-top: $page-margin-top;
}

.padding-bottom-none {
	padding-bottom: 0;
}
