$front-color-master:		#eef;
$front-color-slave:			#dfe;

$bgcolor-base:				#dfdfdf;
$bgcolor-master:			#fff;
$bgcolor-slave:				#ffd000;

$font-size-small:			12px;
$font-size:					14px;
$font-size-big:				16px;

$font-family:				"Microsoft JhengHei", "\5FAE\8EDF\6B63\9ED1\9AD4", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-color-base:			#444;

$line-height-small:			1.2em;
$line-height:				1.4em;
$line-height-big:			1.8em;

$btn-border-color:			#bbb;
$btn-height:				24px;
$btn-line-height:			24px;

$input-border-color:		#bbb;
$input-height:				24px;
$input-line-height:			16px;

$checkbox-color:			#d1945c;

$radio-color:				#d1945c;

$form-text-err-border-color:	#f00;
$form-text-err-color:		#c00;

$table-border-color:		#ccc;
$table-th-bgcolor:			#ddd;
$table-tr-hover-bgcolor:	#ffc;
$table-tr-hover-color:		#444;
$table-striped-bgcolor:		#ffb;

$divide-border-color:		#e9eaed;

$box-margin-top:			20px;
$box-padding:				20px;

$radius-small:				3px;
$radius:					10px;
$radius-big:				8px;

$border-color:				#aaa;
$table-striped-bg:			#eef;
$table-hover-bg:			#aae;
$margin-spacing:			4px;

$nav-icon-color:			#857d48;
$nav-icon-hover-color:		#fff;
$nav-icon-hover-bg:			#d5b107;

$modal-color:				#777;

// Responsive Settings
$grid-columns:				12 !default;

$gs12-columns:				12 !default;
$gs16-columns:				16 !default;
$gs20-columns:				20 !default;

$screen-xs-max:				568px;
$screen-sm-min:				569px;
$screen-sm-max:				791px;
$screen-md-min:				792px;
$screen-md-max:				1199px;
$screen-lg-min:				1200px;

$screen-width-xs:			480px;
$screen-width-sm:			750px;
$screen-width-md:			980px;
$screen-width-lg:			980px;

$co12-width:				8.333333%;
$co12-gap-padding:			20px;

$gs12-width:				8.333333%;
$gs16-width:				6.249999%;
$gs20-width:				5.000000%;

$primary-yellow:			#ffd400;

// 12/01 New Parameter
$page-margin-top:			20px;
$box-padding-bottom: 		20px;


// 版型: 左，右兩側寬度( total: 960px; padding: 0 10px )
$left-sidebar-width:		175px;

$content-wrapper-width: 	765px;

$middle-container-width: 	505px;
$right-side-width: 			240px;

// 興趣字體顏色
$interest-icon-color: 		#5d5d5d;

// 頭像寬度(圓形)
$head-pic-width-lg:			140px;
$head-pic-width:			75px;
$head-pic-width-sm:			45px;
$head-pic-width-xs:			40px;
$head-pic-width-xxs:		35px;

// 相片寬度
$pic-width-lg:				180px;
$pic-width:					90px;

$interest-icon-bg-color: 	#e8e8e8;
$interest-icon-color:		#5d5d5d;
$interest-icon-hover-color: #ffcc35;

// 12/29
$screen-md-max-width:		979px;
$screen-md-min-width: 		775px;
$screen-sm-max-width: 		774px;


