.row-fluid {
	width:100%;
	@include box-sizing('box');
	@include clearfix();
}
.btn {
	border:1px solid #ccc;
	padding:4px;
	&.btn-editable {
		@extend .fa;
		@extend .#{$fa-css-prefix}-pencil;
	}
	&:hover {
		background-color:#ffc;
		border:1px solid #a33;
	}
}
.btn-group {
	> .btn {
		border:1px solid #ccc;
		border-right:none;
		@include border-radius(0);
		&:first-child {
			@include border-left-radius($radius);
		}
		&:last-child {
			border-right:1px solid #ccc;
			@include border-right-radius($radius);
		}
	}

}

.modal {
/*	background-color:$modal-color;	*/
	position:absolute;
	top:0;
	left:0;
	height:auto;
	width:100%;
	z-index:300;
/*	@include opacity(0.9);	*/
}
.modal-content {
	background-color:#fff;
	border:1px solid #666;
/*	padding:20px;	*/
	width: 512px;
	margin: 50px auto 0;
	@include opacity(1);
	@include clearfix();
	@include border-radius($radius-big);
}

@mixin make-gs($w, $gap:$co12-gap-padding) {
	@each $grids in 12,16,20 {
		$width: 5%;
		@if $grids == 12 {
			$width: $gs12-width;
		}
		@elseif $grids == 16 {
			$width: $gs16-width;
		}
		@else {
			$width: $gs20-width;
		}
		@for $i from (1) through $grids {
			.gs#{$grids}#{$w}-#{$i} {
				border:none;
				@if $i < $grids  {
					display:inline-block;
					float:left;
				}
				@else {
					display:block;
				}
				margin-left:0;
				margin-right:0;
				padding-left:0;
				padding-right:0;
				width: $width * $i;
				@include box-sizing('box');
			}
			.co#{$grids}#{$w}-#{$i} {
				border:none;
				@if $i < $grids {
					display:inline-block;
					float:left;
				}
				@else {
					display:block;
				}
				margin-left:0;
				margin-right:0;
				padding-left: ceil( $gap / 2 );
				padding-right: floor( $gap / 2 );
				width: $width * $i;
				@include box-sizing('box');
			};
			@if $i < $grids {
				.gs#{$grids}#{w}-offset-#{$i}, .gs#{$grids}#{w}-offset-#{$i} {
					border:none;
					margin-left: $width * $i;
					@include box-sizing('box');
				}
			}
		}
	}
}

@mixin visible(){
	.visible {
		display:block;
		visibility:visible;
	}
	table.visible {
		display:table;
	}
	tr.visible {
		display:table-row;
	}
	td.visible,
	th.visible {
		display:table-cell;
	}
	li.visible {
		display:list-item;
	}
	span.visible, 
	em.visible, 
	strong.visible,
	a.visible {
		display:inline-block;
	}
}

@include make-gs ('',$co12-gap-padding);

.wrapper-full {
	margin:0;
	width:100%;
}

@media (max-width: $screen-xs-max) {
	.hidden-xs {
		display:none;
		visibility:hidden;
	}
	nav > ul > li {
		height:45px;
	}
	.fixed .wrapper-inner {
		width:$screen-width-xs;
	}
	.form-group {
		.form-label {
			float:none;
			padding:4px;
			text-align:left;
		}
		.form-input {
			float:none;
			padding:4px;
		}
		.form-text {
			float:none;
			padding:8px;
		}
	}
	.modal-content {
		width: 95%;
	}
	@include make-gs('-xs',$co12-gap-padding);
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.hidden-sm {
		display:none;
		visibility:hidden;
	}
	.fixed .wrapper-inner {
		width:$screen-width-sm;
	}
	.modal-content {
		width: 95%;
	}
	@include make-gs('-sm',$co12-gap-padding);
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.hidden-md {
		display:none;
		visibility:hidden;
	}
	.fixed .wrapper-inner {
		width:$screen-width-md;
	}
	.modal-content {
		width: 512px;
	}
	@include make-gs('-md',$co12-gap-padding);
}
@media (min-width: $screen-lg-min) {
	.hidden-lg {
		display:none;
		visibility:hidden;
	}
	.fixed .wrapper-inner {
		width:$screen-width-lg;
	}
	.modal-content {
		width: 512px;
	}
	@include make-gs('-lg',$co12-gap-padding);
}
