@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

@mixin co12-width($cols){
	//width: $co12-width * $cols + ($col-gap-width * ($cols - 1 ));
	width: $co12-width * $cols;
}
@mixin co12-offset($cols){
	//margin-left: ($co12-width + $col-gap-width) * $cols;
	margin-left: $co12-width * $cols;
}

@mixin border-radius($r1, $r2: -1, $r3: -1, $r4: -1){
	@if $r2 == -1 {
  -webkit-border-radius: $r1;
     -moz-border-radius: $r1;
          border-radius: $r1;
	}
	@elseif $r3 == -1 {
		@include border-top-radius($r1);
		@include border-bottom-radius($r1);
	}
	@elseif $r4 == -1 {
		@include border-left-radius($r1);
		@include border-right-radius($r1);
	}
	@else {
		border-top-left-radius: $r1;
		border-top-right-radius: $r2;
		border-bottom-right-radius: $r3;
		border-bottom-left-radius: $r4;
	}
}

@mixin border-right-radius($r){
	border-top-right-radius: $r;
	border-bottom-right-radius: $r;
}

@mixin border-left-radius($r){
	border-top-left-radius: $r;
	border-bottom-left-radius: $r;
}

@mixin border-top-radius($r){
	border-top-left-radius: $r;
	border-top-right-radius: $r;
}

@mixin border-bottom-radius($r){
	border-bottom-left-radius: $r;
	border-bottom-right-radius: $r;
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
	background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin transform($deg){
 	-ms-transform: rotate($deg); /* IE 9 */
-webkit-transform: rotate($deg); /* Safari */
	    transform: rotate($deg); /* Standard syntax */
}

@mixin box-sizing($boxmodel) {
	@if $boxmodel == "padding-box" or $boxmodel == "box" {
		$boxmodel: border-box;
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
	@elseif $boxmode == "content" {
		$boxmodel: content-box;
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
	@else {
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
}

/**
 * 透明度 
 */
@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: #{alpha(opacity=$opacity-ie)};
}

/* a hover-link */
@mixin hover-link {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

@mixin focus-no-outline {
	&:focus {
		outline: none;
	}
}

