<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?>::超級管理者</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" charset="utf-8">

	<script type="text/javascript">
		var me={};
		me['myuid']='<?php echo ME::user_uid(); ?>';
		me['email_valid']='';
	</script>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.datepicker-zh-TW.js"></script>
<?php if(0){ ?>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71628996-1', 'auto');
	  ga('send', 'pageview');

	</script>
<?php } ?>
</head>
<body class="fixed">
<!--	<div class="wrapper-outter">
	<div class="wrapper-inner">
-->
	<div class="wrapper-container">
		<div class="co12-2">
		<?php 
		CZ::grid(
			'admin',
			'admin-menu'
		);
		?>
		</div>
		<?php include($this->view); ?>
	</div>

<!--
	</div>

	</div>

-->
</body>
</html>

