<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?></title>
	<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/jquery.timepicker.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/<?php echo CZ::link_mtime('css'); ?>_style.css" type="text/css" charset="utf-8">

	<script type="text/javascript">
		var me={};
		me['myuid']='<?php echo ME::user_uid(); ?>';
		me['email_valid']='';
	</script>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_onload.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_wallposts.js"></script>
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_editor.min.js"></script>
	<script type="text/javascript" src="/js/jquery.blockUI.min.js"></script>
	<script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
	<script type="text/javascript" src="/js/clipboard.min.js"></script>

</head>

<meta charset="utf-8" />

<?php if($show_post==1){?>
<meta property="og:title" content="<?php echo $fb_share['title'];?>">
<?php if($fb_share['img']){?>
<meta property="og:image" content="<?php echo $fb_share['img'];?>" />
<?php }?>
<meta property="og:description" content="<?php echo $fb_share['description'];?>"/>
<meta name="title" content="<?php echo $fb_share['title'];?>" />
<?php if($fb_share['img']){?>
<meta name="image" property="og:image"  content="<?php echo $fb_share['img'];?>" />
<?php }?>
<meta name="description" content="<?php echo $fb_share['description'];?>" />
<?php }?>

<body class="fixed" data-timezone="<?php echo _TIMEZONE; ?>" data-login="<?php echo (ME::is_login()) ? 1 :0 ; ?>" >
<?php if($ui!=1){?>
<div class="wrapper-outter">
<?php }?>
	
	<div class="wrapper-inner">
	<?php if($ui!=1){?>
	<div class="wrapper-container">
		<header id="page-header" class="page-header co12-12 clearfix">
		<?php 
			CZ::grid(
				'index',
				'page-header'
			); 
		?>
		</header>
	</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		if( $("#user-level-name-mini").html().length > 2 ){
			$("#user-level-name-mini").addClass("level-lg");
		}
	});
	</script>
	<?php }?>
	<?php if($show_post==0){ echo "找不到頁面或沒有權限觀看";  exit();}  ?>	
	
	<div class="wrapper-inner ">
		<div class="wrapper-container">
			<!-- page-side -->
			<div class="row-fluid page-side co12-12 page-margin-top">
				<!-- 左側 Client 資訊 -->
				<div class="left-sidebar hidden-xs">
					<div class="box">
						<div class="user-info gs12-12 mini">
							<div class="user-level">
								<div id="user-level-name-mini" class="name"><?php _tl('Ly_userlevel_'.$xuser['basic']['userLevel']); ?></div>
							</div>
							<div class="user-banner">
								<div class="banner-bg"><img src="<?php echo $userTopbanner?>" /> </div>
								
								<div class="profile-image-s"><a href="/user/mywalls/<?php echo $xuser['basic']['userUid'] ?>" target="_top"><img src="<?php echo $userPhoto ?>" /></a></div>
								<div class="thermometer"><img src="/css/img/T_h.png"></div>
								<div class="user-name"><a href="/user/mywalls/<?php echo $xuser['basic']['userUid'] ?>"  target="_top"><?php echo $xuser['basic']['userRealname']; ?></a></div>
							</div>
							<div class="interest-item co12-12">
								<?php foreach($xuser['uprolevel']['d'] as $inx => $xdata){?>
								<div class="item-group" <?php echo ($inx>2) ? "style='display:none'" : ""; ?>>
									<div class="icon co12-3 co12-md-3 co12-sm-3">
										<div class="icon-i27 icon-<?php echo $xdata['interestId'];?>"></div>
									</div>
									<?php echo num($xdata['userProLevel']); ?>
								</div>
								<?php }?>
							</div>
							<?php if($xuser['basic']['userUid']!=ME::user_uid()){?>
							
							<?php if(ME::is_login()){?>
							<div class="action">
									<?php if($relations_status['relation_status']['now']=='stranger'){?>
										<span class="countmin_relation" data-uid="<?php echo $relations_status['userUid2'];?>">
											<span class="r-btn" data-action="follow"><i class="fa" ></i>追蹤</span>
										</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='interest'){?>
										<span class="countmin_relation" data-uid="<?php echo $relations_status['userUid2'];?>">
											<span class="r-btn" data-action="follow"><i class="fa" ></i>追蹤</span>
										</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='follow'){?>
										<span class="countmin_relation" data-uid="<?php echo $relations_status['userUid2'];?>">
											<span class="r-btn" data-action="not_follow"><i class="fa" ></i>取消追蹤</span>
										</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='inviting'){?>
										<span class="countmin_relation" data-uid="<?php echo $relations_status['userUid2'];?>">
											<span class="r-btn" data-action="not_inviting"><i class="fa" ></i>取消邀請</span>
										</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='friend'){?>
										<span class="countmin_relation" data-uid="<?php echo $relations_status['userUid2'];?>">
											<span class="r-btn" data-action="not_friend" data-confirm="1"><i class="fa" ></i>取消好友</span>
										</span>
									<?php }?>
							</div>
							<?php } else{?>
							<div class="action">
								<span class="countmin_relation" data-uid="<?php echo $xuser['basic']['userUid'];?>">
									<span class="comment-relation-btn" data-action="test"><i class="trace"></i>加入追蹤</span>
								</span>
							</div>
							<?php }?>
							<?php }?>
							<?php if($xuser['basic']['userUid']!=ME::user_uid()){?>
							<div class="action" onclick="top.location='/mailbox/one/<?php echo ME::user_uid();?>/<?php echo $xuser['basic']['userUid']?>';"><i class="email"></i>訊息</div>
							<?php }?>
						</div>
					</div>
				</div>
			
			
				<!-- content-wrapper（ 中間 ＋ 右側 ）-->
				<div class="content-wrapper">
					<div class="page-commit middle-container co12-xs-12">
						<div class="box">
							<div class="commit-header">
								<?php
									$css_str='';
											 if($wallposts['wallpost_view']['wallpostType']==2){$css_str='lottery-post';}
									else if($wallposts['wallpost_view']['wallpostType']==3){$css_str='pulling-post';}
									else if($wallposts['wallpost_view']['wallpostType']==4){$css_str='spread-post';}
								?>
								<div class="co12-11 title">
									<div class="<?php echo $css_str;?>"><div class="icon"></div></div>
										<?php if(!empty($wallposts['wallpostUidOriginal'])){?>
										<span class="share-box-push">
											<a href="/user/mywalls/<?php echo $wallposts['userUid']; ?>"><?php echo $wallposts['xuser']['basic']['userRealname'];?></a>
											分享了 <a href="/user/mywalls/<?php echo $wallposts['wallpost_share']['userUid']; ?>"><?php echo $wallposts['wallpost_share']['xuser']['basic']['userRealname'];?></a> 的<a href="/user/wallpost_comment?w=<?php echo $wallposts['wallpost_share']['wallpostUid'];?>"><?php echo ($wallposts['wallpost_share']['wallpostType']<2) ? '動態' : '活動'; ?></a>
										</span>
										<?php }else{?>
											<?php echo html($wallposts['wallpost_view']['wallpostTopic'],false);?>
										<?php }?>
								</div>
								<div class="co12-1">
									<i class="angle-down"  onclick="ul_sw(this);"></i>
									<div class="ul-bordered" style="display: none;">
										<ul class="nostyle collect-report">
											<?php if( true ){ // 他人的文章 ?>
											<li><a href="javascript:void(0)" class="favor-this"><?php echo !empty($wallposts['uwallpost_track']['favor']) ? "已收藏" : "加入收藏";?></a></li>
											<li><a href="#">檢舉</a></li>
											<?php }else{ // 自己的文章 ?>
											<li><a href="#">刪除</a></li>
											<li><a href="#" >修改</a></li>
											<?php } ?>
										</ul>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							
							<?php if($wallposts['wallpost_view']['wallpostType']>=2){?>
							<div class="commit-header-buttons wjoin_box" data-wuid="<?php value($wallposts['wallpost_view']['wallpostUid']); ?>">
								<div class="buttons">
									<span class="lg-button wjoin">我要參加</span>
									<span class="invite  winvite" >邀請</span>
									<div class="invite-nav" style="display: none;">
										<ul class="nostyle">
										</ul>
										<div class="invite-submit" style="display: none;">送出邀請</div>
									</div>
									<?php if($wallposts['wallpost_view']['wallpostType']>=2 && $wallposts['wallpost_view']['wallpostType']<=4){?>
											<?php if(ME::user_uid()==$wallposts['userUid']){?>
												<br/>
												<?php if($wallposts['wallpost_view']['wallpostType']>=2 && $wallposts['wallpost_view']['wallpostType']<=3){?>
												<?php if($wallposts['wallpost_view']['wallpost_extend']['missionOver']<2 ){?>
												<span class="finish  wfinish" >立即抽獎</span>
												<span class="list  wlist" data-type="join" >參加名單</span>
												<?php }else{?>
												<span class="list  wlist" data-type="win">得獎名單</span>
												<?php }?>
												<?php }?>
												<?php if($wallposts['wallpost_view']['wallpostType']==4){?>
												<span class="list  wlist" data-type="join">參加名單</span>
												<?php }?>
											<?php }?>
									<?php }?>
								</div>
							</div>
							<?php }?>
							
							<div class="commit-info">
								<div class="publish-time"><?php echo $wallposts['wallpost_view']['wallpostTimeCreate'];?></div>
								<div class="publish-place" > <i class="fa <?php echo ($wallposts['wallpostPublic']==0) ? "fa-globe" : "fa-group";?>"></i></div>

								<div class="publish-interest-item interest-item">
									<?php foreach((explode(';',$wallposts['wallpost_view']['wallpostInterests'])) as $wallpostInterests){?>
									<?php if($wallpostInterests!='0' && $wallpostInterests!=''){?>
									<div class="icon">
										<div class="icon-i27 icon-<?php echo $wallpostInterests;?>"></div>
									</div>
									<?php }?>
									<?php }?>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="commit-info">
								<div class="like">喜歡 <span><?php echo num($wallposts['wallpost_view']['wallpostNumLikes']);?></span>個</div>
								<div class="not-like">不喜歡 <span><?php echo num($wallposts['wallpost_view']['wallpostNumDislikes']);?></span>個</div>
								<div class="accumulated_points"></div>
							</div>
							
							<!--commit-body start-->
							<div class="commit-body">
								
								
								<?php if($wallposts['wallpost_view']['wallpostType']==0 || $wallposts['wallpost_view']['wallpostType']==1){?>
								<div class="commit-content"><?php  echo $wallposts['wallpost_view']['wallpostContent'];?></div>
								<?php } 
								/***********抽獎與推廣活動***********/
								else if($wallposts['wallpost_view']['wallpostType']>=2 && $wallposts['wallpost_view']['wallpostType']<=3){?>
									<!-- 抽獎項目 -->
									<div class="commit-options">
										<div class="enrollment">
											<div class="people"><?php echo num($wallposts['wallpost_view']['wallpost_extend']['joinNumPerson']);?></div>
											<div class="txt">報名人數</div>
										</div>
										<ul class="nostyle">
											<li><i class="fa fa-clock-o"></i> 活動時間：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionTimeStart'];?> ~ <?php echo $wallposts['wallpost_view']['wallpost_extend']['missionTimeClose'];?></li>
											<?php if($wallposts['wallpost_view']['wallpost_extend']['missionAward']!=0){?>
											<li><i class="fa fa-user"></i> 抽獎名額：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionNumPerson'];?>名</li>
											<li><i class="fa fa-check-square"></i> 活動條件：
												<div class="introduction">
													<p>★ 按下[我要參加]</p>
													<p style="<?php echo ($wallposts['wallpost_view']['wallpost_extend']['missionRequest'] &1) ? '' : 'display:none'; ?>">★ 將本文分享至facebook</p>
													<p style="<?php echo ($wallposts['wallpost_view']['wallpost_extend']['missionRequest'] &2) ? '' : 'display:none'; ?>">★ 在本文按+1</p>
													<p style="<?php echo ($wallposts['wallpost_view']['wallpost_extend']['missionRequest'] &4) ? '' : 'display:none'; ?>">★ 在本文留言「<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionRequestComment'];?>」</p>
												</div>
											</li>
											<?php }?>
											<li><i class="fa fa-file-text"></i> 活動介紹：
												<div class="introduction"><?php echo $wallposts['wallpost_view']['wallpost_extend']['missionContent'];?></div>
											</li>
										</ul>
									</div>
									<?php if($wallposts['wallpost_view']['wallpost_extend']['missionAward']>0){?>
									<!-- 抽獎項目 (中間) -->
									<div class="commit-options middle-body">
										<?php if($wallposts['wallpost_view']['wallpost_extend']['missionAward']==1){?>
											<ul class="nostyle">
												<li><i class="fa fa-gift"></i> 活動獎項：
													<div class="introduction">
														商品名稱：參一腳平台點數
													</div>
													<div class="introduction">
														商品說明：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionAwardPoint'];?>點/人
													</div>
												</li>
											</ul>
										<?php } else if($wallposts['wallpost_view']['wallpost_extend']['missionAward']==2){?>
											<ul class="nostyle">
												<li><i class="fa fa-gift"></i> 活動獎項：
													<div class="introduction">
														商品名稱：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionAwardName'];?>
													</div>
													<div class="introduction">
														商品說明：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionAwardDescription'];?>
													</div>
												</li>
											</ul>
										<?php }?>
									</div>
									<?php if(($wallposts['wallpost_view']['wallpostType']>=2 && $wallposts['wallpost_view']['wallpostType']<=3) && !empty($wallposts['wallpost_view']['wallpost_extend']['imageUidAward'])){?>
									<div class="award">
										<img src="<?php echo !empty($wallposts['wallpost_view']['wallpost_extend']['imgUrl']) ? $wallposts['wallpost_view']['wallpost_extend']['imgUrl']  : $wallposts['wallpost_view']['imageUrl'];  ;?>">
									</div>
									<?php }?>
									<!-- 抽獎項目 (time) -->
									<div class="commit-options over-body">
										<ul class="nostyle">
											<li>
												<?php if($wallposts['wallpost_view']['wallpost_extend']['missionAward']!=0){?>
												<i class="fa fa-clock-o"></i> 預計抽獎時間：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionTimeLottery'];?>
												<?php }?>
												<div class="introduction">
													活動網址：<?php echo $wallposts['wallpost_view']['wallpost_extend']['missionLink'];?>
												</div>
											</li>
										</ul>
									</div>
									<?php }?>
								
								<?php } 
								/***********揪團***********/
								else if($wallposts['wallpost_view']['wallpostType']==4){?>
								<div class="commit-options">
									<div class="enrollment">
										<div class="people">0</div>
										<div class="txt">報名人數</div>
									</div>
									<ul class="nostyle">
										<li><i class="fa fa-clock-o"></i> 活動時間：<?php echo $wallposts['wallpost_view']['wallpost_extend']['eventTimeStart'];?> ~ <?php echo $wallposts['wallpost_view']['wallpost_extend']['eventTimeEnd'];?></li>
										<li><i class="fa fa-user"></i> 活動人數：<?php echo $wallposts['wallpost_view']['wallpost_extend']['eventNumPerson'];?> 人</li>
										<li><i class="fa fa-money"></i> 活動費用：<?php echo $wallposts['wallpost_view']['wallpost_extend']['eventPricePersonal'];?> 元/人</li>
										<li><i class="fa fa-map-marker"></i> 活動地址：<?php echo $wallposts['wallpost_view']['wallpost_extend']['eventLocation'];?></li>
										<li><i class="fa fa-file-text"></i> 活動介紹：<?php echo $wallposts['wallpost_view']['wallpost_extend']['eventContent'];?></li>
									</ul>
								</div>
								<?php }?>
							</div>
							<!--commit-body end-->
							
							<div class="commit-foot">
								<div class="box">
									<div class="footer-content"></div>
								</div>
							</div>
						</div>
						<!-- 歷史發文紀錄 -->
						<?php if(!empty($history_wallposts)){ $ii=0;$maxi=2;?>
						<div class="box box-margin-top history">
							<div class="box-head bottom-bordered">
								<a href="/user/mywalls/<?php echo $xuser['basic']['userUid'] ?>" target="_top"><img src="<?php echo $userPhoto ?>" /></a>
								<div class="info">
									<div class="top">
										<a href="/user/mywalls/<?php echo $xuser['basic']['userUid'] ?>" target="_top"><?php echo $xuser['basic']['userRealname']; ?></a>
									</div>
									<div class="down">
										<span class=""><?php _tl('Ly_userlevel_'.$xuser['basic']['userLevel']); ?></span>
									</div>
								</div>
								<?php if($xuser['basic']['userUid']!=ME::user_uid()){?>
								<!-- 歷史發文紀錄 右側按鈕 -->
								<div class="head-buttons">
									<?php if($relations_status['relation_status']['now']=='stranger'){?>
										<span class="rsync-btn" data-action="follow"><i class="fa" ></i>追蹤</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='interest'){?>
										<span class="rsync-btn" data-action="follow"><i class="fa" ></i>追蹤</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='follow'){?>
										<span class="rsync-btn" data-action="not_follow"><i class="fa" ></i>取消追蹤</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='inviting'){?>
										<span class="rsync-btn" data-action="not_inviting"><i class="fa" ></i>取消邀請</span>
									<?php }?>
									<?php if($relations_status['relation_status']['now']=='friend'){?>
										<span class="rsync-btn" data-action="not_friend" data-confirm="1"><i class="fa" ></i>取消好友</span>
									<?php }?>
									<span class="" onclick="top.location='/mailbox/one/<?php echo ME::user_uid();?>/<?php echo $xuser['basic']['userUid']?>';"><i class="fa fa-envelope-o" ></i> 訊息</span>
								</div>
								<?php }?>
							</div>

							<div class="box-body">
								
								<?php foreach($history_wallposts as $history_wallpost_data){?>
								<?php if( $ii < $maxi){?>
								<div class="half">
									<div class="half-content">
										<div class="half-wrapper">
											<div class="head">
												<!-- Banner 照片 -->
												<img src="<?php echo $history_wallpost_data['imageUrl'];?>">
											</div>
											<div class="body">
												<!-- Title -->
												<div class="title"><?php echo html($history_wallpost_data['wallpostTopic'],false);?></div>
												<!-- 興趣 -->
												<div class="content"><?php echo $history_wallpost_data['wallpostBrief'];?></div>
											</div>
											<div class="foot">
												<span>喜歡 <?php echo $history_wallpost_data['wallpostNumLikes'];?>個</span><span>不喜歡 <?php echo $history_wallpost_data['wallpostNumDislikes'];?> 個</span>
											</div>
										</div>
									</div>
								</div>
								<?php }?>
								<?php $ii++;}?>
							
							</div>
						</div>
						<?php }?>
						<!-- ./歷史發文紀錄 -->
					</div>
						
					<!-- 右側 動作 -->
					<div class="page-side right-side hidden-xs page-commit">
						<div class="box">

							<!-- +1, -1, commit, share -->
							<div class="func-buttons wbox" data-uid="<?php value($wallposts['userUid']); ?>" data-wuid="<?php value($wallposts['wallpostUid']); ?>" data-wtime="<?php echo $wallposts['wallpostTimeCreate']?>">
								<div class="wallpost-commit" data-uid="<?php value($wallposts['userUid']); ?>" data-wuid="<?php value($wallposts['wallpostUid']); ?>" data-wuid-time="<?php echo $wallposts['wallpostTimeCreate']?>" >
									<div class="co12-3 co12-xs-3"><span class="like-this <?php echo !empty($wallposts['uwallpost_track']['like']) ? "did" : ""; ?>"><span class="txt">+1</span></span></div>
									<div class="co12-3 co12-xs-3"><span class="dislike-this  <?php echo !empty($wallposts['uwallpost_track']['dislike']) ? "did" : ""; ?>"><span class="txt">-1</span></span></div>
									<div class="co12-3 co12-xs-3"><span class="comment-this1  <?php echo !empty($wallposts['uwallpost_track']['comment']) ? "did" : ""; ?>" onclick="$('#comment_msg').focus();$('#comment_msg').selected=true;"><span class="fa fa-comment txt"></span></span></div>
									<div class="co12-3 co12-xs-3"><span class="more" onclick="share_sw(this);"><span class="txt">...</span></span></div>
									<!-- 分享 -->
									<div class="share-bordered" style="display: none;">
										<ul class="nostyle fb-wallpost mini">
											<li><a href="javascript:void(0)" class='share-wall-this'>分享至興趣牆</a></li>
											<li><a href="javascript:void(0)" class='share-fb-this'>分享至臉書</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- 留言 ＆ 分享 -->
							<div class="commit-info">
								<div class="message">留言 <?php echo num($wallposts['wallpostNumComments']);?>則 瀏覽 <?php echo num($wallposts['wallpostNumViews']);?>次</div>
							</div>

							<!-- 下方 對話 -->
							<div class="commit-message-input chat-group">
								<div class="profile-image-s" ><img src="<?php echo $mePhoto;?>" /></div>
								
								<!-- 留言框 -->
								<div class="commit-talkbox">
									<span id="comment_form" name="comment_form" class="comment_form" data-wuid="<?php echo $wallposts['wallpostUid']?>">
										<input type="text" id="comment_msg" name="comment_msg" placeholder="留言..." />
									</span>
								</div>
							</div>

							<span class="commit-new" style="display:none" ></span>
							<?php if($comments['args']['num']>0){?>
							<?php foreach($comments['d'] as $inx => $comments_data){?>
							<div class="chat-group">
								<div class="commit-message" data-wcuid="<?php echo $comments_data['wcommentUid']?>" data-wctime="<?php echo $comments_data['wcommentTime']?>">
									<div class="profile-image-s">
										<img src="<?php echo $comments_data['xuser']['imgUrl'];?>" />
									</div>
									<div class="chat-info">
										<div class="info-top">
											<span class="commit-name"><b><?php echo $comments_data['xuser']['basic']['userRealname']; ?></b></span>
											<span class="commit-time commit-time1"><?php echo $comments_data['wcommentTime']; ?></span> 
										</div>
										<div class="info-down"> 
											<span class="commit-talkmsg"><?php echo $comments_data['wcommentHtml']; ?></span>
										</div>
									</div>
								</div>
							</div>
							<?php }?>
							<?php }?>
							<div class="clearfix page-margin-bottom"></div>
							<?php if(ceil($comments['args']['cnt']/$show_row)>1){?>
							<div class="commit-more" page="<?php echo $page;?>" maxpage="<?php echo ceil($comments['args']['cnt']/$show_row);?>"><a href="javascript:void(0)">載入先前留言.....</a></div>
							<?php }?>
						</div>
					</div>
				</div>
				<!-- ./content-wrapper -->
			</div>
			<!-- ./page-side -->
		</div>
	</div>
<?php if($ui!=1){?>
</div>
<?php }?>
</body>
</html>

<?php if($ui!=1){?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71628996-1', 'auto');
  ga('send', 'pageview');

</script>
<?php }?>
<script>
		
	timezone=$('body').data('timezone');
	if(!timezone) timezone=0;
	else{timezone=parseInt(timezone,10)*60000;}
		
	var timezone_reset_plus=function($this){
		var n=new Date();
		var d=time_shift_timezone($this.html());
		$this.attr('datetime',$this.html());
		$this.attr('timestamp',d.getTime());
		var html=[[padLeft(d.getFullYear(),4),padLeft(d.getMonth()+1,2),padLeft(d.getDate(),2)].join('-'),[padLeft(d.getHours(),2),padLeft(d.getMinutes(),2)].join(':')].join(' ');
		
		var b=n.getTime()-d.getTime();
		if(b < 600000){html='剛剛';}
		else if(b < 3600000){html=Math.floor(b/60000)+'分鐘前';}
		else if(b < 86400000){html=Math.floor(b/3600000)+'小時前';}
		else if(b < 172800000){html='昨天前';}
		else{html=html;}
		$this.html(html);
		$this.removeClass('commit-time1');
		
		
	}
	$('.commit-time1').each(function(){
		timezone_reset_plus($(this));	
	});


	var comment_renew=function(wcuid,wcdata){
		var tobj=$(".commit-message[data-wcuid="+wcuid+"]");
		if(tobj.html()){
			return 1;
		}
		else{
			return 0;
		}
		return 0;
	}
	var comment_add=function(wcuid,wcdata){
		//console.log(wcdata);
		var txt="";
		txt+="<div class='chat-group'>";
		txt+="	<div class='commit-message' data-wcuid='"+wcdata.wcommentUid+"' data-wctime='"+wcdata.wcommentTime+"'>";
		txt+="		<div class='profile-image-s' >";
		txt+="			<img src='"+wcdata.xuser.imgUrl+"' />";
		txt+="		</div>";
		txt+="		<div class='chat-info'>";
		txt+="			<div class='info-top'>";
		txt+="				<span class='commit-name'>"+wcdata.xuser.basic.userRealname+"</span>";
		txt+="				<span class='commit-time commit-time1'>"+wcdata.wcommentTime+"</span>";
		txt+="			</div>";
		txt+="			<div class='info-down'>";
		txt+="				<span class='commit-talkmsg'>"+wcdata.wcommentHtml+"</span>";
		txt+="			</div>";
		txt+="		</div>";
		txt+="	</div>";
		txt+="</div>";

		
		return txt;
		
	}
	var comment_more=function(){
		var wuid=$(".wallpost-commit").attr('data-wuid');
		var page=$(".commit-more").attr('page');
		var maxpage=$(".commit-more").attr('maxpage');
		
		if(page<maxpage)
		{
			var npage=parseInt(page)+1;
			$(".commit-more").attr('page',npage);
			if(npage>=maxpage){$(".commit-more").hide();}
			
			$.post("/user/wallpost_comment?w="+wuid,{'comment_json':'1',page:npage},function(){}).done(function(mesg){
				mesg=$.parseJSON(mesg);
				if(mesg.error==0){
					$(mesg.data.d).each(function(inx,elem){
						if(comment_renew(elem.wcommentUid,elem)!=1){
							var txt=comment_add(elem.wcommentUid,elem);
							$(".commit-more").before(txt);
						}
					});
					$('.commit-time1').each(function(){
						timezone_reset_plus($(this));	
					});
				}
			});
		}
		
	}
	$(".commit-more").bind('click',comment_more);
	

	
	
	var comment_save=function (){
		var wuid=$(".comment_form").attr("data-wuid");
		var comment=$("#comment_msg").val();
		if(comment.trim()!=""){
			$.post("/user/comment_save",{wuid:wuid,comment:comment},function(){}).done(function(mesg){
				mesg=$.parseJSON(mesg);
				if(mesg.error==0){
					$("#comment_msg").val('');
					self.location.reload();
				}
			});
		}
	}
	
	
	
	
	$(".comment_form").on('keydown',function(e){
		if(e.keyCode==13){
			comment_save();
			
		}
	});


	$(".rsync-btn").on('click',function(){
		$(".countmin_relation .r-btn").trigger("click");
		self.location.reload();
	});






</script>
