<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?></title>

	<link rel="stylesheet" href="/css/jquery.fullPage.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/<?php echo CZ::link_mtime('css'); ?>_style.css" type="text/css" charset="utf-8">

	<script type="text/javascript">
		var me={};
		me['myuid']='<?php echo ME::user_uid(); ?>';
		me['email_valid']='';
	</script>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easings.min.js"></script>
	<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>

	<script type="text/javascript">
		function slide_right(){
			$.fn.fullpage.moveSlideRight();
			setTimeout("slide_right()", 7000);
		}

		$(document).ready(function(){
			$("#fullpage").fullpage({
				menu: "#menu",
				slidesNavigation: false,
				controlArrowColor: "transparent",
				loopHorizontal: true,
				navigation: true,
				css3: true
			});

			setTimeout("slide_right()", 7000);

			$(".know-more").on("click", function(){
				$.fn.fullpage.moveSectionDown();
			});
		});
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71628996-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body data-timezone="<?php echo _TIMEZONE; ?>">
	<div id="fullpage">
		<!-- header.grid -->
		<div id="menu" class="login-outter">
			<div class="login-inner">
				<header id="page-header" class="page-header clearfix">
				<?php 
					CZ::grid(
						'index',
						'page-header'
					); 
				?>
				</header>
			</div>
		</div>
		<!-- ./header.grid -->

		<!-- 第一層  -->
		<div id="section0" class="section active">
			<div class="css_wrapper">
				<div class="css_table">
					<div class="css_tr">
						<div class="css_td">
							<div class="login-logo"> 
								<img src="/css/img/home_logo.png">
							</div>
							<div class="login-txt">興趣成就影響力，影響力創造達人</div>
							<div class="login-content">
								<?php include($this->view); ?>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-link">
					<span class="privacy-txt">隱私政策 使用條款 廣告 更多 countmin&copy;2015</span>
				</div>
				<div class="know-more">了解更多參一腳 <i class="fa fa-chevron-down"></i></div>
			</div>

			<div class="slide" style="background: #fff url(/css/img/slider1.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider2.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider3.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider4.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider5.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider6.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider7.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider8.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider9.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider10.jpg) no-repeat center center;"></div>
		</div>

		<!-- 第二層 -->
		<div id="section1" class="section">
			<div class="css_wrapper">
				<div class="css_table">
					<div class="css_tr">
						<div class="css_td css_td_half">
							<div class="section_pic_1 pull-right">
								<img src="/css/img/home_pic01.png">
							</div>
						</div>

						<div class="css_td css_white">
							<div class="section_pic_2 pull-left">
								<img src="/css/img/home_pic02.png">
								<div class="sectioin-txt-lg">
									興趣聚合同好<br />搜尋更方便
								</div>
								<div class="section-txt">
									參一腳聚合興趣同好，一同以興趣來參一腳，成就影響力，創造達人。<br />平台共有27個興趣類別，發表與參與者都會依照興趣分別提升興趣等級，影響力也隨之累積提高，下一個有影響力的自媒體就是你！
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 第三層 -->
		<div id="section2" class="section">
			<div class="css_wrapper">
				<div class="css_table">
					<div class="css_tr">
						<div class="css_td css_td_half css_yellow">
							<div class="section_pic_3 pull-right">
								<img src="/css/img/home_pic03.png">
								<div class="sectioin-txt-lg section2">
									活動好Funny<br />抽獎So Easy!
								</div>
								<div class="section-txt section2">
									想辦活動擔心名單整理很麻煩？想參加活動又怕不夠公正，名單作假嗎？？？突然想打球，卻又找不到同好嗎？別擔心！參一腳都幫你規劃好了，只要一鍵送出即可輕鬆完成。
								</div>
							</div>
						</div>

						<div class="css_td css_yellow">
							<div class="section_pic_4 pull-left">
								<img src="/css/img/home_pic04.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 第四層 -->
		<div id="section3" class="section">
			<div class="css_wrapper">
				<div class="css_table">
					<div class="css_tr">
						<div class="css_td css_td_half css_white">
							<div class="section_pic_5 pull-right">
								<img src="/css/img/home_pic05.png">
							</div>
						</div>

						<div class="css_td css_white">
							<div class="section_pic_6 pull-left">
								<div class="sectioin-txt-lg section3">
									參與就是你的兌換力
								</div>
								<div class="section-txt section3">
									在參一腳『凡參與過必留下點數』，無論發表，+1，-1，分享...，只要你積極參與增加互動，即可獲得平台贈與的點數，點數除了辦活動外還有10萬種以上的好康商品任你選！參與越多點數越多唷！！！
								</div>
								<img src="/css/img/home_pic06.png">
								<div class="nav-txt-wrapper">
									<span class="nav-txt-1 co12-4 text-center">發表參與</span>
									<span class="nav-txt-2 co12-4 text-center">獲得點數</span>
									<span class="nav-txt-3 co12-4 text-center">兌換好康</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 第五層 -->
		<div id="section4" class="section">
			<div class="css_wrapper">
				<div class="css_table">
					<div class="css_tr">
						<div class="css_td">
							<div class="login-logo"> 
								<img src="/css/img/home_logo.png">
							</div>
							<div class="login-txt">興趣成就影響力，影響力創造達人</div>
							<div class="login-content">
								<?php include($this->view); ?>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide" style="background: #fff url(/css/img/slider1.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider2.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider3.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider4.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider5.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider6.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider7.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider8.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider9.jpg) no-repeat center center;"></div>
			<div class="slide" style="background: #fff url(/css/img/slider10.jpg) no-repeat center center;"></div>
		</div>
	</div>
</body>
</html>

