<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?></title>

	<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
	<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/jquery.bxslider.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/jquery.timepicker.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/jquery.jscrollpane.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/<?php echo CZ::link_mtime('css'); ?>_style.css" type="text/css" charset="utf-8">

	<script type="text/javascript">
		var me={};
		me['myuid']='<?php echo ME::user_uid(); ?>';
		me['email_valid']='';
	</script>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

	<!-- split -->
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_onload.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_clipboard.min.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_wallposts.js"></script>
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/<?php echo CZ::link_mtime('js'); ?>_editor.min.js"></script>
	<script type="text/javascript" src="/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="/js/jquery.blockUI.min.js"></script>
	<script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>

</head>
<body class="fixed" data-timezone="<?php echo _TIMEZONE; ?>" data-myuid="<?php value(ME::user_uid()); ?>" data-login="<?php echo (ME::is_login()) ? 1 :0 ; ?>">
	<div class="wrapper-outter">
	<div class="wrapper-inner">
	<div class="wrapper-container">
		<header id="page-header" class="page-header clearfix">
		<?php 
			CZ::grid(
				'index',
				'page-header'
			); 
		?>
		</header>
		<?php include($this->view); ?>
	</div>
	</div>
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71628996-1', 'auto');
  ga('send', 'pageview');

</script>
</html>

