<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title><?php HTML(CZ::config_get('site.title.zh-tw')); ?></title>

	<link rel="stylesheet" href="/css/jquery.fullPage.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/croppie.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/css/<?php echo CZ::link_mtime('css'); ?>_style.css" type="text/css" charset="utf-8">

	<script type="text/javascript">
		var me={};
		me['myuid']='<?php echo ME::user_uid(); ?>';
		me['email_valid']='';
	</script>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easings.min.js"></script>
	<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/croppie.js"></script> 
	<script type="text/javascript">
		function a(event){
			if(!event) {
				event = window.event;
				if(event.keyCode == 13) {
					return false;
				}
			}
			else{
				if(event.keyCode == 13) {
					event.preventdefault();
				}
			}
		}
		document.onkeydown=a;

        function codecheck(){
            $.ajax({
                    url: "/index/codecheck",
                    data: "code=" + $("#code").val(),
                    type:"POST",
                    dataType:'text',
                    success: function(message){

                        if(!message){
                            var str = $("#code").val();
                            $("#code").attr("value", '');
                            $("#code").attr("placeholder", str + "邀請碼不正確 !!");
                        }
                    }
            });             
        }    

        function emailcheck(){
            $.ajax({
                    url: "/index/emailcheck",
                    data: "email=" + $("#email").val(),
                    type:"POST",
                    dataType:'text',
                    success: function(message){

                        if(message){
                            var str = $("#email").val();
                            $("#email").attr("value", '');
                            $("#email").attr("placeholder", str + " 已經註冊過了 !!");
                        }
                        else{
                        	$("#emailcheckecho").html('');
                    	}
                    }
            });             
        }    

		// for 27 interest item
		var i_item    = new Array('movie', 'brand', 'trip', 'mkup', 'music', 'invest', 'trend', 'pet', 'learn', 'artist', 'fate', '3c', 'sci', 'acg', 'bg', 'pub', 'pi', 'food', 'parent', 'life', 'soul', 'mood', 'photo', 'car', 'health','art', 'sport');
		var i_item_tw = new Array('電影戲劇', '品牌服務', '休閒旅遊', '美容彩妝', '音樂', '投資理財', '流行時尚', '寵物', '教育學習', '名人動態', '命理星座', '3c數位', '自然科普', '遊戲動漫', '感情話題', '公眾議題', '公益', '美食', '親子互動', '居家生活', '心靈勵志', '心情抒發', '攝影', '車友天地', '醫療保健', '文學藝術', '運動');

		function get_interests(){
			var interests = $(".interest-bg.selected").get();
            var value='';

			if( interests.length == 0 ){
				return 0;
			}
			else{
				$.each(interests, function(i, val){
                    value += $(val).children(".cover-radio").children("input").data("val") +';' ;
				});
                get_people(value);
                $("#interests").val(value);
			}
		}

        function get_people(interest){

            $.ajax({
                    url: "/index/registpeople",
                    data: "interests=" + interest,
                    type:"POST",
                    dataType:'text',
                    success: function(message){
                    	$("#people").empty();
                        $("#people").html(message);

                        // 勾選全部
                        $("#people :checkbox, #track_all").attr("checked", true);
                        $("#track_all+span.checkbox").css("color", "#f7c80d");

                        $("input + span.checkbox").off();

                        // 所有追蹤人數
                        var track_people = $("#people :checkbox").get().length;
                        $("#total-track").html( track_people );

                        $("input + span.checkbox").on("click", function(){
                        	if( $(this).prev("input").attr("id") == "track_all" ){
                        		if( $(this).prev("input").is(":checked") ){
                        			$(this).prev("input").attr("checked", false);
                        			$(this).css("color", "#dfdfdf");
                        			$("#people :checkbox").attr("checked", false);
									$("#people :checkbox+span").css("color", "#dfdfdf");
                        		}
                        		else{
                        			$(this).prev("input").attr("checked", true);
                        			$(this).css("color", "#f7c80d");
                        			$("#people :checkbox").attr("checked", true);
									$("#people :checkbox+span").css("color", "#f7c80d");
                        		}
                        	}
                        	else{
								if( $(this).prev("input").is(":checked") ){
									$(this).prev("input").attr("checked", false);
									$(this).css("color", "#dfdfdf");
								}
								else{
									$(this).prev("input").attr("checked", true);
									$(this).css("color", "#f7c80d");
								}
							}

							// 追蹤人數計數
							var tracking_people = $("#people :checkbox").get();
							var tracking_count  = 0;

							$.each(tracking_people, function(i, val){
								if( $(val).attr("checked") ){
									tracking_count++;
								}
							});

                       		$("#total-track").html( tracking_count );
						});
                    },
                    error:   function(jqXHR, textStatus, errorThrown){
                        $("#people").html(errorThrown);
                    }
            });
        }

        function isDate(txtDate){
            var currVal = txtDate;
            if(currVal == '')
                return false;
    
            var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/; //Declare Regex
            var dtArray = currVal.match(rxDatePattern); // is format OK?
    
            if (dtArray == null) 
                return false;
    
            dtMonth = dtArray[1];
            dtDay   = dtArray[3];
            dtYear  = dtArray[5];        
    
            if (dtMonth < 1 || dtMonth > 12)
            	return false;
            else if (dtDay < 1 || dtDay> 31)
            	return false;
            else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31) 
            	return false;
            else if (dtMonth == 2){ 
                var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                if (dtDay> 29 || (dtDay ==29 && !isleap)) 
                    return false;
            }
            return true;
        }

		$(document).ready(function(){

			$("input").not( $(":button") ).keypress(function (evt){
		        if (evt.keyCode == 13) {
		            return false;
		        }
		    });

			// 右上角 “註冊“ 反灰
			$("#page-header .regist").addClass("selected");

			// 年，月 select option
			var mon_opt = "";
			var day_opt = "";

            $("#email").on("blur",function(){
                if( $("#email").val() !=''  )
                    emailcheck(); 
            });

            $("#code").on("blur",function(){
                if( $("#code").val() !=''  )  
                    codecheck() ; 
            });


			for( var i = 1; i < 13; i++ ){	mon_opt += "<option value='"+ i +"'>"+ i +"</option>"; }
			$("#birth_mon").append(mon_opt);

			for( var i = 1; i < 32; i++ ){	day_opt += "<option value='"+ i +"'>"+ i +"</option>"; }
			$("#birth_day").append(day_opt);

			// 興趣選擇 png 
			var interest_png = "";

			for( var i = 0; i < i_item.length; i++ ){
				interest_png += '<div class="interest-bg">'+
								'<img src="/css/img/'+ i_item[i] +'.png">'+
								'<span class="txt">'+ i_item_tw[i] +'</span>'+
								'<div class="bg-mask"></div>'+
								'<div class="cover-radio"><input type="checkbox" name="interest-selected" data-val="'+ i_item[i] +'"><i class="fa fa-check"></i></div>'+
								'</div>';
			}

			$( interest_png ).appendTo("#interests-select-wrapper");

			$("#email").focus();

			// FullPage.js
			$("#fullpage").fullpage({
				anchors:['firstPage'],
				slidesNavigation: false,
				controlArrowColor: "transparent",
				loopHorizontal: false,
			//	scrollBar: true,
				scrollOverflow: true,
				autoScrolling: false,
			//	keyboardScrolling: false,
				css3: true,
				afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){
					if( anchorLink == "firstPage" && index == 1 && slideAnchor == 1 && slideIndex == 1 ){
						$("#birth_year").focus();
					}
				}
			});

			// 註冊
            $("#regist_btn").on("click", function(){
                var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
                var regps = /^[0-9a-zA-Z]+$/;

                 if(!reg.test($("#email").val()))
                    alert("電子信箱格式不正確！");
                 else if($("#username").val().length > 10 || $("#username").val().length < 2 )
                    alert("使用者名稱字數長度為2~10個字！");
                else if( $("#password").val().length < 8 || !($("#password").val().match(/[a-zA-Z]/) && $("#password").val().match(/[0-9]/)) )
                    alert("密碼需為8位數以上且英、數混合！");          
                else if( !regps.test($("#password").val()) || !regps.test($("#password").val())   )          
                    alert("密碼只限0~9 a~z A~z 不可輸入特殊字元！");
                else if( $("#password").val() != $("#password2").val() )
                    alert("重新輸入密碼有誤！")
                else
                    $.fn.fullpage.moveSlideRight();
            });

            // 基本資料
            $("#recommend_btn").on("click", function(){
                var Today=new Date();    
                if(  $("#birth_year").val() == '' || $("#birth_year").val() < 1900 ) 
                    alert("請輸入西元生日");
                else if( !isDate($("#birth_mon").val() + '/' + $("#birth_day").val() + '/' + $("#birth_year").val() ))
                    alert("生日輸入錯誤");
                else if( $("#birth_year").val() > Today.getFullYear()  )
                    alert( "生日年份不可大於 " + Today.getFullYear() + "年");
                else if( !$('input[name=sex]:checked').val() )
                    alert ("請選擇性別");
                //else if( $("#g-recaptcha-response").val() == '')
                //    alert("請點選 我不是機器人");
                else
                    $.fn.fullpage.moveSlideRight();
            });

            // 興趣推薦頁的”完成“
            $("#finish_btn").on("click", function(){
                var interests      = $(".interest-bg").get();
                var interest_count = 0;
                $.each(interests, function(i, val){
                    if( $(val).hasClass("selected") ){ interest_count++; }
                });

                if( interest_count == 0 )
                    alert("請選擇1~3個興趣")
                else
                    $.fn.fullpage.moveSlideRight();
            });

			// "追蹤20人並繼續" & "跳過此步驟，繼續->" 按鈕
			$( "#track_go, #jump_suggest_btn").on("click", function(){ 
				$.fn.fullpage.moveSlideRight();
			});

			// 興趣圖片 click
			$(".interest-bg").on("click", function(){
				if( $(this).hasClass("selected") ){
					$(this).removeClass("selected");
					$(this).children(".cover-radio").children("input").attr("checked", false);
				}
				else{
					var interests = $(".interest-bg").get();
					var interest_count = 0;
					$.each(interests, function(i, val){
						if( $(val).hasClass("selected") ){	interest_count++; }
					});

					if( interest_count < 3 ){
						$(this).addClass("selected");
						$(this).children(".cover-radio").children("input").attr("checked", true);
					}
					else{
						alert("最多只能選3個興趣！！！");
					}
				}
			});

			// 第四步驟（step4)
			$(".regist-wrapper").find("a[id^=fullslide]").on("click", function(){
                var nowStep = $(this).closest(".regist-wrapper").attr("class").replace('regist-wrapper step', '')  ;
				var slide = $(this).attr("id").replace('fullslide', '');

                if( nowStep > (slide + 1 ) )
				    $.fn.fullpage.moveTo('firstPage', slide);
			});

			// 上傳大頭貼 
			$("#pic-upload, #reUpload").on("click", function(){
                $('#photo').val('');
				$("#chk-submit").val("no");
				$('#photo').click();
			});

			var $uploadCrop;

			function readFile(input){
				if( input.files && input.files[0] ){
					$(".pic-wrapper span, .pic-wrapper i").hide();
					$("#crop, .pic-symbol, .pic-symbol i").show();
					$(".pic-symbol").css({
						width: "24px",
						bottom: "-35px",
						display: "inline-block"
						});

					var reader = new FileReader();

					reader.onload = function (e){
						$uploadCrop.croppie('bind', {
							url: e.target.result,
							src: e.target.result,
							points: [0,0,180,180]
						});
					}

					reader.readAsDataURL(input.files[0]);

					$("#reUpload").show();
					$("#chk-submit").val("yes");
				}
				else{
					alert("Sorry - you're browser doesn't support the FileReader API");
				}
			}

			$uploadCrop = $('#upload-demo').croppie({ 
				viewport: {
					width: 180,
					height: 180
				//	type: 'circle'
				},
				boundary: {
					width: 330,
					height: 250
				},
			//	showZoom: false,
				update: function(cropper){
					var zoom = cropper.zoom;
					$("#zoom").val( zoom );
					$.each(cropper.points, function(i, v){
						switch(i){
							case 0:
								$("#x1").val( parseInt(v) );
								break;
							case 1:
								$("#y1").val( parseInt(v) );
								break;
							case 2:
								$("#x2").val( parseInt(v) );
								break;
							case 3:
								$("#y2").val( parseInt(v) );
								break;
						}
					})
				}
			});

			$('#photo').on('change', function (){
				$(".crop").show();
				readFile(this);
			});

			// 裁剪 click
			$('.upload-result').on('click', function (ev) {
				$uploadCrop.croppie('result', 'canvas').then(function (resp){
					popupResult({
						src: resp
					});
				});
			});

			function popupResult(result) { 
				var html;
				if( result.html ){
					html = result.html;
				}
				if(result.src){
					html = '<img src="' + result.src + '" />';
				}
				$("#result").html(html);
			}

			// ./上傳大頭貼
			$("input[type=radio]+span").on("click", function(){
				if( $(this).prev("input").attr("checked") ){	$(this).prev("input").attr("checked", false); }
				else{	$(this).prev("input").attr("checked", true); }
			});

			// 完成
			$("#finish_photo_btn").on("click", function(){
                if( $("#photo").val() == ''){
                    alert("請先選擇要上傳的大頭貼照片,或按下方跳過此步驟繼續");
                    return;
                }

                //檢查上傳圖檔大小
                var fileSize = 0; //檔案大小
                var SizeLimit = 5000000;  //上傳上限，單位:byte
                var f = document.getElementById("photo");
                fileSize = f.files.item(0).size;
                if (fileSize > SizeLimit) 
                    alert("您上傳的大頭貼圖檔大小超過5mb 限制!");
                else{
				    $("#chk-submit").val("yes");
				    $("#regist").submit();  
                }
			});

			$("#regist").submit(function( event ){
				if( $("#chk-submit").val() == "yes" ){
					return ;
				}
				event.preventDefault();
			});
		});

        function skipPhoto(){
            $("#chk-submit").val("yes");
            $("#regist").submit(); 
        }
        
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71628996-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body data-timezone="<?php echo _TIMEZONE; ?>">
	<div id="fullpage" class="regist">
		<div class="section">
			<!-- header.grid -->
			<div class="login-outter">
				<div class="login-inner">
					<header id="page-header" class="page-header clearfix">
					<?php 
						CZ::grid(
							'index',
							'page-header'
						); 
					?>
					</header>
				</div>
			</div>
			<!-- ./header.grid -->

			<!-- Regist -->
			<?php include($this->view); ?>
			<!-- ./Regist -->
		</div>
	</div>
</body>
</html>

