<script type="text/javascript">
	$("#page-header .mywall").addClass("selected");
</script>

<script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/js/flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.time.js"></script>

<script type="text/javascript" src="/js/flot/jquery.flot.symbol.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>

<div class="row-fluid">
	<div class="co12-5 co12-xs-12">
		<div class="box box-margin-top">
			<div class="box-header">我參與的一週點數變化</div>
			<div class="box-content">
				<div id="placeholder" style="width:100%;height:300px;"></div>

<script type="text/javascript">
// 轉換日期 month 要 -1
function get_date(year, month, day){
	return new Date(year, month, day).getTime();
}

$(function() {
		// 參與的互動 
		var rawData1 = [
			<?php foreach($img_list as $date => $data){?>
			[get_date(<?php echo date("Y",strtotime($date)); ?>, <?php echo date("m",strtotime($date))-1;?>, <?php echo date("d",strtotime($date));?>), <?php echo $data['action'];?>],
			<?php }?>
			
		];

		// 參與的活動
		var rawData2 = [
		  <?php foreach($img_list as $date => $data){?>
			[get_date(<?php echo date("Y",strtotime($date)); ?>, <?php echo date("m",strtotime($date))-1;?>, <?php echo date("d",strtotime($date));?>), <?php echo $data['event'];?>],
			<?php }?>
		];
		var dataset = [
		    { label: "參與的互動", data: rawData1 },
		    { label: "參與的活動", data: rawData2 }
		];

		var options = {
			series: {
				lines: { 
					show: true
            	}
			},
			xaxis: { 
				mode: "time",
				timeformat: "%m/%d",
				tickSize: [1, "day"], 
				tickLength: 0,
				axisLabel: "<?php echo date("Y",time()); ?>",
				axisLabelUseCanvas: true,
				axisLabelFontSizePixels: 12,
				axisLabelFontFamily:'Verdana, Arial',
				axisLabelPadding: 10
			},
			yaxes: [{
			//        axisLabel: "參與的互動",
			        axisLabelUseCanvas: true,
			        axisLabelFontSizePixels: 12,
			        axisLabelFontFamily: 'Verdana, Arial',
			        axisLabelPadding: 3
			    //    tickFormatter: function (v, axis) {
			    //        return $.formatNumber(v, { format: "#,###", locale: "us" });
			    //    }
			   	},
			   	{ 
			        position: "right",
			       	axisLabel: "參與的活動",
			        axisLabelUseCanvas: true,
			        axisLabelFontSizePixels: 12,
			        axisLabelFontFamily: 'Verdana, Arial',
			        axisLabelPadding: 3
			    }
			],
		    legend: {
		        noColumns: 0,
		        position: "nw"
		    },
		    /*
		    grid: {
		        hoverable: true
		    //    borderWidth: 2
		    //    backgroundColor: { colors: ["#FFD400", "#CECECE"] }
		    },	*/
			color: ["#FFD400", "#CECECE"]
		};

		$.plot($("#placeholder"),dataset, options);

		/*
		var d1 = {color:"#f7c80d",data:[],label:"參與的活動",clickable:true};
		for (var i = 0; i <= 6; i += 1) {
			d1.data.push([i, parseInt(Math.random() * 30)]);
		}

		var d2 = {color:"#cecece",data:[],label:"參與的互動",clickable:true};
		for (var i = 0; i <= 6; i += 1) {
			d2.data.push([i, parseInt(Math.random() * 30)]);
		}

		var stack = 0,
			bars = true,
			lines = false,
			steps = true;

		function plotWithOptions() {
			$.plot("#placeholder", [ d1, d2 ], {
				xaxis: {
					border: 0,
					show: true,
						ticks: ["W0","W1","W2","W3","W4","W5","W6"]	//,"W7","W8","W9","W10"]
				},
				yaxis: {
		            tickLength: 0
		        },
				series: {
					stack: stack,
					lines: {
						show: lines,
						fill: true,
						steps: steps
					},
					bars: {
						show: bars,
						barWidth: 0.6
					}
				},
				grid: {
					show: true,
					color: "#555",
					borderColor:"#ddd",
					borderWidth: 0,	// 讓 x, y 軸消失
					markings: [ 
							{ xaxis: { from: 0, to: 10 }, yaxis: { from: 0, to: 0 }, color: "#ddd" },
                       		{ xaxis: { from: 0, to: 0 }, yaxis: { from: 0, to: 50 }, color: "#ddd" }
                       	]
				},
				bars: {
					fillColor: { colors: [{ opacity: 1 }, { opacity: 1}]},

				},
				legend: {
					show: 1
				}
			});
		}
		plotWithOptions();
		*/
	});
</script>
			</div>
		</div>
	</div>

	<div class="co12-7 co12-xs-12 activity-wrapper">
		<div class="box box-margin-top">
			<div class="tab-group row-fluid">
				<div class="co12-6 tab participation-interactivity selected">參與的互動</div>
				<div class="co12-6 tab participation-activity ">參與的活動</div>
			</div>
		</div>

		<!-- 參與的互動 -->
		<div class="inter activity-body">
			<?php if($socials_track){?>
			<?php foreach($socials_track as $socials_date => $socials_data ){?>
				<!-- 事件日期 -->
				<div class="activity-date"><?php echo date("m月d日",strtotime($socials_date));?></div>
				<?php if($socials_data){?>
				<?php foreach($socials_data as $socials_event_id => $socials_event_data ){?>
					<!-- 事件 -->
					<div class="activities">
						<div class="activity-content row-fluid">
							<div class="co12-1"><span class="<?php echo $socials_event_data['wsocialTypeText'];?>-this"></span></div>
							<div class="co12-11">
								<?php if($socials_event_data['wsocialType']==0){?>
								<div class="activity-title">你發表了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]</div>
								<?php }?>
								<?php if($socials_event_data['wsocialType']==1){?>
								<div class="activity-title">你給了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]+1</div>
								<?php }?>
								<?php if($socials_event_data['wsocialType']==2){?>
								<div class="activity-title">你給了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]-1</div>
								<?php }?>
								<?php if($socials_event_data['wsocialType']==3){?>
								<div class="activity-title">你分享了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]</div>
								<?php }?>
								<?php if($socials_event_data['wsocialType']==4){?>
								<div class="activity-title">你收藏了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]</div>
								<?php }?>
								<?php if($socials_event_data['wsocialType']==5){?>
								<div class="activity-title">你檢舉了[<?php echo html($socials_event_data['wallpost']['wallpostTopic'],false);?>]</div>
								<?php }?>
								<div class="activity-txt">
									<div>興趣Pro: </div>
									<div>
										<?php foreach((explode(';',$socials_event_data['wallpost']['wallpostInterests'])) as $wallpostInterests){?>
										<?php if($wallpostInterests!='0' && $wallpostInterests!=''){?>
										<span><?php echo	$tmpInterests['d'][$wallpostInterests];?> <i class="arrow-up"></i></span>
										<?php }?>
										<?php }?>
									</div>
									<div>獲得點數:<?php echo $socials_event_data['wsociaPoints'];?>點</div>
								</div>
							</div>
						</div>
					</div>
				<?php }?>
				<?php }?>
			<?php }?>
			<?php }?>
		</div>
		<!-- ./參與的互動 -->

		<!-- 參與的活動 -->
		<div class="activity-body" style="display: none;">

			<?php if(!empty($join_track)){?>
			<?php foreach($join_track as $join_track_date => $join_track_data){?>
				<!-- 事件日期 -->
				<div class="activity-date"><?php echo $join_track_date;?></div>
					<?php if(!empty($join_track_data)){?>
					<?php foreach($join_track_data as $join_track_event_id => $join_track_event_data){?>
					<!-- 事件 -->
					<div class="activities">
						<div class="activity-content row-fluid">
							<div class="co12-1"><i class="fa fa-user"></i></div>
							<div class="co12-11">
								<div class="activity-title"><?php echo $xuser['basic']['userId'];?>參加了[<?php echo $join_track_event_data['wallpostTopic'];?>]</div>
								<div class="">完成度 <?php echo $join_track_event_data['wallpost_extend']['missionComplete']['pass'];?>/<?php echo $join_track_event_data['wallpost_extend']['missionComplete']['need'];?> <a href="http://www.countmin.com/user/wallpost_comment?w=<?php echo $join_track_event_data['wallpostUid'];?>">前往活動完成項目</a></div>
							</div>
						</div>
					</div>
					<?php }?>
					<?php }?>
				<?php }?>
			<?php }?>
		</div>
		<!-- ./參與的活動 -->
	</div>
</div>
