<?php
if($userUpdate)
    echo '<meta http-equiv="refresh" content="0;url=/user/album" />';
?>

<script>
function headupload(){
    var options = {
        beforeSubmit: function(){
             $.blockUI({ message: $('#Upload-Message') }); 
        },
        success: function(){
            location.reload();
        },
        error: function(){
            alert("系統忙碌中....請稍候再試～");
        }
    }

    $('#headform').ajaxSubmit(options);
    $("#chk-head-pic").val("no");
    return false;
}

$(document).ready(function(){

    // 滑動垃圾桶
    $(".photo-border").hover(function(){
        $(this).children(".delete-btn").animate({"top": 0}, 400);
    }, function(){
        $(this).children(".delete-btn").animate({"top": "-30px"}, 400);
    });

    // 選擇照片
    $("#add-album").on("click", function(){
        $('#photo').click();
    });

    // blockUI => 取消 & x
    $(".close-btn, .cancel-btn").on("click", function(){
        $("#result").html("");
        $.unblockUI();
    });

    // 上傳
    $("#upload-cut").on("click", function(){
        var flag = false;
        $.each($("#headform input"), function(i, v){
            if( $(v).val() == "" ){
                flag = true;
                return false;
            }
        });

        if( flag ){
            return false;
        }

        $("#chk-head-pic").val("yes");
        headupload();
    });

    var $uploadCrop;

    function readFile(input){
        if( input.files && input.files[0] ){
            var reader = new FileReader();

            reader.onload = function(e){
                $uploadCrop.croppie('bind', {
                    url: e.target.result,
                    src: e.target.result,
                    points: [0,0,180,180]
                });
            }

            reader.readAsDataURL(input.files[0]);

            $.blockUI({
                message: $("#photo-wrapper"),
                css: {
                    top: 0
                }
            });
        }
        else {
            $("#result").html("");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport:{
            width: 180,
            height: 180,
        },
        boundary: { 
            width: 330, 
            height: 250,
        },
        update: function(cropper){
            var zoom = cropper.zoom;
            $("#zoom").val( zoom );

            $.each(cropper.points, function(i,v){
                switch(i){
                    case 0:
                        $("#x1").val( parseInt(v) );
                        break;
                    case 1:
                        $("#y1").val( parseInt(v) );
                        break;
                    case 2:
                        $("#x2").val( parseInt(v) );
                        break;
                    case 3:
                        $("#y2").val( parseInt(v) );
                        break;
                }
            });
        }
    });

    $('#photo').on('change', function (){
        $("#chk-head-pic").val("no");
        readFile(this);
    });

    // "裁剪" click
    $('.upload-result').on('click', function( ev ){
        $uploadCrop.croppie('result', 'canvas').then(function( resp ){
            popupResult({
                src: resp
            });
            $.unblockUI();
        });
    });

    function popupResult(result){
        var html;
        if( result.html ){
            html = result.html;
        }
        if( result.src ){
            html = '<img id="crop_img" src="' + result.src + '" />';
        }
        $("#result").html( html );
    }

    $("#headform").submit(function( event ){
        if( $("#chk-head-pic").val() === "yes" ){
            return ;
        }
        event.preventDefault();
    });
});

function del(id){
    if(confirm("真的要刪除這張大頭照嗎 ？")){
        $("#delid").val(id);
        $("#setphoto").submit();    
    }

}

$("#page-header .mywall").addClass("selected");
$(".sidenav-about li:nth-child(3)").addClass("selected");
</script>

<div id="Upload-Message" style="display:none; color: #fff;"> 
    <h1>上傳大頭照中... 請稍候！</h1> 
</div>

<div id="photo-wrapper" style="display: none;">
    <!-- X -->
    <span class="close-btn pull-right">&times;</span>

    <form enctype="multipart/form-data" name="headform" id="headform"  action="/user/uploadphoto" method="post">
        <div class="body">
            <input type="hidden" id="chk-head-pic" value="no" />
            <input type="hidden" id="photoType" name="photoType" value="1" /> <!-- 1: 大頭貼; 2: 封面照 -->
            <!-- 圖片 x1, y1, x2, y2 -->
            <input type="hidden" size="4" id="x1" name="x1" value="" style="width:30px;" />
            <input type="hidden" size="4" id="y1" name="y1" value="" style="width:30px;" />
            <input type="hidden" size="4" id="x2" name="x2" value="" style="width:30px;" />
            <input type="hidden" size="4" id="y2" name="y2" value="" style="width:30px;" />

            <!-- Zoom -->
            <input type="hidden" size="4" id="zoom" name="zoom" value="" style="width:30px" />

            <!-- 實際檔案 -->
            <button class="file-btn" style="opacity: 0;">
                <input type="file" id="photo" name="photo" value="選擇圖片文件" />
            </button>

            <div class="pic-wrapper">
                <div class="actions">
                    <div class="crop">
                        <div id="upload-demo"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot">
            <div id="finish_photo_btn" class="regist-btn upload-result">裁剪完成</div>
            <div class="cancel-btn">取消</div>
        </div>
    </form>
</div>

<div class="content-wrapper co12-xs-12 box-album row-fluid">
	<div class="box">
		<div class="head">
			<span>大頭照相本</span>
		</div>
		<div class="body row-fluid">
            <!-- 上傳大頭照 & 預覽 -->
            <div class="row-fluid">
                <form enctype="multipart/form-data" id="imgupload" name="imgupload" action="" method="post">
        			<div class="photo-frame">
                        <div class="photo-border">
                            <div id="result"></div>
                            <span class="album-upload"><i class="fa fa-user"></i></span>
                        </div>
                        <div id="add-album" class="upload-pic">選擇照片</div>
                        <div id="upload-cut" class="upload-cut pull-right">上傳</div>
                    </div>
                </form>
            </div>

            <!-- 設為使用中的大頭貼 -->
            <div class="row-fluid">
            <?php for($i=0;$i<$photo['args']['num'];$i++){ ?>
            <form name="setphoto" id="setphoto" action="" method="post">
                <div class="photo-frame">
                    <div class="photo-border">
                    <?php if( $photo['d'][$i]['userphotoUsed'] == 0){ ?>
                        <div class="delete-btn"><span class="pull-right"><i class="fa fa-trash-o" title="刪除" onclick="del('<?php echo $photo['d'][$i]['imageUid'] ?>')"></i></span></div>
                    <?php } ?>

                        <img src="<?php echo CZ::model('images')->imagePath_getter($photo['d'][$i]['imageUid'],'_m')?>">
                        <input type="hidden" name="imgid" value="<?php echo $photo['d'][$i]['imageUid'] ?>" >
                    </div>
                    <input type="hidden" name="delid" id="delid" value="">
                    <?php 
                        $btnShow = ( $photo['d'][$i]['userphotoUsed'] == 1) ? 'style="visibility:hidden"' : ''; 
                    ?>
                        <input type="submit" class="submit-btn" value="設定為使用中大頭照" <?php echo $btnShow ?> >
                </div>
            </form>
            <?php } ?>
            </div>
		</div>
	</div>
</div>
