<script type="text/javascript">
$("#page-header .mywall").addClass("selected");
// 去除 topbanner 的 selected
$("#profile_menu").find(".row-fluid").children(".co16-2").removeClass("selected");
</script>


<div class="row-fluid co12-12 page-margin-top favourite-page">
	<!-- 左側選單 175 -->
	<div class="left-sidebar">
		<div class="box">
			<div class="head">
				<span class="icon"><i class="fa fa-heart"></i></span> 收藏
			</div>
			<div class="body">
				<ul class="nostyle">
					<li><a><span class="txt">全部收藏</span><span class="pull-right"><?php echo num($favors_count['total']);?></span></a></li>
					<li><a><span class="txt">動態</span><span class="pull-right"><?php echo num($favors_count['active']);?></span></a></li>
					<li><a><span class="txt">活動</span><span class="pull-right"><?php echo num($favors_count['event']);?></span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="middle-container">
				<div class="wallposts">
					<?php for($i=0;$i<$wallposts['args']['num'];$i++){
								 echo CZ::model('wallposts')->wallpost_get_layout($wallposts['d'][$i]);
								}
					 ?>
				</div>

		</div>

		<!-- 右側內容 240 -->
		<div class="right-side">
						<?php CZ::grid('index','interestpeople',$users); ?>

            <?php  
            if( is_array($hotWrite) && array_key_exists('wallpostUid',$hotWrite))
            	CZ::grid('index','hotwrite',$hotWrite); 
            ?>
		</div>
	</div>
</div>
