	<div class="row-fluid page-side co12-12 page-margin-top">
		<!-- 左側 -->
		<div class="left-sidebar hidden-xs">
			<div class="box">
				<div id="user_pro_point" class="tab-group">
					<div class="tab <?php echo ( $xuser_uid == "" || $xuser_uid == ME::user_uid() ) ? "gs12-6":"gs12-12"; ?> selected">Pro等級</div>
					<?php

						if( $xuser_uid == "" || $xuser_uid == ME::user_uid() ){
					?>
					<div class="tab gs12-6">點數</div>
					<?php } ?>
				</div>
				<div class="tab-content">
				<?php for($i=0;$i<3;$i++){ ?>
					<div class="interest-item co12-12">
						<div class="icon co12-3 co12-md-3 co12-sm-3">
							<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
						</div>
						<div class="label co12-6 co12-md-8 co12-sm-8">
							<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
							<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
						</div>
						<div class="index-figure co12-3 co12-md-1 co12-sm-1">
							<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
						</div>
					</div>
				<?php } ?>
					<div class="interest-item-more hidden">
					<?php for($i=3;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
						<div class="interest-item">
							<div class="icon co12-2 co12-sm-3">
								<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
							</div>
							<div class="label co12-6 co12-sm-7">
								<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
								<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
							</div>
							<div class="index-figure co12-4 co12-sm-2">
								<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
							</div>
						</div>
					<?php } ?>
					</div>
					<div class="interest-item-more-button">
						<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">看詳細興趣</a>	
					</div>
					<div class="interest-item-less-button hidden">
						<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">只顯示三個興趣</a>	
					</div>
				</div>
				<div class="tab-content display-user-points user-interests-left" style="display: none;">
					<div class="box margin-bottom-zero">
						<div class="row-fluid">
			                <div class="co12-4"><span class="fa fa-dollar"></span></div>
			                <div class="co12-8 text-right">可兌換點數
			                    <span class="user-points"><?php echo number_format($xuser['basic']['userPoint']) ?></span>
			                </div>
			            </div>

<?php if( date("m") >= 6 ){ ?>
			            <div class="row-fluid expire">
			                <div class="co12-4"><span class="fa fa-dollar gray"></span></div>
			                <div class="co12-8 text-right"><?php echo date("Y").'-12-31'?>到期
			                    <span class="total-point"><?php echo number_format(CZ::model('users')->expirePointTotal($xuser['uid']) ) ?></span>
			                </div>
			            </div>
<?php } ?>

			            <div class="row-fluid border-top">
			                <div class="text-center point-record-txt"><a href="/user/points">看點數紀錄</a></div>
			            </div>
			        </div>

					<!--<?php echo $xuser['basic']['userPoint']; ?> 點-->
				</div>
			</div>

			<div class="user-activity box box-margin-top">
				<div class="row-fluid">
					<div class="co12-12">發表紀錄</div>
				</div>
				<div class="row-fluid">
					<div class="co12-6">動態</div>
					<div class="co12-6 text-right">
						<?php 
							$user_uid = form('p', 'string', 'get');
							if( $user_uid == "" || !strcmp($user_uid, ME::user_uid())){
						?>
						<a href="/user/postrecord?type=1"><?php num($xuser['uparameter']['uparameterNumPosts']); ?></a>
						<?php }else{ ?>
						<?php num($xuser['uparameter']['uparameterNumPosts']); ?>
						<?php } ?>
					</div>
				</div>
				<div class="row-fluid">
					<div class="co12-6">活動</div>
					<div class="co12-6 text-right">
						<?php 
							$user_uid = form('p', 'string', 'get');
							if( $user_uid == "" || !strcmp($user_uid, ME::user_uid())){
						?>
						<a href="/user/postrecord?type=2"><?php num($xuser['uparameter']['uparameterNumEvents']); ?></a>
						<?php }else{ ?>
						<?php num($xuser['uparameter']['uparameterNumEvents']); ?>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
		<!-- ./左側 -->

		<!-- 中間 -->
		<div class="content-wrapper co12-xs-12 mywall-page">
			<div class="page-wallposts middle-container co12-xs-12">
				<?php 
					if( $xuser_uid == "" || !strcmp($xuser_uid, ME::user_uid())){
				?>
				<div class="box">
					<div class="leave-wallpost">
						<ul>
							<li>
								<div class="profile-image-s2">
									<img src="<?php echo $userPhoto?>" />
								</div>
								<div class="wallpost-plus-post editor">
									<a href="javascript:void(0);">
										<div class="icon"></div>
									</a>
								</div>
							</li>
							<li class="wallpost-post">
								<a href="javascript:void(0);" data-target="btn-wallpost-new" data-action="click">
									<div class="fa fa-pencil"></div>
									<span>動態</span>
								</a>
								<div class="right-line first-line"></div>
							</li>
							<li class="lottery-post">
								<a href="javascript:void(0);"  data-target="btn-lottery-new" data-action="click">
									<div class="icon"></div>
									<span>辦抽獎</span>
								</a>
								<div class="right-line"></div>
							</li>
							<li class="spread-post">
								<a href="javascript:void(0);" data-target="btn-spread-new" data-action="click">
									<div class="icon"></div>
									<span>揪團</span>
								</a>
								<div class="right-line"></div>
							</li>
							<li class="pulling-post">
								<a href="javascript:void(0);" data-target="btn-pulling-new" data-action="click">
									<div class="icon"></div>
									<span>推廣活動</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<?php } ?>
				
				<div class="wallposts">
					<div class="wallposts_after"  style="display:none" data-wtype="<?php echo $wall_type;?>" data-winterests="<?php echo $wall_interests;?>">new posts</div>
					<?php for($i=0;$i<$wallposts['args']['num'];$i++){
								 echo CZ::model('wallposts')->wallpost_get_layout($wallposts['d'][$i]);
								} ?>
					<div class="wallposts_before" style="display:none" data-wtype="<?php echo $wall_type;?>" data-winterests="<?php echo $wall_interests;?>">舊文章</div>
				</div>
		</div>

			<div class="page-info right-side hidden-xs">
				<?php if( $xuser['uparameter']['uparameterNumFriends'] > 0 ){ ?>
				<div class="page-extra box">
					<div class="box-header friend-list">
						<div class="title">好友 <span><?php num($xuser['uparameter']['uparameterNumFriends']); ?></span></div>
					</div>
					<div class="box-content">
						<div class="row-fluid">
							<?php for($i=0;$i<$friends['args']['num'];$i++){ ?>
							<div>
								<a href="/user/mywalls/<?php echo $friends['d'][$i]['userUid']; ?>"><img src="/user_profiles/profile_<?php echo $friends['d'][$i]['userUid']; ?>_s.png" /></a>
							</div>
							<?php } ?>
						</div>
					</div>
				</div>
				<?php } ?>
				
				<div class="interest-people box <?php if( $xuser['uparameter']['uparameterNumFriends'] > 0 ) echo 'box-margin-top'; ?>">
                    <!-- 你可能感興趣的人 -->
                    <?php CZ::grid('index','interestpeople',$people); ?>

                <?php //echo ($people['args']['num']) ? '<div class="divider"></div>' : '' ?>

		            <!-- 你可能有興趣的好康-->
		            <div class="interest-goods mygoods">
	                    <div class="head">
	                        你可能有興趣的好康
	                        <span class="pull-right"><a href="/index/goods">更多</a></span>
	                    </div>

	                    <div class="goods-list co12-12 row-fluid">
	                        <?php
	                            if(  $goods['args']['num'] == 0 )
	                                echo '<div class="find-empty">查無相符資料</div>';

	                            for($i=0;$i<$goods['args']['num'];$i++){
	                        ?>
	                        <div class="co12-4">
	                            <?php echo '<a href="/index/goodsdetail?gid='.$goods['d'][$i]['goodsUid'].'"><img src="'.CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUidMaster'],'_dl').'" /></a>'; ?>
	                        </div>
	                        <?php } ?>
	                    </div>
	                </div>
	            </div>

			</div>
		</div>
	</div>
