<?php
    $defaultPhoto_m='/css/img/default_profile_pic_m.png';
    $defaultPhoto_s='/css/img/default_profile_pic_s.png';    

    if( !empty($xuser['basic']['userProfile']) )
        $userPhoto=CZ::model('images')->imagePath_getter($xuser['basic']['userProfile'],'_m') ;
    else
        $userPhoto=$defaultPhoto_m;

?>

	<script type="text/javascript">
	$(document).ready(function(){
		$.blockUI({
			message: $("#cover-window")
		});

		$(document).on("click", function(){
			location.href = "/user/mywalls";
		});
	});
	</script>

	<div id="cover-window">
		<span style="display:inline-block; border: 2px solid gray; background: #fff; padding: 10px 20px; border-radius: 10px; font-size: 1.2857em; font-weight: bold;">恭喜您~已完成註冊，歡迎您加入參一腳! 
		</span>
	</div>

	<div class="row-fluid page-side co12-12 page-margin-top">
		<!-- 左側 -->
		<div class="left-sidebar hidden-xs">
			<div class="box">
				<div id="user_pro_point" class="tab-group">
					<div class="tab <?php $user_uid = form('p', 'string', 'get'); echo (!$user_uid == "" && strcmp($user_uid, ME::user_uid())) ? "gs12-12":"gs12-6"; ?> selected">Pro等級</div>
					<?php 
						if( $user_uid == "" || strcmp($user_uid, ME::user_uid())){
					?>
					<div class="tab gs12-6">點數</div>
					<?php } ?>
				</div>
				<div class="tab-content">
				<?php for($i=0;$i<3;$i++){ ?>
					<div class="interest-item co12-12">
						<div class="icon co12-3 co12-md-3 co12-sm-3">
							<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
						</div>
						<div class="label co12-6 co12-md-8 co12-sm-8">
							<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
							<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userGrade']); ?></div>
						</div>
						<div class="index-figure co12-3 co12-md-1 co12-sm-1">
							<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
						</div>
					</div>
				<?php } ?>
					<div class="interest-item-more hidden">
					<?php for($i=3;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
						<div class="interest-item">
							<div class="icon co12-2 co12-sm-3">
								<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
							</div>
							<div class="label co12-6 co12-sm-7">
								<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
								<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userGrade']); ?></div>
							</div>
							<div class="index-figure co12-4 co12-sm-2">
								<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
							</div>
						</div>
					<?php } ?>
					</div>
					<div class="interest-item-more-button">
						<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">看詳細興趣</a>	
					</div>
					<div class="interest-item-less-button hidden">
						<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">只顯示三個興趣</a>	
					</div>
				</div>
				<div class="tab-content display-user-points user-interests-left" style="display: none;">
					<div class="box">
						<div class="row-fluid">
			                <div class="co12-4"><span class="fa fa-dollar"></span></div>
			                <div class="co12-8 text-right">可兌換點數
			                    <span class="user-points"><?php echo number_format($xuser['basic']['userPoint']) ?></span>
			                </div>
			            </div>

<?php if( date("m") >6){ ?>
			            <div class="row-fluid expire">
			                <div class="co12-4"><span class="fa fa-dollar gray"></span></div>
			                <div class="co12-8 text-right"><?php echo date("Y").'-12-31'?>到期
			                    <span class="total-point"><?php echo number_format(CZ::model('users')->expirePointTotal($xuser['uid']) ) ?></span>
			                </div>
			            </div>
<?php } ?>


			            <div class="row-fluid border-top">
			                <div class="text-center"><a href="/user/points">看點數紀錄</a></div>
			            </div>
			        </div>

				</div>
			</div>

			<div class="user-activity box box-margin-top">
				<div class="row-fluid">
					<div class="co12-12">發表紀錄</div>
				</div>
				<div class="row-fluid">
					<div class="co12-6">動態</div>
					<div class="co12-6 text-right"><?php num($xuser['uparameter']['uparameterNumPosts']); ?></div>
				</div>
				<div class="row-fluid">
					<div class="co12-6">活動</div>
					<div class="co12-6 text-right"><?php num($xuser['uparameter']['uparameterNumEvents']); ?></div>
				</div>
			</div>
		</div>
		<!-- ./左側 -->

		<!-- 中間 -->
		<div class="content-wrapper co12-xs-12 mywall-page">
			<div class="page-wallposts middle-container co12-xs-12">
				<?php 
					if( $user_uid == "" || !strcmp($user_uid, ME::user_uid())){
				?>
				<div class="box">
					<div class="leave-wallpost">
						<ul>
							<li>
								<div class="profile-image-s2">
									<img src="<?php echo $userPhoto?>" />
								</div>
								<div class="wallpost-plus-post editor">
									<a href="#">
										<div class="icon"></div>
									</a>
								</div>
							</li>
							<li class="wallpost-post">
								<a href="#" data-target="btn-wallpost-new" data-action="click">
									<div class="fa fa-pencil"></div>
									<span>動態</span>
								</a>
								<div class="right-line first-line"></div>
							</li>
							<li class="lottery-post">
								<a href="#"  data-target="btn-lottery-new" data-action="click">
									<div class="icon"></div>
									<span>辦抽獎</span>
								</a>
								<div class="right-line"></div>
							</li>
							<li class="spread-post">
								<a href="#" data-target="btn-spread-new" data-action="click">
									<div class="icon"></div>
									<span>揪團</span>
								</a>
								<div class="right-line"></div>
							</li>
							<li class="pulling-post">
								<a href="#" data-target="btn-pulling-new" data-action="click">
									<div class="icon"></div>
									<span>推廣活動</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<?php } ?>
				
				<div class="wallposts">
					<div class="wallposts_after"  style="display:none">new posts</div>
					<?php for($i=0;$i<$wallposts['args']['num'];$i++){ ?>
						<div class="box row-fluid box-margin-top wbox" data-uid="<?php value($wallposts['d'][$i]['userUid']); ?>" data-wuid="<?php value($wallposts['d'][$i]['wallpostUid']); ?>"  data-wtime="<?php $dt = new DateTime($wallposts['d'][$i]['wallpostTimeCreate']); echo $dt->format('Y-m-d H:i:s'); ?>">
							<div class="box-head">
								<img src="<?php echo $userPhoto?>" />
								<div class="info">
									<div class="top">
										<a href="/user/mywalls/<?php echo $wallposts['d'][$i]['userUid']; ?>"><?php HTML($wallposts['d'][$i]['userRealname']); ?></a>
									</div>
									<div class="down"><span class="datetime"><?php $dt = new DateTime($wallposts['d'][$i]['wallpostTimeCreate']); echo $dt->format('Y-m-d'); ?></span><span class="place">法國巴黎</span></div>
								</div>
								<span class="fa fa-chevron-down pull-right ul-sw" onclick="ul_sw(this);"></span>
								<div class="ul-bordered" style="display: none;">
									<ul class="nostyle collect-report">
										<li><a href="">收藏</a></li>
										<li><a href="">檢舉</a></li>
									</ul>
								</div>
							</div>

							<div class="box-img">
								<img src="/wallpost_images/post_<?php echo $wallposts['d'][$i]['wallpostUid']; ?>.png" />
								<div class="interest-item">
									<?php foreach((explode(',',$wallposts['d'][$i]['wallpostInterests'])) as $wallpostInterests){?>
									<?php if($wallpostInterests!='0' && $wallpostInterests!=''){?>
									<div class="icon"><span class="item icon-i27 icon-<?php echo $wallpostInterests;?>"></span></div>
									<?php }?>
									<?php }?>
								</div>
							</div>

							<div class="box-body">
								<h4><?php echo $wallposts['d'][$i]['wallpostTopic']; ?></h4>
								<article>
									<?php echo $wallposts['d'][$i]['wallpostBrief']; ?>
								</article>
							</div>
							<div class="box-foot">
								<div class="info">
									<div class="co12-3 text-center">喜歡 <span><?php numeric($wallposts['d'][$i]['wallpostNumLikes']); ?></span>個</div>
									<div class="co12-3 text-center">不喜歡 <span><?php numeric($wallposts['d'][$i]['wallpostNumDislikes']); ?></span>個</div>
									<div class="co12-3 text-center">留言 <span><?php numeric($wallposts['d'][$i]['wallpostNumComments']); ?></span>則</div>
									<div class="co12-3 text-center">分享 <span><?php numeric($wallposts['d'][$i]['wallpostNumShares']); ?></span>次</div>
								</div>
								<div class="action-buttons">
									<div class="co12-3"><span class="like-this <?php echo !empty($wallposts['d'][$i]['uwallpost_track']['like']) ? "did" : "";?>"></span></div>
									<div class="co12-3"><span class="dislike-this <?php echo !empty($wallposts['d'][$i]['uwallpost_track']['dislike']) ? "did" : "";?>"></span></div>
									<div class="co12-3"><span class="comment-this <?php echo !empty($wallposts['d'][$i]['uwallpost_track']['comment']) ? "did" : "";?>"></span></div>
									<div class="co12-3"><span class="fa fa-share-alt <?php echo !empty($wallposts['d'][$i]['uwallpost_track']['share']) ? "did" : "";?>" onclick="share_sw(this);"></span></div>
									<div class="share-bordered" style="display: none;">
										<ul class="nostyle fb-wallpost">
											<li><a href="">分享至興趣牆</a></li>
											<li><a href="">分享至臉書</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>	
					<?php } ?>
					<div class="wallposts_before">old posts</div>
				</div>
		</div>

			<div class="page-info right-side hidden-xs">
				<div class="page-extra box">
					<div class="box-header friend-list">
						<div class="title">好友 <span><?php num($xuser['uparameter']['uparameterNumFriends']); ?></span></div>
					</div>
					<div class="box-content">
						<div class="row-fluid">
				<?php for($i=0;$i<$friends['args']['num'];$i++){ ?>
							<div>
								<a href="/user/mywalls/<?php echo $friends['d'][$i]['userUid']; ?>"><img src="/user_profiles/profile_<?php echo $friends['d'][$i]['userUid']; ?>_s.png" /></a>
							</div>
				<?php } ?>
						</div>
					</div>
				</div>
				
				<div class="interest-people box box-margin-top">
                    <div class="head">
                        與你興趣相似的人
                        <span class="pull-right"><a href="/user/socially?status=interest">更多</a></span>
                    </div>

										<?php  if($people['args']['num']==0){ ?>
												<div class="find-empty">查無相符資料</div>
										<?php }
											else{
												foreach($people['d'] as $inx => $people_data){?>
												<div class="people-list">
                                        <?php
                                                if( !empty($people['d'][$i]['userProfile']) )
                                                    $peoplePhoto=CZ::model('images')->imagePath_getter($people['d'][$i]['userProfile'],'_m') ;
                                                else
                                                    $peoplePhoto=$defaultPhoto_s;
                                        ?>
													<img class="who" src="<?php echo $peoplePhoto?>">
													<img class="temperature" src="/css/img/T_h.png" />
													<div class="level">
														<div class="top"><?php echo $people_data['userRealname']?></div>
														<div class="down"><?php echo $people_data['pro_level']['title']?></div>
													</div>
													<div class="traceBtn pull-right">
														<?php if($people_data['relation_status']['now']=='interest'){?>
															<div class="countmin_relation" data-uid="<?php echo $people_data['userUid'];?>">
																<div class="r-btn" data-action="follow"><i class="fa" ></i>追蹤</div>
															</div>
														<?php }?>
														<?php if($people_data['relation_status']['now']=='follow'){?>
															<div class="countmin_relation" data-uid="<?php echo $people_data['userUid'];?>">
																<div class="r-btn" data-action="not_follow"><i class="fa" ></i>取消追蹤</div>
															</div>
														<?php }?>
														<?php if($people_data['relation_status']['now']=='inviting'){?>
															<div class="countmin_relation" data-uid="<?php echo $people_data['userUid'];?>">
																<div class="r-btn" data-action="not_inviting"><i class="fa" ></i>取消邀請</div>
															</div>
														<?php }?>
														<?php if($people_data['relation_status']['now']=='friend'){?>
															<div class="countmin_relation" data-uid="<?php echo $people_data['userUid'];?>">
																<div class="r-btn" data-action="not_friend" data-confirm="1"><i class="fa" ></i>取消好友</div>
															</div>
														<?php }?>
													</div>
												</div>
										<?php }}?>

                    <div class="divider"></div>

                     <div class="interest-goods mygoods">
	                    <div class="head">
	                        最新好康
	                        <span class="pull-right"><a href="/index/goods">更多</a></span>
	                    </div>

	                    <div class="goods-list-one">
							<div class="goods-img">
	                    		<a href="#"><img src="/css/img/trip.jpg" /></a>
	                    	</div>
	                    	<div class="goods-description">
	                    		涮八方—紫銅鍋蒙古烤肉＋酸菜白肉郭雙人．．．

	                    		<div class="count-info">剩餘數量：<span class="count">3</span></div>
	                    	</div>
	                    </div>
	                </div>
                </div>
			</div>
		</div>
	</div>
	<script>my_wallposts_renew_counter();</script>
