<script>
$("#notification").addClass("selected");
</script>

<div class="row-fluid notification-page">
	<div class="head">
		<h4>你的通知<span class="pull-right"><a href="/setting/notify">通知設定</a></span></h4>
	</div>
	<div class="body">
<!--  -->
<?php 
        for($i=0;$i<$notify['args']['num'];$i++){ 
            if(array_key_exists('unotificationTarget',$notify['d'][$i]) && !empty($notify['d'][$i]['unotificationTarget'])){  
                echo '<a href="'.$notify['d'][$i]['unotificationTarget'].'">';
            }

?>
		<div class="msg">
<?php if( array_key_exists('userProfile',$notify['d'][$i]) && !empty($notify['d'][$i]['userProfile'])){ 
?>
			<div class="img-cover">
				<img src="<?php echo CZ::model('images')->imagePath_getter($notify['d'][$i]['userProfile'],'_s') ?>">
			</div>
<?php } ?>
<?php $msg=json_decode($notify['d'][$i]['unotificationData'],true); 
			if(!empty($msg)){
				foreach($msg as $inx => $text){
					$msg[$inx]=html($text,false);
				}
			}
?>

			<div class="msg-content">
				<div class="msg-content-top">
<?php if( array_key_exists('userRealname',$notify['d'][$i]) && !empty($notify['d'][$i]['userRealname'])){ 
?>

					<span class="msg-who">
                        <?php echo $notify['d'][$i]['userRealname'] ?>
                    </span>
<?php } ?>
                    <span class="msg-txt">
                        <?php _tl($notify['d'][$i]['noticeId'],$msg,'text') ?>
                    </span>
				</div>
<?php
        $now = date("Y-m-d H:i:s");
        $timeDiff = ceil(( strtotime($notify['d'][$i]['unotificationTime']) - strtotime($now) ) / 3600)  ;

        $timeMsg = '剛剛' ;    

        if($timeDiff >= 4320 )
            $timeMsg = '3天前';
        elseif( $timeDiff >= 2880 )
            $timeMsg = '2天前';
        elseif( $timeDiff >= 1440 )
            $timeMsg = '1天前';
        elseif( $timeDiff >= 720 )
            $timeMsg = '12小時前' ;
        elseif( $timeDiff >= 360 )
            $timeMsg = '6小時前' ;
        elseif( $timeDiff >= 180 )
            $timeMsg = '3小時前' ;
        elseif( $timeDiff >= 60 )
            $timeMsg = '1小時前' ;
        elseif( $timeDiff >= 10 )
            $timeMsg = $timeDiff.'分鐘前' ;
        elseif( $timeDiff < 10 )
            $timeMsg = '剛剛' ;
?>
				<div class="msg-content-down">
					<span class="msg-event"><i class="fa fa-share-alt"></i></span><span class="msg-duration"><?php echo $timeMsg ?></span>
				</div>
			</div>
		</div>
<!-- -->

<?php 
        if(array_key_exists('unotificationTarget',$notify['d'][$i]) && !empty($notify['d'][$i]['unotificationTarget'])){  
                echo '</a>';           
            }

        } 
?>

			</div>
	</div>
</div>
