<?php
    $goodsType = ( $order['goodsType'] == 0 ) ? '郵寄商品' : '電子票劵' ;

    if($order['goodsDateLimitClose']='2100-01-01')
        $goodsDateLimitClose= '無期限';
    else
        $goodsDateLimitClose= $order['goodsDateLimitClose'] ;

    switch($order['goodsorderStatus']){
        case 0:
            $orderStatus='處理中';
            break;
        case 1:
            $orderStatus='客服人員已確認';
            break;
        case 2:
            $orderStatus='已出貨';
            break;
        case 3:
            $orderStatus='使用者已收貨';
            break;
        case 9:
            $orderStatus='已完成';
            break;
        case 10:
            $orderStatus='取消兌換';
            break;
        default:
            $orderStatus='處理中';
    }

    switch($order['goodsLogistics']){
        case 0:
            $logistics='郵局';
            break;
        case 1:
            $logistics='黑貓宅急便';
            break;
        case 2:
            $logistics='宅配通';
            break;
        case 3:    
            $logistics='新竹物流';
            break;
        case 4:
            $logistics=$order['goodsOtherLogistics'];
            break;
    }


?>



<script type="text/javascript">
	$("#page-header .mywall").addClass("selected");
</script>

	<div class="content-wrapper">
		<div class="box box-margin-top">


			<div class="box-title"><strong><?php echo $order['goodsName']?><div class="pull-right">訂單編號：<span class="order-num"><?php echo $order['goodsorderId']?></span></div></div>
			<div class="body points">
<?php if( $order['goodsType'] == 1 ){ ?>
				<div class="step"><i class="fa fa-square"></i> <strong>出貨資訊</strong></div>


				<div class="step page-padding-bottom">
					<table>
						<tr>
							<th>訂單狀態</th>
							<td class="text-center"><?php echo '已出貨' ?></td>
							<th>出貨日期</th>
							<td class="text-center">
                                <?php echo substr($order['goodsorderTime'],0,10) ?>

                            </td>
						</tr>
					</table>
				</div>

				<div class="step"><i class="fa fa-square"></i> <strong>訂單明細</strong></div>

				<div class="step page-padding-bottom">
					<table>
						<tr>
							<th>訂購日期</th>
							<th>品牌名稱</th>
							<th class="text-left">好康名稱</th>
							<th>好康形式</th>
							<th>有效日期</th>
							<th>點數</th>
							<th>小計</th>
						</tr>
						<tr>
							<td><?php echo substr($order['goodsorderTime'],0,10)?>
                                <br />
                                <?php echo substr($order['goodsorderTime'],11,5)?>
                            </td>
							<td class="text-center"><?php echo $brands['d'][0]['brandName']?></td>
							<td><?php echo $order['goodsName']?></td>
							<td class="text-center"><?php echo $goodsType ?></td>
							<td class="text-center"><?php echo $goodsDateLimitClose?></td>
							<td class="text-center red-txt"><?php echo $order['goodsPricePoint']?></td>
							<td class="text-center red-txt"><?php echo $order['goodsPricePoint']?></td>
						</tr>
					</table>
				</div>

				<div class="step"><i class="fa fa-square"></i> <strong>票卷資訊</strong></div>

				<div class="step bordered">
					<div class="step-container">
						<div class="img-cover">
							<img src="<?php echo CZ::model('images')->imagePath_getter($order['imageUidMaster'],'_dd') ?>">
						</div>

						<div class="product-details">
							<div class="product-title">
								<span class="product-brand"><?php echo $brands['d'][0]['brandName']?></span>
								<span class="product-ticket"><?php echo $order['goodsName']?></span>

								<div class="product-no-info">
									<div class="product-no">序號 <span><?php echo $order['goodsorderId']?></span></div>
									<div class="product-effect">有效日期 
										<div>即日期 - <?php echo $goodsDateLimitClose ?><span></span></div>
									</div>
								</div>
							</div>

							<div class="product-description">
								商品說明：<br />
                                <?php echo mb_strimwidth(strip_tags($order['goodsIntro']),0,128,"...","UTF-8")?>
								<br />
								<br />
								注意事項：<br />
                                <?php echo mb_strimwidth(strip_tags($order['goodsNote']),0,128,"...","UTF-8")?>
							</div>
						</div>
					</div>
				</div>
<?php }  ?>
<?php if( $order['goodsType'] == 0 ){ ?>

				<div class="step"><i class="fa fa-square"></i> <strong>出貨資訊</strong></div>
				<div class="step page-padding-bottom">
					<table>
						<tr>
							<th>訂單狀態</th>
							<th>出貨日期</th>
							<th>物流廠商</th>
							<th>物流編號</th>
							<th>備註</th>
						</tr>
						<tr>
							<td class="text-center"><?php echo $orderStatus ?></td>
							<td class="text-center"><?php echo substr($order['goodsorderTimeDelivery'],0,10)?></td>
							<td class="text-center"><?php echo $logistics ?></td>
							<td class="text-center"><?php echo $order['goodsLogisticsId']?></td>
							<td class="text-center"><?php echo $order['goodsorderNote']?></td>
						</tr>
					</table>
				</div>

				<div class="step"><i class="fa fa-square"></i> <strong>訂單明細</strong></div>

				<div class="step page-padding-bottom">
					<table>
						<tr>
							<th>訂購日期</th>
							<th>品牌名稱</th>
							<th class="text-left">好康名稱</th>
							<th>好康形式</th>
							<th>有效日期</th>
							<th>點數</th>
							<th>小計</th>
						</tr>
						<tr>
							<td>
                                <?php echo substr($order['goodsorderTime'],0,10)?>      
                                <br />
                                <?php echo substr($order['goodsorderTime'],11,5)?>							        </td>
                            <td class="text-center"><?php echo $brands['d'][0]['brandName']?></td>
							<td><?php echo $order['goodsName']?></td>
							<td class="text-center"><?php echo $goodsType ?></td>
							<td class="text-center">
                                <?php echo $goodsDateLimitClose ?>
                            </td>
							<td class="text-center red-txt"><?php echo $order['goodsPricePoint']?></td>
							<td class="text-center red-txt"><?php echo $order['goodsPricePoint']?></td>
						</tr>
					</table>
				</div>

				<div class="step"><i class="fa fa-square"></i> <strong>收件人資訊</strong></div>

				<div class="step page-padding-bottom">
					<table>
						<tr>
							<th>收件人</th>
							<th>收件電話</th>
							<th>收件地址</th>
						</tr>
						<tr>
							<td class="text-center"><?php echo $order['goodsorderReciverName']?></td>
							<td>電話：<?php echo $order['goodsorderReciverTel']?><br/>手機：<?php //$order['']?></td>
							<td>
                                <?php echo $order['goodsorderReciverZip'].$order['goodsorderReciverCity'].$order['goodsorderReciverDist'].$order['goodsorderReciverAddress']?>

                            </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


<?php }   ?>
