<script type="text/javascript">
	$("#page-header .mywall").addClass("selected");

	/* Radio click */
	$('body').on('click', 'input + .radio', function(){
        
		if( !$(this).parent(".form-group").children("input[type=radio]").attr("checked") ){
			$(this).parent(".form-group").children("input[type=radio]").attr("checked", true);
		}
        $("#order").submit();
	});

    function ordersubmit(){
        $("#order").submit();

    }
    
</script>

	<div class="content-wrapper">
		<div class="box box-margin-top">
			<div class="box-title">訂單紀錄</div>
			<div class="body">
				<div id="order-record" class="conditions">
                    <form name="order" id="order" action="" method="get">
					<select name="period" id="period" onchange="ordersubmit();">
                        <option value=7 <?php echo ($period==7) ?'selected':''?>>最近一週內</option>						
                        <option value=30 <?php echo ($period==30) ?'selected':''?>>最近一個月內</option>
                        <option value=90 <?php echo ($period==90) ?'selected':''?>>最近三個月內</option>
                        <option value=180 <?php echo ($period==180) ?'selected':''?>>最近半年內</option>
                        <option value=365 <?php echo ($period==365) ?'selected':''?>>最近一年內</option>
					</select>
					<div class="form-group">
                        <input type="radio" name="goodssend" value=3 <?php echo ($goodsType==3 || $goodsType==0) ?'checked':''?>>
                        <span class="radio"></span>全部
                    </div>
					<div class="form-group">
                        <input type="radio" name="goodssend" value=1 <?php echo ($goodsType==1) ?'checked':''?>>
                        <span class="radio"></span>郵寄商品
                    </div>
					<div class="form-group">
                        <input type="radio" name="goodssend" value=2 <?php echo ($goodsType==2) ?'checked':''?>>
                        <span class="radio"></span>電子票卷（優惠序號）
                    </div>
                    </form>
				</div>

				<div class="tbl-th co12-12">
					<div class="co12-2">訂購日期</div>
					<div class="co12-2">訂單編號</div>
					<div class="co12-4">好康名稱</div>
					<div class="co12-2">好康形式</div>
					<div class="co12-2">訂單狀態</div>
				</div>

				<?php 
                    for($i=0;$i<$order['args']['num'];$i++){ 
                        switch($order['d'][$i]['goodsorderStatus']){
                            case 0:
                                $orderStatus='處理中';
                                break;
                            case 1:
                                $orderStatus='客服人員已確認';
                                break;              
                            case 2:  
                                $orderStatus='已出貨';
                                break;
                            case 3:            
                                $orderStatus='使用者已收貨';
                                break;
                            case 9:  
                                $orderStatus='已完成';
                                break;
                            case 10:    
                                $orderStatus='取消兌換';
                                break;
                            default:
                                $orderStatus='處理中';
                        }
                ?>
				<div class="tbl-td co12-12 order">
					<div class="co12-2"><?php $dt = new DateTime($order['d'][$i]['goodsorderTime']); echo $dt->format('Y-m-d'); ?></div>
					<div class="co12-2"><a href="/user/orderdetail/?oid=<?php echo $order['d'][$i]['goodsorderId'] ?>"><?php echo $order['d'][$i]['goodsorderId'] ?></a></div>
					<div class="co12-4 row-fluid">
						<div class="product-img pull-left"><img src="<?php echo CZ::model('images')->imagePath_getter($order['d'][$i]['imageUidMaster']) ?>" width="50" height="50" /></div>
						<div class="product-details"><span class="product_name"><?php echo mb_strimwidth($order['d'][$i]['goodsName'], 0, 24, "...", "UTF-8") ?></span>點數：<span class="red-txt"><?php echo number_format($order['d'][$i]['goodsPricePoint']) ?></span>點</div>
					</div>
					<div class="co12-2">
                        <?php echo (!$order['d'][$i]['goodsType']) ? '郵寄商品' : '電子票劵'  ?>
                    </div>
					<div class="co12-2">
                    <?php 
                        if( $order['d'][$i]['goodsorderStatus'] == 2){
                            echo '
                                <span class="order-stat">'.
                                    $orderStatus.' 
                                </span>'.
                                substr($order['d'][$i]['goodsorderTimeDelivery'],0,10); 
                        }
                        else
                            echo $orderStatus ;
                        
                    ?>
                    </div>	
				</div>
				<?php } ?>

				<!--
				<div class="tbl-td co12-12 order">
					<div class="co12-2">2015-08-10</div>
					<div class="co12-2"><a href="#">201508101423</a></div>
					<div class="co12-4 row-fluid">
						<div class="product-img pull-left"><img src="/" width="50" height="50" /></div>
						<div class="product-details"><span class="product_name">香格里拉入園招待卷</span>點數：<span class="red-txt">4000</span>點</div>
					</div>
					<div class="co12-2">郵寄商品</div>
					<div class="co12-2"><span class="order-stat">已出貨</span>2015/8/13</div>	
				</div>
				-->
			</div>
		</div>
	</div>

