<script type="text/javascript">
	$("#page-header .mywall").addClass("selected");

	/* Radio click */
	$('body').on('click', 'input + .radio', function(){
		if( !$(this).parent(".form-group").children("input[type=radio]").attr("checked") ){
			$(this).parent(".form-group").children("input[type=radio]").attr("checked", true);
		}
        $("#point").submit();
	});

    function ordersubmit(){
        $("#point").submit();

    }

</script>

	<div class="content-wrapper">
		<div class="box box-margin-top">
			<div class="box-title">帳戶明細</div>
			<div class="body">
				<div class="conditions">
                <form name="point" id="point" action="" method="get">
                    <select name="period" id="period" onchange="ordersubmit();">
                        <option value=7 <?php echo ($period==7) ?'selected':''?>>最近一週內</option>
                        <option value=30 <?php echo ($period==30) ?'selected':''?>>最近一個月內</option>
                        <option value=90 <?php echo ($period==90) ?'selected':''?>>最近三個月內</option>
                        <option value=180 <?php echo ($period==180) ?'selected':''?>>最近半年內</option>
                        <option value=365 <?php echo ($period==365) ?'selected':''?>>最近一年內</option>
                    </select>

					<div class="form-group">
                        <input type="radio" value=1 name="pointsused" <?php echo ($pointsused==1 || $pointsused==0) ?'checked':''?>>
                            <span class="radio"></span>
                            獲得點數
                        </div>
					<div class="form-group">
                        <input type="radio" value=2 name="pointsused" <?php echo ($pointsused==2 ) ?'checked':''?>>
                            <span class="radio"></span>
                            使用點數
                    </div>

				    </div>
                </form>
				<div class="tbl-th co12-12">
					<div class="co12-2">日期</div>
					<div class="co12-1">點數</div>
					<div class="co12-7">來源說明</div>
                <?php if($pointsused ==2){ ?>
					<div class="co12-2">訂單編號</div>
                <?php } ?>
				</div>

<?php 
        $oid=''; 
        for($i=0;$i<$point['args']['num'];$i++){  
            $upointTime=substr($point['d'][$i]['upointlogTimeEarn'],0,10);
            switch($pointsused){
                case 1:
                    $userPointEarn='+'.number_format($point['d'][$i]['userPointEarn']);
                    //$title='您發表了：'.$point['d'][$i]['wallpostTopic'];
                    $title=$point['d'][$i]['upointlogNote'];

                    break; 
                case 2:
                    $userPointEarn='-'.number_format($point['d'][$i]['userPointPay']);
                    $title=$point['d'][$i]['upointlogNote'];

                    if($point['d'][$i]['upointTable']=='goodsorders' ) 
                        $oid=$point['d'][$i]['upointTableId'];    
                    else
                        $oid='';

                    break;
                default:
                    $userPointEarn=number_format($point['d'][$i]['userPointEarn']);
                    //$title='您發表了：'.$point['d'][$i]['wallpostTopic'];
                    $title=$point['d'][$i]['upointlogNote'];
            }

            //if( $point['d'][$i]['upointTable'] == 'invite' )
            //    $title = '註冊時輸入邀請碼獲得' ; 

?>                

				<div class="tbl-td co12-12">
					<div class="co12-2"><?php echo $upointTime  ?></div>
					<div class="co12-1"><?php echo $userPointEarn ?></div>
					<div class="co12-7"><?php echo mb_strimwidth( $title , 0, 60, "...", "UTF-8");  ?></div>
					<div class="co12-2">
                        <a href="/user/orderdetail/?oid=<?php echo $oid ?>">
                            <?php echo $oid ?>
                        </a>
                    </div>	
				</div>
<?php }  ?>


			</div>
		</div>
	</div>

