<script type="text/javascript">
$("#page-header .mywall").addClass("selected");

function del(wid){

    if(!confirm("經刪除後不得復原,是否確認刪除 ?"))
        return false;

    url='/user/wallposts_delete';

    obj = [{ name:'wid', value:wid }];
    //obj.push({name:'exe', value:exe });


    $.ajax({
        url : url,
        data : obj,
        type : "POST",
        dataType : "json",
        success: function(msg){
            location.reload();
        },
    });


}

function edit(wid,exe){
    $('html, body').scrollTop(0);
    wallpost_write(wid);
    
    switch(exe){
        case 'wallpost':
            $(".btn-wallpost-new").click(); 
            break;
        case 'lottery':
            $(".btn-lottery-new").click();
            break;
        case 'spread':
            $(".btn-spread-new").click();
            break;
        case 'pulling':
            $(".btn-pulling-new").click();
            break;

    }
}
</script>


<?php


    function showTitleDate($wallposts,$type){
       if($wallposts['args']['num'] == 0 )
            return date("Y").'年'.date("m").'月';
 
        switch($type){
            case 'year':        
                $year=substr($wallposts['d'][0]['wallpostTimeCreate'],0,4).'年';
                $mon=substr($wallposts['d'][0]['wallpostTimeCreate'],5,2);
                $mon = ($mon < 10) ? substr($mon,1,1).'月' : $mon.'月';
                echo $year.$mon;
                break;
            case 'mon':
                $mon=substr($wallposts['d'][0]['wallpostTimeCreate'],5,2) ;
                $day=substr($wallposts['d'][0]['wallpostTimeCreate'],8,2) ;
                $mon = ($mon < 10) ? substr($mon,1,1).'月' : $mon.'月';
                $day = ($day < 10) ? substr($day,1,1).'日' : $day.'日';
                echo $mon.$day;
                break;
        }
    }

    function showDateGroup( $date , $preDate ){
 
        //年月分組
        if( substr($date,0,7) != substr($preDate,0,7) ){
            $year=substr($date,0,4).'年';
            $mon=substr($date,5,2);
            $mon = ($mon < 10) ? substr($mon,1,1).'月' : $mon.'月';

            echo '<div class="head">
                    <span>'.$year.$mon.' </span>
                </div>';
        }
        

        //月日分組
        if( substr($date,5,6) != substr($preDate,5,6) ){
            $mon=substr($date,5,2) ;
            $day=substr($date,8,2) ;
   
            $mon = ($mon < 10) ? substr($mon,1,1).'月' : $mon.'月';
            $day = ($day < 10) ? substr($day,1,1).'日' : $day.'日';
 
            echo '<div class="head">
                    <span>'.$mon.$day.' </span>
                </div>';
        }

    }


    switch($wallpostType){
        case 0:
            $yearTitle = '全部發表';
            break;
        case 1:
            $yearTitle = '動態';
            break;
        case 2:
            $yearTitle = '活動';
            break;
        case 3:
            $yearTitle = '草稿';
            break;
        default:
            $yearTitle = '';
    }



?>

<div class="content-wrapper co12-xs-12 page-margin-top post-record-page">
	<div class="middle-container co12-xs-12">
		<div class="box">
			<div class="head">
				<span><?php showTitleDate($wallposts,'year') ?> <?php echo $yearTitle ?></span>
			</div>
            <div class="head">
                <span><?php showTitleDate($wallposts,'mon') ?> </span>
            </div>

			<div class="body">
				 <div class="activity-date"></div>
				<ul class="nostyle">
    <?php 
        $today = date("Y-m-d H:i:s") ;

        for($i=0;$i<$wallposts['args']['num'];$i++){ 
            $dueDate='';
            $titleClass='';
            $do=''; 

            switch( $wallposts['d'][$i]['wallpostType'] ){
                case 0:
                case 1:
                    $exe='wallpost';
                    $icon='edit pull-left height-all'; 
                    $titleClass = 'class="height-all"';
                    $do = '<span class="action-btn btn-green" onclick="edit( \''.$wallposts['d'][$i]['wallpostUid'].' \',\''.$exe.'\'  )">編輯</span>

                       <span class="action-btn btn-white" onclick="del( \''.$wallposts['d'][$i]['wallpostUid'].'  \')">刪除</span>';
                    break;
                case 3:
                    $exe='pulling';
                    $icon='calendar pull-left';
                    
                    $dueDate='<span class="red-txt">活動截止 '.substr($wallposts['d'][$i]['extend']['missionTimeLottery'],0,10) .'</span>';

                    if(  strtotime( $wallposts['d'][$i]['extend']['missionTimeLottery']) >  strtotime($today) )
                        $do ='<span class="action-btn btn-red">活動進行中</span>';
                    else
                        $do = '<span class="action-btn btn-gray">活動結束</span>';        
                    
                    break;
                case 2:
                    $exe='lottery';
                    $icon='calendar pull-left'; 
                    $dueDate='<span class="red-txt">抽獎日期 '.substr($wallposts['d'][$i]['extend']['missionTimeLottery'],0,10) .'</span>';

                    if(  strtotime( $wallposts['d'][$i]['extend']['missionTimeLottery']) >  strtotime($today) )
                        $do ='<span class="action-btn btn-red">等待抽獎</span>';
                    else
                        $do = '<div class="wjoin_box" data-wuid="'.$wallposts['d'][$i]['wallpostUid'].'"><span class="action-btn btn-red wfinish">進行抽獎</span>';   
                    break;       
                case 4:
                    $exe='spread';
                    $icon='calendar pull-left'; 
                    $dueDate='<span class="red-txt">活動截止 '.substr($wallposts['d'][$i]['extend']['eventTimeEnd'],0,10) .'</span>';

                    if(  strtotime( $wallposts['d'][$i]['extend']['eventTimeEnd']) >  strtotime($today) )
                        $do ='<span class="action-btn btn-red">活動進行中</span>';
                    else
                        $do = '<span class="action-btn btn-gray">活動結束</span>';        
                    break; 
                                
            }
                       
            if( $wallpostType == 3 ){
                $icon='file-text';
                $do = '<span class="action-btn btn-green" onclick="edit( \''.$wallposts['d'][$i]['wallpostUid'].' \',\''.$exe.'\'  )">編輯</span>

                       <span class="action-btn btn-white" onclick="del( \''.$wallposts['d'][$i]['wallpostUid'].'  \')">刪除</span>';


            }

            //全部發表 草稿的情況
            if( $wallposts['d'][$i]['wallpostTemp'] == 1 ){
                $icon='file-text';
                $do = '<span class="action-btn btn-green" onclick="edit( \''.$wallposts['d'][$i]['wallpostUid'].' \',\''.$exe.'\'  )">編輯</span>

                       <span class="action-btn btn-white" onclick="del( \''.$wallposts['d'][$i]['wallpostUid'].'  \')">刪除</span>';

            }

            if( $i > 0)        
                showDateGroup($wallposts['d'][$i]['wallpostTimeCreate'],$wallposts['d'][$i-1]['wallpostTimeCreate']); 
    ?>
					<li>
						<div class="post-content">
                            <i class="fa fa-<?php echo $icon ?>"></i>
							<div class="post-title">
                                    <span <?php echo $titleClass ?> >
                                        <?php echo $wallposts['d'][$i]['wallpostTopic']  ?>
                                    <span>
                                        <?php 
                                            if( $wallposts['d'][$i]['wallpostTemp'] != 1 )
                                                echo $dueDate;
                                        ?>
								<span class="red-txt"> </span> 
							</div>
							<div class="post-actions pull-right">
                                <i class="fa fa-globe"></i><i class="fa fa-caret-down"></i>
                                <?php echo $do ?>
							</div>
						</div>
					</li>
                    <?php } ?>
				</ul>
			</div>
		</div>
	</div>


    <!-- 你可能感興趣的人, 熱門動態 -->
        <div class="page-info right-side hidden-xs">
        <!-- <div class="explore-condition"> -->
            <?php CZ::grid('index','interestpeople',$users); ?>

            <?php  
                if( is_array($hotWrite) && array_key_exists('wallpostUid',$hotWrite))
                    CZ::grid('index','hotwrite',$hotWrite); 
            ?>
        </div>
