<script type="text/javascript">
	$("#page-header .mywall").addClass("selected");
</script>

<div class="content-wrapper co12-xs-12">
	<div class="box box-prolevel row-fluid">
		<div class="box-title">興趣Pro等級</div>

		<div class="row-fluid box-body">
		<?php for($i=0;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
				<div class="interest-item co12-3 co12-xs-6">
					<div class="interest-item-group">
						<div class="icon pull-left selected"> <!-- 變色要加 ㄡ.selected -->
							<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
						</div>
						<div class="label pull-right">
							<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
							<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
						</div>
					</div>
				</div>
		<?php } ?>
		</div>
	</div>
</div>

