<div class="wrapper-content co12-12">
	<div class="left-sidebar hidden-xs">
		<div class="box box-margin-top">
	        <div class="head">
	            <i class="fa fa-group"></i> 社交
	        </div>
	        <div class="body">
	            <ul class="nostyle">
	                <li class="<?php echo ($status=='friend') ? 'selected' : '';?>"><a href="?status=friend"><span>好友</span><span class="pull-right"><?php echo num($xuser['uparameter']['uparameterNumFriends']);?></span></a></li>
		              <li class="<?php echo ($status=='follow') ? 'selected' : '';?>"><a href="?status=follow"><span>同好</span><span class="pull-right"><?php echo num($xuser['uparameter']['uparameterNumFollows']);?></span></a></li>
	                <li class="<?php echo ($status=='follower') ? 'selected' : '';?>"><a href="?status=follower"><span>追蹤者</span><span class="pull-right"><?php echo num($xuser['uparameter']['uparameterNumFollowers']);?></span></a></li>
	                <li class="<?php echo ($status=='inviting') ? 'selected' : '';?>"><a href="?status=inviting"><span>邀請中</span><span class="pull-right"><?php echo num($xuser['uparameter']['uparameterNumAskFriends']);?></span></a></li>
	                <li class="<?php echo ($status=='response') ? 'selected' : '';?>"><a href="?status=response"><span>回覆邀請</span><span class="pull-right"><?php echo num($xuser['uparameter']['uparameterNumNeedFriends']);?></span></a></li>
	                <li class="<?php echo ($status=='interest') ? 'selected' : '';?>"><a href="?status=interest"><span>興趣建議</span></a></li>
	            </ul>
	        </div>
	    </div>
	</div>

	<div class="content-wrapper">

		<!-- socially-page -->
		<div class="row-fluid socially-page page-margin-top">
			
			<?php if(!empty($xuser_data)){?>
			<?php foreach($xuser_data['d'] as $inx => $xuser_info){?>
			<div class="co12-4">
				<div class="box">
					<div class="user-banner">
						<img class="banner"   src="<?php echo '/user_banners/topbanner_'.$xuser_info['uid'].'.png';?>" />
					</div>

					<!-- 左上角 旗子 -->
					<div class="flag">
						<div id="socially-level-name" class="level-txt"><?php _tl('Ly_userlevel_'.$xuser_info['basic']['userLevel']); ?></div>
					</div>

					<!-- 人物頭像 -->
					<div class="user-img">
						<div class="img"><a href="/user/mywalls/<?php echo $relation['d'][$inx]['userUid'];?>"><img src="<?php echo $xuser_info['userImgUrl']; ?>"></a></div>
					</div>

					<!-- 姓名 -->
					<div class="user-name"><a href="/user/mywalls/<?php echo $relation['d'][$inx]['userUid'];?>"><?php HTML($xuser_info['basic']['userRealname']); ?></a></div>
					
					<!-- 社交狀況 -->
					<div class="user-socially">
						<span><?php numeric($xuser_info['uparameter']['uparameterNumFriends']); ?></span>位好友，<span><?php numeric($xuser_info['uparameter']['uparameterNumFollows']); ?></span>位同好
					</div>

					<!-- 動作按鈕 -->
					<div class="socially-buttons">
						<?php if($relation['d'][$inx]['relation_status']['now']=='stranger' && $status!='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<?php if(!empty($relation['d'][$inx]['relation_status']['follow'])){?>
								<div class="s-btn s-btn-normal"  data-action="not_follow">取消追蹤</div>
								<?php }else{?>
								<div class="s-btn s-btn-normal"  data-action="follow">追蹤</div>
								<?php }?>
								<?php if(!empty($relation['d'][$inx]['relation_status']['inviting'])){?>
								<div class="s-btn s-btn-normal"  data-action="not_inviting">取消邀請</div>
								<?php }else{?>
								<div class="s-btn s-btn-normal"  data-action="inviting">加好友</div>
								<?php }?>
							</span>
						<?php }?>
						<?php if($relation['d'][$inx]['relation_status']['now']=='interest' && $status!='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<div class="s-btn s-btn-normal" data-action="follow">追蹤</div>
								<div class="s-btn s-btn-normal" data-action="inviting">加好友</div>
							</span>
						<?php }?>
						<?php if($relation['d'][$inx]['relation_status']['now']=='follow'  && $status!='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<div class="s-btn s-btn-normal" data-action="not_follow">取消追蹤</div>
								<div class="s-btn s-btn-normal" data-action="inviting">加好友</div>
							</span>
						<?php }?>
						<?php if($relation['d'][$inx]['relation_status']['now']=='inviting'  && $status!='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<?php if(!empty($relation['d'][$inx]['relation_status']['follow'])){?>
								<div class="s-btn s-btn-normal"  data-action="not_follow">取消追蹤</div>
								<?php }else{?>
								<div class="s-btn s-btn-normal"  data-action="follow">追蹤</div>
								<?php }?>
								<div class="s-btn s-btn-normal"  data-action="not_inviting">取消邀請</div>
							</span>
						<?php }?>
						<?php if($relation['d'][$inx]['relation_status']['now']=='friend' && $status!='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<div class="s-btn s-btn-normal"  data-action="not_friend" data-confirm="1">取消好友</div>
							</span>
						<?php }?>
						<?php if($status=='response'){?>
							<span class="countmin_relation" data-uid="<?php echo $relation['d'][$inx]['userUid'];?>">
								<div class="s-btn s-btn-normal"  data-action="agree_friend" >回復交友邀請</div>
							</span>
						<?php }?>
						
					</div>
					<!-- 興趣icon -->
					<div class="interest-item socially-interest-item">
						<?php foreach($xuser_info['uprolevel']['d'] as $inx1 => $xuser_pro_level){?>
						<?php if($inx1 <= 2){?>
						<div class="icon">
							<div class="icon-i27 icon-<?php echo $xuser_pro_level['interestId'];?>"></div>
							<span class="count"><?php echo num($xuser_pro_level['userProLevel']);?></span>
						</div>
						<?php }?>
						<?php }?>
					</div>
				</div>
			</div>
			<?php }?>
			
			<script type="text/javascript">
				$("#page-header .mywall").addClass("selected");
				$("#profile_menu").children(".content-wrapper").children(".row-fluid").children("div").removeClass("selected");
				
				$(document).ready(function(){
					if( $("#socially-level-name").html().length > 2 ){
						$("#socially-level-name").addClass("level-lg");
					}
				});
				
			</script>
			
			<?php }?>

		</div>
		<!-- ./socially-page -->

	</div>
</div>