<?php 
$topbannerStyle='';

    if( !empty($xuser['basic']['userTopbanner']) ){
        $topbannerStyle='style="background-image:url('. CZ::model('images')->imagePath_getter($xuser['basic']['userTopbanner'],'_t') .')"';
        $topbanner = CZ::model('images')->imagePath_getter($xuser['basic']['userTopbanner'],'_t');
    }
?>

<script type="text/javascript">
function photoupload(){
	var options = {
		beforeSubmit: function(){
			 $.blockUI({ message: $('#domMessage') }); 
		},
		success: function(){
			$.unblockUI();
		},
		error: function(){
            alert("系統忙碌中....請稍候再試～");
        }
	}

	$("#chk-banner").val("yes");
    $('#photoform').ajaxSubmit(options);
    return false;
}

var loadFile = function(event,output) {
	var $output = $("#"+ output);
    var output = document.getElementById(output);

    if( URL.createObjectURL(event.target.files[0]) == null ) return false;

    $output.css("background-image", "url("+ URL.createObjectURL(event.target.files[0]) +")");

    photoupload();
//    setTimeout(photoupload, 1000);
};

$(document).ready(function(){
	/*
	$(".profile-image-b").hover(function(){
		$(this).children(".chg-head-photo").animate({"bottom": 0}, 200);
		e.preventDefault();
	}, function(){
		$(this).children(".chg-head-photo").animate({"bottom": "-40px"}, 200);
		e.preventDefault();
	});	*/

	//$(".chg-head-photo")

	$("#trans-bg").css("background-image", "url("+ "<?php echo $topbanner; ?>" +")");

	if( $("#topbanner-level-txt").html().length > 2 ){
		$("#topbanner-level-txt").addClass("level-lg");
	}

	$("#chg-banner-pic").on("click", function(){
		$("#chk-banner").val("no");
		$("#banner").click();
	});

	$("#photoform").submit(function( event ){
		if( $("chk-banner").val() === "yes" ){
			return ;
		}
		event.preventDefault();
	});
});
</script>

<div id="domMessage" style="display:none; color: #fff;"> 
    <h1>更換封面照中... 請稍候！</h1> 
</div>

<div id="trans-bg" class="trans-bg"></div>

<div class="wrapper-full topbanner">
	<div class="wrapper-inner">
		<div class="profile-motion row-fluid">
			<div class="co12-6 co12-xs-6">
				<form enctype="multipart/form-data" name="photoform" id="photoform"  action="/user/uploadphoto" method="post">
                    <input type="hidden" name="photoType" value="2" >
                    <input type="hidden" id="chk-banner" name="chk-banner" value="no" />
					<input type="file" class="input" name="photo" id="banner" onchange="loadFile(event,'trans-bg')" style="visibility:hidden;">
				</form>
			</div>
			<div class="co12-6 co12-xs-6">
				<?php 
					$user_uid = form('p', 'string', 'get');
					if( $user_uid == "" || !strcmp($user_uid, ME::user_uid())){
				?>
				<a href="javascript:void(0);" id="chg-banner-pic"><span class="motion"><i class="fa fa-camera"></i> 更換封面照</span></a>
				<a href="/user/about"><span class="motion">更新資料</span></a>
				<a href="/setting/import"><span class="motion">部落客搬家</span></a>
				<?php }else{ ?>
				<span>
					
					<?php if(!ME::is_login()){?>
					<span class="countmin_relation" data-uid="<?php echo $user_uid;?>">
						<span class="motion motion-btn" data-action="test">追蹤</span>
						<span class="motion motion-btn" data-action="test">加好友</span>
					</span>
					<?php }else{?>
					<span class="countmin_relation" data-uid="<?php echo $user_uid;?>">
						<span class="motion motion-btn" data-action="test"></span>
						<span class="motion motion-btn" data-action="test"></span>
					</span>
					<?php }?>
				</span>
				<span class="motion" onclick="top.location='/mailbox/one/<?php echo ME::user_uid();?>/<?php echo $xuser['basic']['userUid']?>';">發訊息<i class="send-message"></i></span>

				<?php } ?>
			</div>
		</div>

		<div class="profile-img row-fluid co12-12">
		<!--	<div class="co12-2 co12-xs-4"> -->
			<div class="left-sidebar text-center">
				<div class="profile-image-b">
                    <?php 
                        if( !empty($xuser['basic']['userProfile']) )
                            echo '<img src="'.CZ::model('images')->imagePath_getter($xuser['basic']['userProfile'],'_m').'">';
                        else
                            echo '<img src="/css/img/default_profile_pic_m.png">';
                    ?>
                    <div class="chg-head-photo"><a href="/user/album" title="編輯照片"><span class="chg-i"><i class="fa fa-camera-retro"></i></span> <span style="display:none;">編輯照片</span></a></div>
				</div>
			</div>

			<!--	<div class="co12-6 co12-xs-6"> -->
			<div class="content-wrapper">
			<!--	<div class="co12-6 co12-xs-12"> -->
				<div class="middle-container">
					<div class="realname"> <?php HTML($xuser['basic']['userRealname']); ?> </div>

					<div class="profile-counter row-fluid">
						<div class="real-counter">
						<a href="/user/socially/?status=friend"><span class="line-word"><?php numeric($xuser['uparameter']['uparameterNumFriends']); ?> 位好友</span></a>
						<a href="/user/socially/?status=follow"><span class="line-word"><?php numeric($xuser['uparameter']['uparameterNumFollows']); ?> 位同好</span></a>
						<a href="/user/socially/?status=follower"><span class="line-word"><?php numeric($xuser['uparameter']['uparameterNumFollowers']); ?> 個追蹤者</span></a>
						</div>
					</div>
				</div>
				<!-- 右邊兩則訊息（發文 & 收藏） -->
				<!--<div class="co12-4 hidden-xs"> -->
				<div class="right-side">
					<div class="thermometer">
						<?php 
							if( !$user_uid == "" && strcmp($user_uid, ME::user_uid())){
						?>
						<div class="interest-similarity">
							<span class="similarity-title">你們興趣相似度</span>
							<span class="similarity-level">高</span>
						</div>
						<img class="similaryity-img" src="/css/img/T_h_phone.png">
						<?php } ?>
					</div>
					<div class="clearfix"></div>
					<div class="profile-counter row-fluid">
						<div class="real-counter">
							<a href="/user/postrecord/<?php value($xuser['uid']); ?>"><span class="line-word"><?php numeric($xuser['uparameter']['uparameterNumPosts']); ?> 則發文</span></a>
							<a href="/user/favourite/<?php value($xuser['uid']); ?>"><span class="line-word"><?php numeric($xuser['uparameter']['uparameterNumFavors']); ?> 個收藏</span></a>
						</div>
					</div>
				</div>
			</div>

			<div id="profile_menu" class="profile-menu row-fluid co12-12">
			<!--	<div class="co12-2 hidden-xs"></div> -->
				<div class="left-sidebar"></div>
			<!--	<div class="co12-9 co12-xs-12"> -->
				<div class="content-wrapper">
					<div class="row-fluid">
						<div class="co16-2 user-level">
							<img src="/css/img/flag.png" />
							<div id="topbanner-level-txt" class="level-txt"><?php  _tl('Ly_userlevel_'.$user_title['title2']); ?></div>
						</div>
						<div class="co16-2<?php echo !strcmp($xuser['selected'],'mywalls')?' selected':''; ?>"> <a href="/user/mywalls/<?php value($xuser['uid']); ?>">主頁</a> </div>
						<div class="co16-2<?php echo !strcmp($xuser['selected'],'about')?' selected':''; ?>"> <a href="/user/about/<?php value($xuser['uid']); ?>">關於</a> </div>
						<div class="co16-3 hidden-xs<?php echo !strcmp($xuser['selected'],'activity')?' selected':''; ?>"> <a href="/user/activity/<?php value($xuser['uid']); ?>">參一腳紀錄</a> </div>
	<?php if(ME::is_me($xuser['uid'])){ ?>
						<div class="co16-3 hidden-xs<?php echo !strcmp($xuser['selected'],'stat')?' selected':''; ?>"> <a href="/personal/stat">數據中心</a> </div>
						<div class="co16-3<?php echo !strcmp($xuser['selected'],'points')?' selected':''; ?>"> <a href="/user/points">點數帳戶</a> </div>
	<?php } ?>
					</div>
				</div>
				<div class="co12-1 hidden-xs"></div>
			</div>

		</div>
	</div>
</div>

