<?php
$type=form('type','string','get');

?>

	<div class="box box-margin-top">
        <div class="head">
            <i class="fa fa-th-list"></i> 發表紀錄
        </div>
        <div class="body">
            <ul class="nostyle">
                <li <?php echo ($type==0 || $type=='') ? 'class="selected"' : '' ?> >
                    <a href="/user/postrecord?type=0"><span>全部發表</span></a>
                </li>
                <li <?php echo ($type==1) ? 'class="selected"' : '' ?>>
                    <a href="/user/postrecord?type=1"><span>動態</span></a>
                </li>
                <li <?php echo ($type==2) ? 'class="selected"' : '' ?>>
                    <a href="/user/postrecord?type=2"><span>活動</span></a>
                </li>
                <li <?php echo ($type==3) ? 'class="selected"' : '' ?>>
                    <a href="/user/postrecord?type=3"><span>草稿</span></a>
                </li>
            </ul>
        </div>
    </div> 
