<div class="box">
	<div class="head">
		<i class="fa fa-user"></i> 關於
	</div>

	<div class="body">
		<ul class="nostyle sidenav-about">
			<li class="<?php echo !strcmp($xuser['sidebar_selected'],'about')?' selected':''; ?>"><a href="/user/about/<?php echo $xuser['p']  ?>"><span>基本和聯絡資料</span></a></li>
			<li class="<?php echo !strcmp($xuser['sidebar_selected'],'prolevel')?' selected':''; ?>"><a href="/user/prolevel/<?php echo $xuser['p']  ?>"><span>各興趣Pro等級</span></a></li>
			<li class=""><a href="/user/album/<?php echo $xuser['p']  ?>"><span>大頭照相本</span></a></li>
			<li class="<?php echo !strcmp($xuser['sidebar_selected'],'exp')?' selected':''; ?>"><a href="/user/exp/<?php echo $xuser['p']  ?>"><span>學歷與工作經驗</span></a></li>
		</ul>
	</div>
</div>

