    <div class="box box-margin-top">
        <div class="head">
            <i class="fa fa-th-list"></i> 點數帳戶
        </div>
        <div class="body">
            <ul class="nostyle">
                <li <?php echo ($_GET['e']=='user/points')?'class="selected"':'' ?>>
                    <a href="/user/points"><span>我的帳戶明細</span></a>
                </li>
                <li <?php echo ($_GET['e']=='user/orderlist')?'class="selected"':'' ?>>
                    <a href="/user/orderlist"><span>訂單紀錄</span></a>
                </li>
            </ul>
        </div>
    </div> 

    <div class="box box-margin-top">
        <div class="head no-border-bottom">
            <div class="box">
                <div class="row-fluid">
                    <div class="co12-12 accumulation-txt">您的帳戶累計點數</div>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="co12-12 row-fluid points-info">
                <div class="co12-3"><span class="fa fa-dollar yellow"></span></div>
                <div class="co12-9 text-right">
                    <span class="text-sm">可兌換點數</span>
                    <span class="user-points"><?php echo number_format($xuser['basic']['userPoint']) ?></span>
                </div>
            </div>

<?php if( date("m") >= 6){ ?>
            <div class="row-fluid co12-12 points-info">
                <div class="co12-3"><span class="fa fa-dollar"></span></div>
                <div class="co12-9 text-right">
                    <span class="text-sm"><?php echo date("Y").'-12-31'; ?> 到期</span>
                    <span class="total-point"><?php echo number_format(CZ::model('users')->expirePointTotal($xuser['uid']) ) ?></span>
                </div>
            </div>
<?php } ?>

            </div>

        <div class="foot">
            <div class="bordered"><a href="/index/goods"><span class="fa fa-gift"></span> 兌換好康</a></div>
            <div class="description">請儘速至[好康兌換專區]換購商品，避免權益喪失唷！</div>
        </div>
    </div>


