<div class="box box-margin-bottom">
	<div class="user-info gs12-12">
        <?php
        	$topbanner = '';
            if( !empty($xuser['basic']['userTopbanner']) )
                $topbanner = '<img src="'. CZ::model('images')->imagePath_getter($xuser['basic']['userTopbanner'],'_ts').'">';
        ?>
        <div class="user-banner"><?php echo $topbanner; ?></div>

		<div class="profile-image">
			<a href="/user/mywalls"><img src="<?php echo CZ::model('images')->imagePath_getter($xuser['basic']['userProfile'],'_m')?>" /></a> 
		</div>
		<div class="user-name">
			<?php html($xuser['basic']['userRealname']); ?>
		</div>
		<div class="user-level">
			<div id="user-level-name" class="name"><?php _tl('Ly_userlevel_'.$xuser['title']); ?></div>
		</div>
		<div class="row-fluid">
			<span class="co12-6 right-line">
				<div><?php numeric($xuser['uparameter']['uparameterNumFriends']); ?></div>
				<div><a href="/user/socially">好友</a></div>
			</span>
			<span class="co12-6">
				<div><?php numeric($xuser['uparameter']['uparameterNumFollows']); ?></div>
				<div><a href="/user/socially">同好</a></div>
			</span>
		</div>
	</div>
</div>

<div class="box">
	<div id="user_pro_point" class="tab-group">
		<div class="tab gs12-6 selected">Pro等級</div>
		<div class="tab gs12-6">點數</div>
	</div>
	<div class="tab-content">
	<?php for($i=0;$i<3;$i++){ ?>
		<div class="interest-item co12-12">
			<div class="icon co12-3 co12-md-3 co12-sm-3">
				<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
			</div>
			<div class="label co12-6 co12-md-8 co12-sm-8">
				<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
				<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
			</div>
			<div class="index-figure co12-3 co12-md-1 co12-sm-1">
				<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
			</div>
		</div>
	<?php } ?>
		<div class="interest-item-more hidden">
		<?php for($i=3;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
			<div class="interest-item">
				<div class="icon co12-2 co12-sm-3">
					<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div>
				</div>
				<div class="label co12-6 co12-sm-7">
					<div class="word"><?php echo $xuser['uprolevel']['d'][$i]['interestName']; ?></div>
					<div class="grade"><?php echo num($xuser['uprolevel']['d'][$i]['userProLevel']); ?></div>
				</div>
				<div class="index-figure co12-4 co12-sm-2">
					<div class="fig fig-<?php echo floor($xuser['uprolevel']['d'][$i]['userProLevel']/20); ?>"></div>
				</div>
			</div>
		<?php } ?>
		</div>
		<div class="interest-item-more-button">
			<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">看詳細興趣</a>	
		</div>
		<div class="interest-item-less-button hidden">
			<a href="#" class="sw" sw-for=".interest-item-more,.interest-item-more-button,.interest-item-less-button">只顯示三個興趣</a>	
		</div>
	</div>
	<div class="tab-content display-user-points user-interests-left" style="display: none;">
		<div class="box margin-bottom-zero">
			<div class="row-fluid">
                <div class="co12-4"><span class="fa fa-dollar"></span></div>
                <div class="co12-8 text-right">可兌換點數
                    <span class="user-points"><?php echo number_format($xuser['basic']['userPoint']) ?></span>
                </div>
            </div>

<?php if( date("m") >= 6 ){ ?>
            <div class="row-fluid expire">
                <div class="co12-4"><span class="fa fa-dollar gray"></span></div>
                <div class="co12-8 text-right"> <?php echo date("Y").'-12-31' ?> 到期
                    <span class="total-point"> <?php echo number_format(CZ::model('users')->expirePointTotal($xuser['uid']) ) ?> </span>
                </div>
            </div>
<?php } ?>


            <div class="row-fluid border-top">
                <div class="text-center point-record-txt"><a href="/user/points">看點數紀錄</a></div>
            </div>
        </div>

		<!--<?php echo $xuser['basic']['userPoint']; ?> 點 -->
	</div>
</div>




