<script type="text/javascript">
var urlindex=-1;
var active_li=0;

$(document).ready(function(){
	$(".open-stat").on("click", function(){
		$(this).siblings(".open-setting").show();
	});

	$(".open-setting ul li a").on("click", function(){
		$(this).parent().parent().parent(".open-setting").hide();
	});

	if( $("#user-level-name").html().length > 2 ){
		$("#user-level-name").addClass("level-lg");
	}

	urlindex = location.href.indexOf("&i=");

	$("#dropdown-interests").on("click", function(){
		var $this = $(this);
		var interests_menu = $this.data("target");

		$("#"+ interests_menu ).toggleClass("hidden");

		// icon 高度
		var icon_width = $("#dropdown-interests-menu").children(".icon").css("width");
		$("#dropdown-interests-menu").children(".icon").css("height", icon_width);

		// i27 padding top
		var i27_height = $("#dropdown-interests-menu").children(".icon").children(".icon-i27").height();
		var icon_txt_height = $("#dropdown-interests-menu").children(".icon").children(".txt").height();

		var i27_padding_top = ( parseInt(icon_width) - (i27_height + icon_txt_height) ) / 2;

		$("#dropdown-interests-menu").children(".icon").children(".icon-i27").css("margin-top", i27_padding_top +"px");
	});
});
</script>

<div class="row-fluid page-side co12-12 page-margin-top">
	<!-- 左側 -->
	<div class="left-sidebar hidden-xs hidden-screen-sm">
		<?php CZ::grid('user','user-basic',$xuser); ?>
	</div>
	<!-- ./左側 -->

	<!-- 中間 -->
	<div class="content-wrapper">
		<div id="wallpost-intersting" class="wallpost-intersting row-fluid co12-xs-12">
			<div class="box box-padding-bottom box-margin-bottom">
				<div class="tab-group">
					<div class="tab co12-2 co12-xs-4 refresh-wallposts <?php echo ($wall_type=='') ? 'selected' : '';?>" rw-type="all" onclick="self.location='<?php echo $_SERVER['PHP_SELF']?>';">全部</div>
					<div class="tab co12-2 co12-xs-4 refresh-wallposts <?php echo ($wall_type=='active') ? 'selected' : '';?>" rw-type="post" onclick="self.location='<?php echo $_SERVER['PHP_SELF']?>?t=active';">動態</div>
					<div class="tab co12-2 co12-xs-4 refresh-wallposts <?php echo ($wall_type=='event') ? 'selected' : '';?>" rw-type="active" onclick="self.location='<?php echo $_SERVER['PHP_SELF']?>?t=event';">活動</div>
				</div>

				<div class="interest-category hidden-screen-min-md">
					<span class="category-text"> 興趣分類 </span>
					<span id="dropdown-interests" data-target="dropdown-interests-menu" class="pull-right"><i class="fa fa-chevron-down"></i></span>
					<!-- mobi interest 分類 -->
					<div id="dropdown-interests-menu" class="dropdown-interests-menu interest-item row-fluid hidden">
						<?php for($i=0;$i<$xuser['uprolevel']['args']['num'];$i++){ ?><div class="icon <?php if( $i%4 == 0 ){ echo "bor-no-lt"; } if( floor($i/4) > 0 ){ echo " bor-no-tp"; } if( $i == ($xuser['uprolevel']['args']['num'] - 1) ){ echo " bor-rt"; } ?>" onclick="self.location='<?php echo $_SERVER['PHP_SELF']?>?t=<?php echo $wall_type;?>&i=<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>';"><div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>"></div><span class="txt"><?php html($xuser['uprolevel']['d'][$i]['interestName']); ?></span>
						</div><?php } ?>
					</div>
					<!-- ./mobi interest 分類-->
				</div>

				<div class="interest-item interest-list hidden-screen-sm">
					<div>
						<ul class="nostyle slider1">
			<?php for($i=0;$i<$xuser['uprolevel']['args']['num'];$i++){ ?>
							<li class="slide refresh-wallposts icon <?php echo ($wall_interests==$xuser['uprolevel']['d'][$i]['interestId']) ? 'active' : '';?>" rw-interest="<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>" onclick="self.location='<?php echo $_SERVER['PHP_SELF']?>?t=<?php echo $wall_type;?>&i=<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>'">
								<div class="icon-i27 icon-<?php echo $xuser['uprolevel']['d'][$i]['interestId']; ?>">
									<span class="txt hidden-xs"><?php html($xuser['uprolevel']['d'][$i]['interestName']); ?></span>
								</div>
							</li>
			<?php } ?>
						</ul>
					</div>

					<div class="interest-item-mask-left">
						<div class="arrow"><i class="fa fa-caret-left"></i></div>
					</div>
					<div class="interest-item-mask-right">
						<div class="arrow"><i class="fa fa-caret-right"></i></div>
					</div>
				</div>
			</div>
		</div>

		<!-- 中間下面 -->
		<div class="row-fluid">
			<div class="page-wallposts middle-container co12-xs-12">
				<div class="box">
					<div class="leave-wallpost">
						<ul>
							<li>
								<div class="profile-image-s2">
									<img src="<?php echo $userPhoto?>" />
								</div>
								<div class="wallpost-plus-post editor">
									<a href="javascript:void(0);"><div class="icon"></div></a>
								</div>
							</li>

							<li class="wallpost-post">
								<a href="javascript:void(0);" data-target="btn-wallpost-new" data-action="click">
									<div class="fa fa-pencil"></div>
									<span>動態</span>
								</a>
								<div class="right-line first-line"></div>
							</li>

							<li class="lottery-post">
								<a href="javascript:void(0);"  data-target="btn-lottery-new" data-action="click">
									<div class="icon"></div>
									<span>辦抽獎</span>
								</a>
								<div class="right-line"></div>
							</li>

							<li class="spread-post">
								<a href="javascript:void(0);" data-target="btn-spread-new" data-action="click">
									<div class="icon"></div>
									<span>揪團</span>
								</a>
								<div class="right-line"></div>
							</li>

							<li class="pulling-post">
								<a href="javascript:void(0);" data-target="btn-pulling-new" data-action="click">
									<div class="icon"></div>
									<span>推廣活動</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="wallposts">
					<div class="wallposts_after"  style="display:none"	data-wtype="<?php echo $wall_type;?>" data-winterests="<?php echo $wall_interests;?>" >新文章</div>
					<?php for($i=0;$i<$wallposts['args']['num'];$i++){
								 echo CZ::model('wallposts')->wallpost_get_layout($wallposts['d'][$i]);
								}
					 ?>
					<div class="wallposts_before" style="display:none" data-wtype="<?php echo $wall_type;?>" data-winterests="<?php echo $wall_interests;?>">舊文章</div>
				</div>
			</div>

			<div class="page-info right-side hidden-xs hidden-screen-sm">
                <!-- 你可能感興趣的人 -->
                <?php CZ::grid('index','interestpeople',$people); ?>
                <?php //var_dump($people); ?>

                <!-- 你可能有興趣的好康 -->
                <div class="box <?php if($people['args']['num']){ ?> page-margin-top <?php } ?> interest-goods">
                    <div class="head">
                        你可能有興趣的好康
                        <span class="pull-right"><a href="/index/goods">更多</a></span>
                    </div>

                    <div class="goods-list co12-12 row-fluid">
                    	<?php
			            	if(  $goods['args']['num'] == 0 )
			                	echo '<div class="find-empty">查無相符資料</div>';

			            	for($i=0;$i<$goods['args']['num'];$i++){
			        	?>
                    	<div class="co12-4">
                    		<?php echo '<a href="/index/goodsdetail?gid='.$goods['d'][$i]['goodsUid'].'"><img src="'.CZ::model('images')->imagePath_getter($goods['d'][$i]['imageUidMaster'],'_dl').'" /></a>'; ?>
                    	</div>
                    	<?php } ?>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>




